<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.dqys.core.interceptor.CrossOriginIntercetpor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <!--默认全部需要登录身份-->
            <mvc:mapping path="/**"/>

            <mvc:exclude-mapping path="/auth/session_id"/>
            <mvc:exclude-mapping path="/auth/captcha"/>
            <mvc:exclude-mapping path="/auth/sms_code"/>
            <mvc:exclude-mapping path="/auth/login"/>
            <mvc:exclude-mapping path="/auth/login_p"/>
            <mvc:exclude-mapping path="/auth/register"/>
            <mvc:exclude-mapping path="/auth/reset_mobile"/>
            <mvc:exclude-mapping path="/auth/reset_mail"/>
            <mvc:exclude-mapping path="/auth/validate_user"/>
            <mvc:exclude-mapping path="/auth/sendEmaiCode"/>
            <mvc:exclude-mapping path="/auth/validMailCode"/>
            <mvc:exclude-mapping path="/auth/resetMail"/>
            <mvc:exclude-mapping path="/auth/verifyImgCode"/>
            <mvc:exclude-mapping path="/auth/sendSmsCodeByEmail"/>
            <mvc:exclude-mapping path="/auth/resetMobile"/>
            <mvc:exclude-mapping path="/auth/validSmsCodeByEmail"/>
            <mvc:exclude-mapping path="/auth/verifyLoginName"/>

            <mvc:exclude-mapping path="/err/err"/>

            <bean class="com.dqys.core.interceptor.HeaderInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>


</beans>
