<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.persistent.auth.dao.TTeamInfoMapper" >

  <cache type="com.dqys.core.cache.MybatisRedisCache" eviction="LRU"/>

  <resultMap id="BaseResultMap" type="com.dqys.persistent.auth.pojo.TTeamInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="stateflag" property="stateflag" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="manager_user_id" property="managerUserId" jdbcType="INTEGER" />
    <result column="team_name" property="teamName" jdbcType="VARCHAR" />
    <result column="team_member_user_ids" property="teamMemberUserIds" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, version, create_at, update_at, stateflag, remark, company_id, manager_user_id, 
    team_name, team_member_user_ids
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_team_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update t_team_info set stateflag=CURRENT_TIMESTAMP
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.dqys.persistent.auth.pojo.TTeamInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into t_team_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="remark != null" >
        remark,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="managerUserId != null" >
        manager_user_id,
      </if>
      <if test="teamName != null" >
        team_name,
      </if>
      <if test="teamMemberUserIds != null" >
        team_member_user_ids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="managerUserId != null" >
        #{managerUserId,jdbcType=INTEGER},
      </if>
      <if test="teamName != null" >
        #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="teamMemberUserIds != null" >
        #{teamMemberUserIds,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dqys.persistent.auth.pojo.TTeamInfo" >
    update t_team_info
    <set >
      version = version+1,
      update_at = CURRENT_TIMESTAMP ,
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="managerUserId != null" >
        manager_user_id = #{managerUserId,jdbcType=INTEGER},
      </if>
      <if test="teamName != null" >
        team_name = #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="teamMemberUserIds != null" >
        team_member_user_ids = #{teamMemberUserIds,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
    and version = #{version,jdbcType=INTEGER}
    and stateflag=0
  </update>
</mapper>