/*清除默认样式*/
body,div,p,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,tr,td,span,i,b,strong,em,input,pre{ padding:0px; margin:0px;font-family:"微软雅黑";}
*{ padding:0px; margin:0px;}
li{ list-style:none;}
em,i{ font-style:normal;}
img{ border:0px none;}
a{ text-decoration:none; color:#3c3c3c; cursor:pointer;outline:none;}
a:hover{color:#33B5D5;}
a,img{border:0;}
body{font-size:14px; font-family:"Helvetica"; color:#48484a; background-color:#fff;overflow-x: hidden;}
.clearFix:after { content:"."; clear:both; display:block; height:0px; visibility:hidden; }
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
.ycyc{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.clfd{ clear:both;}
input[type=”button”], input[type=”submit”], input[type=”reset”] {-webkit-appearance: none;}

input{outline:0px;}


/*::-moz-placeholder { color: #fff;}
::-webkit-input-placeholder { color:#fff;}
:-ms-input-placeholder { color:#fff;}*/

/*后台登陆*/
.htloginv{width: 410px;border: 1px #F0F0F0 solid;padding: 50px 70px;box-shadow: 0px 0px 5px #F0F0F0;border-radius: 3px;position: absolute;top: 50%;margin-top: -227px;left: 50%;margin-left:-276px;}
.htlogintit{font-size:28px;color:#333;line-height:28px;text-align:center;width:100%;border-bottom: 1px #F0F0F0 solid;padding-bottom: 6px;margin:0 auto 50px auto;}
.htlogk>span,.htlogyzk>span{display: block;font-size:12px;color:#999;line-height:12px;text-align:center;margin-top: 15px;width:100%;}
.htlogk>input{width:100%;display: block;margin-top: 15px;height: 32px;border: 1px #F0F0F0 solid;text-align: center;}
.htlogymzv{overflow: hidden;margin-top: 15px;}
.htlogyk{width:47%;height:32px;border: 1px #F0F0F0 solid;float: left;}
.htlogyk{text-align: center;margin-right: 3%;}
.htlogykimg{width:110px;height:32px;float: left;margin-right:3%;}
.htlogbtn{width: 210px;height: 32px;border: 1px #F0F0F0 solid;text-align: center;border-radius: 3px;font-size:14px;color:#fff;line-height:32px;background: #0099FF;border: none;margin:25px auto 0 auto;display: block;cursor: pointer;}
.htlogykchag{float: left;font-size:14px;color:#529BDF;line-height:32px;cursor: pointer;}







.flof{float: left;}

.imgcen{justify-content: center; align-items: center; display: flex;}
.ov{overflow: hidden;}
.ovw100{overflow: hidden;width: 100%;}
.ov1190{overflow: hidden;width: 1190px;margin: auto;}
.lbaahov{color: #33B5D5;}
.lbaimg>img{width: 100%;}
.lbahebja{background:#008EB7;}
.lbahebjb{background:#00A2CA;}
.lbamabom{margin-bottom: 20px;}
.boder-ccc{border: 1px solid #CCCCCC;}
.positionr{position: relative;}
.mtop20{margin-top: 20px!important;}
.lbabgff{background: #fff !important;}
.lbamapm{margin:20px auto !important;}
.lbapam50{margin-bottom: 50px !important;}

/*固定资产新加*/
.batabqh{width:100%;height: 30px;border-bottom: 2px #e9e9e9 solid;position: relative;padding-top: 20px;}
.batabqh>span{font-size: 14px;color: #999;line-height: 30px;height: 28px;display:inline-block;padding:0 13px;margin-bottom: -2px;margin-right: 15px;cursor:pointer;}
.bazyglnrvv{display: none;}


/*个人中心*/
.lbaabl{min-width: 980px;}
.lbagrzxtop{width: 100%;min-width:1100px;height: 60px;background: #3f3f3f;position: fixed;top: 0;left: 0;z-index:999998;}
.lbagrzxtopf{width:90px;height:40px;float: left;margin-top:6px;margin-left: 11px;}
.lbagrzxtopf>a{display: block;width:90px;height:40px;margin:auto;}
.lbagrzxtopf>a>img{width: 100%;}
.lbagxtopm{width:30%;float: left;margin-left: 26px;font-size:24px;color:#ccc;line-height:60px;}
.lbagxtopr{float:right;margin-right:90px;}
.lbagxtoprhe,.lbagxtoprxx{display:inline-block;height: 18px;padding:0 20px;border-right:1px #AEAEAE solid;}
.lbagxtoprhe>em,.lbagxtoprhe>i,.lbagxtoprxx>em,.lbagxtoprxx>i,.lbagxtoprtz>em,.lbagxtoprtz>i{display: inline-block;vertical-align: middle;}
.lbagxtoprhe>em,.lbagxtoprxx>em{margin-right: 5px;}
.lbagxtoprhe>em{width:15px;height:15px;background: url(../img/xiaoimg.png) -273px -161px no-repeat;}
.lbagxtoprhe>i{font-size:12px;color:#AEAEAE;line-height: 12px;}
.lbagxtoprxx>em{width:18px;height:22px;background: url(../img/xiaoimg.png) -3px -3px no-repeat;}
.lbagxtoprxx>i,.lbagxtoprtz>i{padding:2px 10px;font-size:12px;color: #fff;line-height: 12px;background: #FF9900;border-radius: 5px;}
.lbagxtoprtz{display:inline-block;padding:18px 20px;}
.lbagxtoprtz>em{width: 21px;height: 21px;background: url(../img/xiaoimg.png) -34px -6px no-repeat;}
.lbagxtoprtz>i{margin-left: 5px;}
.lbagxtoprimg{width: 32px;height: 32px;display:inline-block;margin:0px 25px 0 8px;border-radius: 50%;overflow: hidden;vertical-align: middle;}
.lbagxtoprimg>img{width: 100%;height: 100%;}
.lbagxtoprmc{display:inline-block;vertical-align:middle;cursor: pointer;position: relative;height: 60px;}
.lbagxtoprmc>em{display:inline-block;font-size:14px;color:#AEAEAE;line-height: 14px;margin-right:5px;vertical-align: middle;margin-top: 22px;}
.lbagxtoprmc>i{display: inline-block;vertical-align:middle;margin-top: 22px;width: 17px;height: 10px;}
.lbagxtoprmcura{background: url(../img/xiaoimg.png) -71px -10px no-repeat;}
.lbagxtoprmcur{background: url(../img/xiaoimg.png) -104px -10px no-repeat;}
.lbagrzxlbtc{position:absolute;z-index:9999;left:0px;top:62px;background: #000000;border-radius:3px;padding:8px 18px;width:122px;display: none;}
.lbagrzxlbtc>li{display: block;font-size:14px;color: #fff;line-height:14px;padding:10px 0;}
.lbagrzxlbtc>li>a{display: block;color: #fff;}
.lbagrzxlbtc>li>a:hover{color:#33B5D5;}
.lbagxnrv{width: 100%;height:100%;overflow: hidden;}
.lbagxnrvf{width:8%;min-width:130px;float:left;background:#3f3f3f;height: 100%;position: fixed;left: 0;top: 60px;z-index: 9;}
.lbagxnrvf>ul>li{width:100%;padding:4px 0 4px 0%;}
.lbagxnrvf>ul>li:first-child{padding-top: 0px;}
.lbakjsyftp{cursor: pointer;}
/*.lbagxnrvf>ul>li:hover .lbakjsyftp{background:#72cff8;}
.lbagxnrvf>ul>li:hover em{color: #fff !important;}*/
.lbagxfdhcur>p{background:#2db7f5;}
.lbagxfdhcur>p>em{color: #fff !important;}
.lbagxfdhcur>p>i{background: url(../img/xiaoimg.png) -288px -5px no-repeat;} /*框架左侧导航中的小箭头*/
.lbagxfdhcur1>p{background:#72cff8;}
.lbagxfdhcur1>p>em{color: #fff !important;}
.lbagxfdhcur1>p>i{background: url(../img/xiaoimg.png) -288px -5px no-repeat;}




.lbagxnrvf>ul>li>p{overflow: hidden;padding-left:9%;}
.lbagxnrvf>ul>li span{width: 17px;height: 17px;margin:8px 5px 0 0;float: left;}
.lbagxnrvf>ul>li em{font-size:12px;color:#999;line-height:34px;float: left;}
.lbagxnrvf>ul>li i{width:10px;height:4px;float:right;margin:15px 15px 0 0;}
.lbakjejdh{background:#323232;display: none;padding:10px 0;}
.lbakjejdh>p{font-size:12px;color:#999;line-height:12px;padding:10px 0;padding-left:24%;cursor: pointer;}
.lbakjejdh>p:hover{color: #fff;}
.lbakjsyloga{background: url(../img/xiaoimg.png) -199px -7px no-repeat;}
.lbagxfdhcur1 .lbakjsyloga,.lbagxfdhcur .lbakjsyloga{background: url(../img/xiaoimg.png) -232px -7px no-repeat;}

.lbakjsylogj{background: url(../img/xiaoimg.png) -132px -6px no-repeat;}
.lbagxfdhcur1 .lbakjsylogj,.lbagxfdhcur .lbakjsylogj{background: url(../img/xiaoimg.png) -165px -6px no-repeat;}


.lbakjjtcur{background: url(../img/xiaoimg.png) -268px -5px no-repeat;}
.lbakjjtcura{background: url(../img/xiaoimg.png) -268px -19px no-repeat;}


.lbagxnrvr{width:92%;position:absolute;right: 0;top: 60px;z-index: 1;background: #F4F4F4;padding-bottom: 130px;min-height: 860px;}
.lbagxrzt{background: #f4f4f4;padding: 0px 16px;}
.lbagxrfot{width: 100%;height:80px;background: #b8b9b9;font-size: 14px;line-height:80px;text-align: center;color: #fff;position: absolute;left: 0;bottom: 0;}
.lbakjztnrdhx{width: 100%;height: 32px;color: #999;}
.lbakjztnrdhx>span{font-size:12px;color: #999;line-height: 32px;}
.lbakjztnrv{width:100%;background: #fff;border-radius:5px;min-height: 710px;position: relative;}

/*首页*/
.lbasynra{overflow: hidden;margin-bottom:20px;}
.lbasynra>p{width: 63px;height: 63px;float: left;margin-left: 28px;}
.lbasynra>p>img{width: 100%;}
.lbasynra>span{float: right;font-size:14px;color: #999;line-height:14px;margin:13px 49px 0 0;}
.lbasynra>span>em{margin-left: 38px;}
.lbasynram{width: 510px;float: left;margin-left:20px;}
.lbasynrampa{margin: 5px 0 10px 0;}
.lbasynrampa>span,.lbasynrampa>b,.lbasynrampa>em,.lbasynrampa>i,.lbasynrampb>i,.lbasynrampb>span{display: inline-block;vertical-align: middle;}
.lbasynrampa>span{width: 11px;height: 11px;background: #ff9900;border-radius: 50%;}
.lbasynrampa>b{font-weight: bold;font-size:16px;color: #666;margin: 0 13px;}
.lbasynrampa>em{font-weight: bold;font-size:14px;color: #999;}
.lbasynrampa>i{font-size:14px;color: #999;}
.lbasynrampb>i{font-size:14px;color: #999;}
.lbasynrampb>span{background: url(../img/xiaoimg.png) -317px -6px no-repeat;width: 15px;height: 20px;margin-right: 10px;}
.lbasynrb{position: relative;width:98.5%;height: 39px;}
.lbasynrb>p{width: 100%;border-bottom:1px #ccc solid;position: absolute;top: 38px;left: 0;z-index: 3;}
.lbasynrb>ul{overflow: hidden;position: absolute;top: 0;left: 0;z-index: 4;margin-left: 1.5%;}
.lbasynrb>ul>li{padding:0px 25px;height:38px;font-size:14px;color:#666;line-height:38px;text-align: center;border: 1px #e4e4e4 solid;border-bottom: none;float: left;margin-left: 10px;cursor: pointer;}
.lbasynrb>ul>li:first-child{margin-left:0 !important;}
.lbasynrbcur{border: 1px #ccc solid !important;background:#f8f9fc;border-bottom: none !important;color: #1E1E1E !important;}
.lbasynrbqhv{width:97%;padding:16px 1.5% 0 1.5%;padding-bottom:45px;background: #f8f9fc;}
.labsynrbqhvaa{width: 100%;height: 148px;background: #fff;border: 1px #d7d7d7 solid;border-radius: 2px;margin-bottom: 18px;}
.labsynrbqhvaatit{display: block;font-size:14px;color:#333;line-height:14px;padding: 20px 25px 20px 25px;}
.lsynbqvaamv{overflow: hidden;}
.lsynbqvaamv>ul{height:77px;float: left;overflow: hidden;border-right: 1px #ccc solid;margin-left: 25px;}
.lsynbqvaamv>ul>li{float: left;width: 150px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.lsynbqvaamv>ul>li>span{display: block;font-size:12px;color:#999;line-height:12px;}
.lsynbqvaamv>ul>li>em{display: block;font-size:28px;color:#1E1E1E;line-height:28px;margin:10px 0;}
.lsynbqvaamv>ul>li>a{display: block;font-size:12px;color:#2DB7F5;line-height:12px;}
.lsynbqvaamv>a{float: right;width: 97px;height:30px;background: #ccc;text-align: center;border-radius: 3px;font-size: 12px;line-height: 30px;color: #fff;margin-right:11.3%;}
.lksnbmm{width:96.5%;height:31px;margin: auto;border-radius: 3px;background: #f2f2f2;vertical-align: middle;padding-top: 9px;margin-bottom: 65px;}
.lksnbmm>span{display: inline-block;margin-left:15px;font-size:14px;color:#999;vertical-align: middle;}
.lksnbmm>em{display: inline-block;margin:0 13px;font-size:16px;color:#333;vertical-align: middle;}
.lksnbmm>a{display: inline-block;font-size:14px;color:#2DB7F5;vertical-align: middle;}
.curdis{display: none !important;}
.lksnbbtit>span{font-size: 16px;color: #333;line-height: 16px;font-weight: bold;margin-right:10px;}
.lksnbbtit>a{font-size: 14px;color:#2DB7F5;line-height: 14px;}
.lksnbctit>span{display: inline-block;width: 11px;height: 11px;background:#FF9900;border-radius: 50%;vertical-align: middle;margin-left: 4px;}
.lksnbctit>em{display: inline-block;font-size: 16px;color: #333;font-weight: bold;margin: 0 7px 0 11px;vertical-align: middle;}
.lksnbctit>i{display: inline-block;font-size: 16px;color: #999;vertical-align: middle;}
.labsynrbqhvac{width: 100%;background: #fff;border-radius: 2px;margin-bottom: 18px;margin-top: 18px;}
.lksnbqhcp{height: 38px;background:#F2F2F2;border: 1px #ccc solid;font-size: 14px;color: #666;line-height: 40px;}
.lksnbqhcp>span,.lksnqhbcul>li>span{width:66px;display: inline-block;margin-left: 21px;margin-right:4%;}
.lksnbqhcp>span{text-align: center;}
.lksnbqhcp>em,.lksnqhbcul>li>em{width:30%;display: inline-block;}
.lksnbqhcp>i,.lksnqhbcul>li>i{width:36%;display: inline-block;}
.lksnbqhcp>b,.lksnqhbcul>li>b{width:6%;display: inline-block;font-weight: normal;}
.lksnbqhcp>strong,.lksnqhbcul>li>strong{width:12%;display: inline-block;font-weight: normal;}
.lksnqhbcul>li{border: 1px #e4e4e4 solid;border-top: none;padding: 15px 0;}
.lksnqhbcul>li>span{height:30px;border-radius: 3px;font-size: 12px;text-align: center;line-height: 30px;}
.lksqbbbcura{background:#57C5F7;color:#fff;}
.lksqbbbcurb{background:#FF9900;color:#fff;}
.lksqbbbcurc{background:#ccc;color:#fff;}
.lksqbbbcurd{border:1px #999 solid;color:#999;}
.lksnqhbcul>li>em,.lksnqhbcul>li>i{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}


/*资源管理-固定资产*/
.lzlgutit,.lzlgutit3{width: 100%;height: 30px;border-bottom: 2px #e9e9e9 solid;position: relative;padding-top: 20px;}
.lzlgutit>span,.lzlgutit3>span{position: absolute;bottom:-2px;left: 0;font-size: 14px;color: #2DB7F5;line-height: 30px;height: 28px;border-bottom: 4px #2db7f5 solid;display: block;padding:0 13px;}
.lzlgutit>em{position: absolute;bottom:0px;left:90px;font-size: 12px;color: #ccc;line-height: 30px;height: 28px;display: block;padding:0 13px;}
.lxttzrtit{position: absolute;bottom:0px;right:20px;font-size: 12px;color: #ccc;line-height: 30px;height: 28px;display: block;padding:0 13px;}
.lxttzrtit>b{font-size: 14px;color:#4DB8DB;font-weight: normal;}
.lxttzrtit>i{font-size: 14px;color:#333;}
.lzgusxv{margin-top: 25px;height:30px;}
.lzlglb{border: 1px #e1e6eb solid;margin-top:8px;}
.lzlglbtop{border-bottom: 1px #e1e6eb solid;background: #f5f6fa;height: 50px;overflow: hidden;}
.lzlglbtop>span,.lzlgnrul>li>span{display: inline-block;font-size: 14px;color:#666;line-height: 50px;padding-left:0.5%;/*height: 50px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;*/}
.lzlglbtop>span{border-left: 1px #e1e6eb solid;}
.lzlglbtop>span:first-child{border-left:none;}
.lzlglbtopspk>em{display: none;position: absolute;left: 0;top: 45px;z-index: 99999;background: #fff;border: 1px #e1e6eb solid;width:100%;box-shadow: 0px 0px 5px #e1e6eb ; border-radius: 3px;overflow: hidden;}
.lzlglbtopspk>i{cursor: pointer;}
.lzlglbtopspk>em>i{display: block;font-size: 14px;color:#666;line-height:30px;padding-left:10px;}
.lzlglbtopspk>em>i:hover{background: #2DB7F5;color: #fff !important;cursor: pointer;}
.lccddcur{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}



.lzlglbtopspa{width:3%;}
.lzlglbtopspb{width:8%;}
.lzlglbtopspc{width:12%;}
.lzlglbtopspd{width:5%;}
.lzlglbtopspe{width:7%;}
.lzlglbtopspf{width:5%;}
.lzlglbtopspg{width:13%;}
.lzlglbtopsph{width:6%;}
.lzlglbtopspj{width:7%;}
.lzlglbtopspk{width:5%;position: relative;}
.lzlglbtopspl{width:5%;}
.lzlglbtopspm{width:13%;}
.lzlglbtopyha{width: 3%;}
.lzlglbtopyhb{width: 6%;}
.lzlglbtopyhc{width: 6%;}
.lzlglbtopyhd{width: 5%;}
.lzlglbtopyhe{width: 9%;}
.lzlglbtopyhf{width: 5%;}
.lzlglbtopyhg{width: 8%;}
.lzlglbtopyhh{width: 7%;}
.lzlglbtopyhj{width: 14%;}
.lzlglbtopyhk{width: 7%;}
.lzlglbtopyhl{width: 7%;}
.lzlglbtopyhm{width: 4%;}
.lzlglbtopyhn{width: 4%;}
.lzlglbtopgjb{width: 8%;}
.lzlglbtopgjc{width: 13%;}
.lzlglbtopgjd{width: 6%;}
.lzlglbtopgje{width: 6%;}
.lzlglbtopgjf{width: 13%;}
.lzlglbtopgjg{width: 5%;}
.lzlglbtopgjh{width: 6%;}
.lzlglbtopgjj{width: 7%;}
.lzlglbtopgjk{width: 5%;}
.lzlglbtopgjl{width: 5%;}
.lzlglbtopgjl{width: 10%;}
.lzlglbtopbjb{width: 10%;}
.lzlglbtopbjc{width: 8%;}
.lzlglbtopbjd{width: 15%;}
.lzlglbtopbje{width: 5%;}
.lzlglbtopbjf{width: 9%;}
.lzlglbtopbjg{width: 9%;}
.lzlglbtopbjh{width: 7%;}
.lzlglbtopbjj{width: 5%;}
.lzlglbtopbjk{width: 12%;}
.lzlglbtopbjl{width: 4%;}
.lzlglbtoprzb{width: 11%;}
.lzlglbtoprzc{width: 7%;}
.lzlglbtoprzd{width: 13%;}
.lzlglbtoprze{width: 10%;}
.lzlglbtoprzf{width: 10%;}
.lzlglbtoprzg{width: 13%;}
.lzlglbtoprzh{width: 11%;}
.lzlglbtoprzj{width: 10%;}
.lzlglbtoprzk{width: 5%;}
.lzlglbtopwzb{width: 50px;}
.lzlglbtopwzc{width: 33%;}
.lzlglbtopwzd{width: 10%;}
.lzlglbtopwze{width: 7%;}
.lzlglbtopwzf{width: 7%;}
.lzlglbtopwzg{width: 7%;}
.lzlglbtopwzh{width: 8%;}
.lzlglbtopwzj{width: 12%;}
.lzlglbtopdzb{width: 11%;}
.lzlglbtopdzc{width: 8%;}
.lzlglbtopdzd{width: 10%;}
.lzlglbtopdze{width: 12%;}
.lzlglbtopdzf{width: 13%;}
.lzlglbtopdzg{width: 13%;}
.lzlglbtopdzh{width: 9%;}
.lzlglbtopdzj{width: 15%;}


/*固定资产弹窗*/
.ladtcv{display:none;position: fixed;z-index:999999;width: 100%;height: 100%;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#66000000', endColorstr='#66000000');background:rgba(0,0,0,0.4);overflow: hidden;overflow-y: auto;}
.ladtcvma{width:1075px;margin:auto;background: #ffffff;border-radius: 5px 5px 5px #ccc;padding-top: 50px;padding-bottom: 50px}
.ladtcmatop{width:1025px;background:#fff;position:fixed;top:0px;left:50%;margin-left:-546px;z-index:999;padding:0 25px;height:49px;border-bottom:1px #ccc solid;overflow: hidden;box-shadow: 0 0 5px #ccc;}
.ladtcmatop>span{width: 70%;float: left;font-size:16px;color: #000;line-height:48px;}
.ladtcmatop>em{width:20px;height:20px;background: url(../img/xiaoimg.png) no-repeat -394px -1px;float: right;margin-top:15px;cursor: pointer;}
.ladtcnrm{padding: 2%;}
.lacdxpa,.lacdxpa>span,.lacdxpa>span>em,.lacdxpa>span>i{display: inline-block;}
.lacdxpa>span{margin-left: 20px;vertical-align:middle;}
.lacdxpa>span:first-child{margin-left: 10px;}
.lacdxpa>span>em{width: 13px;height: 13px;border:1px #ccc solid;background: #fff;vertical-align:middle;cursor: pointer;}
.lacdxpa>span>i{font-size: 16px;color: #666;line-height: 16px;margin-left:8px;vertical-align:middle;}
.radiuscurb{background:url(../img/duih.png) #2db7f5 no-repeat !important;width: 16px;height: 16px;display: inline-block;border:1px #2db7f5 solid !important;}
.lbagffbse>em{float:left;margin-left: 10px;line-height: 28px;}
.lbagffbse{height:30px;}

.ldeletc{display:none;position: fixed;z-index:99999;width: 100%;height: 100%;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#66000000', endColorstr='#66000000');background:rgba(0,0,0,0.4);}
.ldelscdv{background: #fff;box-shadow: 0 0 5px #ccc;border-radius: 3px;padding: 30px;width: 335px;margin:11% auto 0 auto;}
.ldeptop>img{display: inline-block;vertical-align:middle;width: 26px;height: 26px;}
.ldeptop>span{display: inline-block;vertical-align:middle;font-size:14px;color: #666;margin-left: 10px;font-weight: bold;}
.ldetenrogn{display:block;font-size:14px;color: #666;margin-left:37px;margin-top: 10px;}
.ldeanbtn{overflow: hidden;margin-top: 10px;}
.ldeanqx{float: right;font-size:14px;color: #666;border-radius: 3px;padding:5px 15px;border: 1px #e1e1e1 solid;cursor: pointer;}
.ldeqdan{float: right;font-size:14px;color: #fff;border-radius: 3px;padding:5px 15px;border:none;background: #57c5f7;margin-left: 10px;cursor: pointer;}



#lbatimjksj1,#lbatimjksj2{display:inline-block;width:230px;height:24px;overflow: hidden;border: 1px #ccc solid;padding-left: 10px;}
.lbagfxqmsk{background:#FAFAFA;border:1px #F2F2F2 solid;border-radius:2px;padding: 12px;font-size:14px;color: #999;line-height: 20px;}
.lbagfxqmsk>em{color:#ff3361;}
.lbagfxqnx{height:40px;border:1px #e4e4e4 solid;background: #f5f5f5;border-radius:2px;margin-top: 10px;}
.lbagfxqnx>em{display: inline-block;font-size:16px;color: #1E1E1E;margin-left: 10px;line-height: 40px;}
.lbagfxqnx>img{display: inline-block;width: 261px;height: 16px;margin-top: 6px;}
.lbagfxqnx>span,.lbagqnrna>span{display: inline-block;font-size:14px;color: #999;margin-left: 10px;vertical-align: middle;}
.lbagfxqnx>span>em,.lbagqnrna>span>em{color: #ff3361;margin-right: 3px;}

.lbagffbse>b{float: left;}
.lbagffb>b{display:inline-block;font-size:16px;color: #1E1E1E;margin-left: 10px;vertical-align: middle;}
.lbagffb>p{display:inline-block;width:170px;height:24px;border: 1px #ccc solid;margin: 20px 0;vertical-align: middle;}
.lbagffb>p>input{display: inline-block;width: 140px;margin-left: 8px;border: none;background:none;margin-top: 2px;}
.lbagffb>span{display:inline-block;font-size:16px;color: #666;vertical-align: middle;}
.lbagffb>span>em{font-weight: bold;margin:0 3px;}
.lbagffb>i{color: #ff3361;}
.lbagfxl{width:133px;height:26px;}
.lbagfbtc{height:45px;background: #f2fafc;margin: 20px 0;line-height: 45px;padding-left: 10px;}
.lbagfbtc>em{color: #ff3361;}
.lbagfbtc>i{font-size:16px;color:#333;font-weight:bold;}
.lbagfbtc>span{font-size:16px;color:#999;}
.lbagfbxqnrd{margin-left: 20px;}
.lbagfbxqnrdtit{font-size:14px;color:#666;line-height: 22px;}
.lbagfbxqnrd>p{overflow: hidden;}
.lbagfbxqnrd>p>span{display:inline-block;width:78px;height:30px;background:#00a2ca;font-size:14px;color:#fff;line-height: 30px;text-align:center;margin: 15px 10px 15px 0;border-radius:2px;}
.lbagfbxqnre{border:1px #e4e4e4 solid;background: #f5f5f5;border-radius:2px;margin-top: 10px;padding:15px;overflow: hidden;}
.lbagfbxqnrev{float: left;width: 46%;}
.lbagfbxqnrev>em{display: inline-block;font-size:12px;color:#666;line-height:26px;}
.lbagfbxqnrev>select{width: 100px;height: 26px;margin-right: 5px;background: #e3f4f9;border: 1px #ccc solid;}
.lbagfbxqnrev>p{width: 100px;height: 26px;display: inline-block;border: 1px #ccc solid;margin-right: 3px;background: #fff;}
.lbagfbxqnrev>p>input{width: 65px;border: none;background: none;margin-left: 10px;}
.lbagfbxqnrev>p>em{font-size:12px;color:#666;line-height:26px;}
.lbagfbxqnrev>span>em{width: 0;height: 0;border-right: 5px #ff9900 solid;border-top: 5px transparent solid;border-bottom: 5px transparent solid;display: inline-block;vertical-align: middle;}
.lbagfbxqnrev>span>i{width: 30px;height: 18px;border-radius:3px;background:#ff9900;font-size:10px;color:#fff;line-height: 18px;padding:0 5px;}
.lbagfbxqnrev{margin: 0 10px 15px 0;}
.lbagfbxqnrh{border:1px #e4e4e4 solid;background: #f5f5f5;border-radius:2px;margin-top: 10px;padding:15px 15px 0 15px;}
.lbagbqhp{margin-bottom:15px;}
.lbagbqhp>p{margin-right:25px;display: inline-block;}
.lbagbqhp>p>span{display: inline-block;font-size:12px;color:#666;line-height:25px;margin-right: 3px;}
.lbagbqhp>p>select{display:inline-block;width: 180px;height: 25px;}
.lbagbqhp>p>input{display:inline-block;width: 14px;height: 14px;border: 1px #ccc solid;vertical-align: middle;margin-right: 3px;}
.lbagbqhp2{margin-bottom: 15px;}
.lbagbqhp2>span{display: inline-block;font-size:12px;color:#666;line-height:25px;margin-right: 3px;}
.lbagbqhp2>p{display: inline-block;width: 125px;height:24px;border: 1px #ccc solid;background: #fff;margin-right:25px;}
.lbagbqhp2>p>input{width:95px;border: none;background: none;margin-left: 10px;margin-top: 2px;}
.lbagbqhp2>p>em{font-size:12px;color:#666;line-height:26px;}
.lbagbqhp3{margin-bottom:15px;}
.lbagbqhp3>span{display: inline-block;font-size:12px;color:#666;line-height:25px;margin-right: 3px;}
.lbagbqhp3>select{width: 170px;height: 26px;display: inline-block;}
.lbagbqhp3>select>option{color: #ccc;}
.lbagbqhp3>input,.lbagqnrna>input,.lbagqnrnb>input{display: inline-block;width:290px;height: 24px;border: 1px #ccc solid;padding-left: 10px;}
.lbagqnadd{font-size: 12px;color: #4DBEDA; line-height: 12px;cursor: pointer;float: left;margin-left: 20px;}
.lbagfbxqnrh4,.lbagqzwfv{border:1px #e4e4e4 solid;background: #f5f5f5;border-radius:2px;margin-top: 10px;padding:15px 15px 0 15px;}
.lbagbqhp4,.lbagqnrna,.lbagqnrnb{margin-bottom: 15px;}
.lbagbqhp4>span,.lbagqnrna>em,.lbagqnrnb>em,.lbagqzwfnr>em{display: inline-block;font-size: 12px;color: #666; line-height:26px;}
.lbagbqhp4>select{display: inline-block;font-size: 12px;color: #666; line-height:26px;width: 130px;height: 26px;}
.lbagbqhp4>input,.lbagqzwfnr>input{display:inline-block;width: 14px;height: 14px;border: 1px #ccc solid;vertical-align: middle;margin-right: 3px;}
.lbagbqhp4mf{margin-right:25px;}
.lbagqfbsc{width: 100%;margin-bottom: 15px;}
.lbagfxqmsk>i{font-weight: bold;}
.labgqnrk{border: 1px #ccc solid;border-radius: 3px;padding: 15px;margin: 30px 0 15px 0;}
.labgqnrk>textarea{height:170px;display: block;border:none;width: 100%;resize: none;}
.lbagqnrna>em{display: inline-block;font-size: 12px;color: #666; line-height:26px;}
.lbagqnrna>input{width: 130px !important;}
.lbagqnrnb>select{display: inline-block;width: 133px;height:26px;color: #666;}
.labgqiu280>input{width: 280px !important;}
.lbagqfgx{border-top:1px #ccc dashed;display: block;margin-bottom: 15px;}
.labgqiu180>input{width: 180px !important;}
.lbagqnrna>span{line-height: 26px !important;}
.lbagqzwfv{margin-top: 0 !important;border-top: 0 !important;}
.lbagqzwfnn{overflow: hidden;margin-bottom:10px;}
.lbagqzwfnn>span{float: left;width: 190px;text-align: right;font-size: 12px;color: #666; line-height:26px;}
.lbagqzwfnr{float:left;margin-left: 10px;}
.lbagqzwfitb{width: 80px !important;height: 24px !important;border: 1px #ccc solid;padding-left: 10px;}
.lbagqzwfnr>b{display: block;font-size: 12px;color: #666; line-height:26px;}
.lbagqzwfnr>em{margin-right:14px;}
.lbagqfgxbm{margin:45px 0;border-top:1px #ccc dashed;}
.labgqnrk2>textarea{height:120px !important;}
.lbagqtjbtn{display: block;width: 180px;height:32px;margin-top: 30px;overflow: hidden;}
.lbazdtjbnf{float:left;width:48%;height: 100%;background:#4CBEDA;border-radius:3px;font-size: 16px;line-height:32px;text-align: center;color: #fff;cursor: pointer;border: none;}
.lbazdtjbnr{float:left;width:48%;height: 100%;background:#fff;border-radius: 3px;font-size: 16px;line-height:32px;text-align: center;color: #666;cursor: pointer;border: none;margin-left: 2%;border: 1px #D9D9D9 solid;}








.lzlgnrul>li{height: 50px;/*overflow: hidden;*/border-top: 1px #e1e6eb solid;}
.lzlgnrul>li:first-child{border: none;}
.lzlgnrul>li>span{border-left:1px #fff solid;}
.lzlglbtopspcls{color:#2DB7F5 !important;}
.lzlglbtopspacen{text-align: center;}
.lzlglbtop>span>em,.lzlglbtopspacen>em{display:block;width: 14px;height: 14px;border-radius: 3px;margin: auto;border: 1px #D9D9D9 solid;background: #fff;/*margin-top: 18px;*/cursor: pointer;}
.radiuscur{background:url(../img/duih.png) #2db7f5 no-repeat !important;width: 16px;height: 16px;display: inline-block;border:1px #2db7f5 solid !important;}
.lwzlog{display: inline-block;width: 39px;height: 33px;overflow: hidden;margin-top: 8px;}
.lzlgglcen{text-align: center;}
.lwzhscur{color: #FF0000 !important;}


/*分页-s*/
.lbapagev{width:100%;margin:150px auto 0px auto;overflow: hidden;position: absolute;bottom: 25px;}
.lbanrfyv{width:100%;border-top:1px #E4E4E4 solid;padding:20px 0;}
.lbafyvf{float: left;width:68%;overflow: hidden;margin-left: 1%;}
.lbafyvf>a{border-radius:3px;border:1px solid #e4e4e4;display: inline-block;padding:3px 9px;margin-right:9px;font-size: 14px;color: #999;line-height:20px;text-align: center;}
.lbafyvf>a:hover{background: #f8f8f8;color: #2db7f5 !important;}
.lbafyvr{float: right;margin-right: 1%;}
.lbafyvr>span{display: inline-block;font-size:12px;color: #999;line-height:12px;margin-right:10px;}
.lbafyymk{display: inline-block;width:50px;height:25px;border: 1px #E4E4E4 solid;font-size:12px;color: #999;margin-right:10px;text-align: center;border-radius: 3px;}
.lbafyrtqd{display: inline-block;width:45px;height:25px;border:none;font-size:12px;color: #fff;line-height:23px;text-align:center;margin-right: 5px;background: #2db7f5;border-radius: 3px;cursor: pointer;}
.lbanrbjv{width: 100%;padding: 0 0 70px 0;background: #FBFBFB;}
.fypagecur{border: 1px solid #2db7f5 !important;background: #2db7f5;color:#fff !important;}
/*分页-e*/


/*下拉框-s*/
.sewva{width:158px;}
.sewvb{width:218px;}
.sewvc{width:158px;}
.sewvd{width:158px;}
.sewve,.sewvg,.sewvh{width: 112px;}
.sewvf{width: 158px;}
.sewvi{width: 133px;margin-left: 5px !important;}


.sewv{position: relative;float: left;margin-left:20px;}
.sewvtop{width:100%;height:26px;border: 1px #D9D9D9 solid;cursor:pointer;border-radius: 2px;overflow: hidden;}
.sewvtop:hover{border:1px #57c5f7 solid;}
.sewvtop>span{float:left;width:70%;height:26px;white-space:pre;text-overflow:ellipsis;overflow: hidden;font-size: 12px;line-height:26px;color: #666;padding-left:10px;}
.sewvtop>em{float:right;width: 20px;height: 26px;}
.sewvtop>em>img{margin-top:3px;}
.sewvbm{width: 100%;position: absolute;left: 0;top: 28px;display: none;border: 1px #D9D9D9 solid;border-radius:0 0 2px 2px;background:#fff;border-top:none;}
.sewvbm>li{cursor:pointer;height:25px;line-height:25px;font-size: 12px;color: #666;padding-left:10px;}
.sewvbm>li:hover{background: #57c5f7;color: #fff;}


.lbaxztop{animation: rotatete 0.3s linear forwards;}
.lbaxztop2{animation: rotatete2 0.3s linear forwards;}
@keyframes rotatete{
	from{transform: rotate(0deg);}
	to{transform: rotate(180deg);}
}

@keyframes rotatete{
	from{transform: rotate(0deg);}
	to{transform: rotate(180deg);}
}

@-moz-keyframes rotatete2{
	from{transform: rotate(180deg);}
	to{transform: rotate(0deg);}
}
@keyframes rotatete2{
	from{transform: rotate(180deg);}
	to{transform: rotate(0deg);}
}
/*下拉框-e*/


.lzlgcctj{float: left;font-size: 12px;color: #666;line-height:28px;margin-left: 20px;cursor: pointer;}
.lzlgcctj:hover{color:#2DB7F5;}
.lzlgglrv{float: right;margin-right: 28px;}
.lzladdbtn{width:78px;height:28px;border-radius:3px;background:#2db7f5;float: left;font-size: 12px;color:#fff;line-height:28px;text-align:center;cursor: pointer;}
.lzladdbtn:hover{background:#1baceb;color: #b3e1f0;}
.sewvcz{margin-left: 20px;width: 107px;}
.sewvtopcz{background:#2db7f5;border: 1px #2DB7F5 solid;border-radius: 3px;}
.sewvtopcz>span{background:#2db7f5;color: #fff;}
.sewvtopcz>em{background: #57c5f7;}
.lzltopssk{width: 192px;height: 26px;border-radius: 3px;float: left;margin-left: 20px;border: 1px #d9d9d9 solid;overflow: hidden;}
.lzltopsskf{float:left;width: 135px;height:26px;border:none;background: none;padding-left: 7px;}
.lzltopsskr{width: 26px;height:26px;float:right;border:none;cursor: pointer;background: url(../img/xiaoimg.png) -344px 0px;}
.lztopssgbbn{float: left;width: 15px;height: 22px;margin-left:5px;background: url(../img/xiaoimg.png) -429px 5px no-repeat;cursor: pointer;}


.lzlgutit>i{font-size: 14px;color: #999;line-height: 30px;height: 28px;display:inline-block;padding:0 13px;margin-bottom: -2px;margin-right: 15px;cursor: pointer;}
.wzbtcur{border-bottom: 4px #2db7f5 solid;color: #2DB7F5 !important;}

.lxtszv{font-size: 14px;color: #333333;display: block;margin: 25px 0 25px 25px;}
.lxtszvcz{overflow: hidden;margin-bottom: 40px;padding: 0 70px 0 25px;}
.lxtszspf{width:60%;float: left;font-size: 12px;color: #666;}
.lxtszspf>em{display: inline-block;margin-right:25px;}
.lxtszspf>i{display: inline-block;color: #999;}


.lxttzbn{margin-left:25px;width: 145px;height: 32px;border-radius: 3px;background: #2DB7F5;color: #fff;text-align: center;font-size: 14px;color: #fff;line-height: 32px;cursor: pointer;}
.lxtszkgan{float: right;}
.lxtszkgan>span{display: inline-block;width: 18px;height: 18px;background: url(../img/dhcur2.png) no-repeat;vertical-align: middle;}
.lxtszkgan>em{display: inline-block;font-size: 12px;height:12px;line-height:12px;color: #87D068;vertical-align: middle;border-right: 1px #87D068 solid;padding: 0 12px 0 6px;}
.lxtszkgan>i{display: inline-block;width:46px;height:22px;background: url(../img/kglogcur2.png) no-repeat;vertical-align: middle;margin-left: 12px;cursor: pointer;}
.kgancur>span{background: url(../img/dhcur1.png) no-repeat !important;}
.kgancur>em{color: #999 !important;border-right: 1px #999 solid !important;}
.kgancur>i{background: url(../img/kglogcur1.png) no-repeat !important;}


/*个人中心-账号中心*/
.lgxzhxxtop{width: :;%;margin:auto;overflow: hidden;border-bottom: 1px #e4e4e4 solid;padding: 30px 0;}
.lgxzhxxtop>p{float:left;width: 70px;height: 70px;border-radius:3px;overflow: hidden;margin-right: 13px;}
.lgxzhxxtop>p>img{width: 100%;}
.lgxzhxxpr{float:left;}
.lgxzhxxpr>span{display: block;}
.lgxzhxxpr>span>em{font-size:12px;color: #333;}
.lgxzhxxpr>span>i{font-size:12px;color:#2DB7F5;}
.lgxzhxxpr>em{display: block;font-size:12px;color: #666;margin: 10px 0;}
.lgxzhxxpr>i{display: block;font-size:12px;color: #666;}
.lgxzxxbm{width: 98%;margin: auto;}
.lgxbmtit{display: block;font-size:14px;color:#333;margin-top: 22px;margin-bottom: 25px;}
.lgzxbmxl{margin-bottom:35px;overflow: hidden;}	
.lgzxbmxl>span{float: left;width:85%;}
.lgzxbmxl>span>em{font-size:12px;color:#333;display: inline-block;margin-right:34px;}
.lgzxbmxl>span>i{font-size:12px;color:#666;}
.lgzxbmxl>p{float: right;}
.lgzxbmxl>p>span{display: inline-block;width: 18px;height: 18px;background: url(../img/dhcur2.png) no-repeat;vertical-align: middle;}
.lgzxbmxl>p>em{display: inline-block;font-size: 12px;height:12px;line-height:12px;color: #87D068;vertical-align: middle;border-right: 1px #87D068 solid;padding: 0 12px 0 6px;}
.lgzxbmxl>p>i{display: inline-block;font-size: 12px;color: #2DB7F5;vertical-align: middle;vertical-align: middle;cursor: pointer;margin-left: 12px;}
.lzxzlv{overflow: hidden;margin-left:13px;margin-top: 25px;}
.lzxzlv>span{width:96px;float: left;font-size: 12px;color: #666;height:32px;line-height:32px;}
.lzxzlv>span>em{color:#ff002f;}
.lzxzlv>input,.lzxzlve>textarea{float:left;height: 30px;border: 1px #d9d9d9 solid;padding-left: 10px;color: #666;}
.lzxzlvb>input{width:170px;}
.lzxzlvd>input{width:304px;}
.lzxzlve>textarea{height:66px;width:338px;resize: none;padding: 10px;line-height: 22px;}
.lzxzlvbtn{margin-left:109px;margin-top: 25px;overflow: hidden;}
.lzxzlvbtn>input{width:64px;height: 30px;font-size: 14px;text-align: center;border-radius: 3px;cursor: pointer;}
.lzxzlvbtnf{color: #fff;background:#6ACAF6;float: left;border: 1px #6ACAF6 solid;}
.lzxzlvbtnr{color: #999;background:#fff;float: left;margin-left: 12px;border: 1px #d9d9d9 solid;}

/*消息中心*/
.lxxcenv{overflow: hidden;margin: 22px auto 10px auto;width: 99%;}
.lxxcenv>p{float: left;}
.lxxcenv>p>span{display:inline-block;width: 111px;height: 33px;background:#E4E4E4;font-size: 12px;color:#666;line-height:33px;text-align: center;margin-right: 10px;cursor: pointer;}
.lxxcenvcur{background: #3F3F3F !important;color: #fff !important;}
.lxxcenv>span{float:left;margin-left:20px;font-size: 14px;line-height: 33px;}
.lxxcenv>span>em{color:#4DB8DB;}
.lxxcenv>span>i{color:#333;}
.lxxzxnrul{width:99%;margin: auto;}
.lxxzxnrul>li>div{height: 50px;overflow: hidden;background:#F4F4F4;cursor: pointer;}
.lxxzxnrul>li>div>span,.lxxzxnrul>li>div>p{float: left;}
.lxxzxbh{height: 50px;padding: 0 12px 0 20px;}
.lxxzxbh>em{display:inline-block;width: 14px;height:14px;border-radius: 3px;margin: auto;border: 1px #D9D9D9 solid;background: #fff;margin-top: 18px;cursor: pointer;}
.lxxzxtit,.lxzxtime,.lxxzxlx,.lxxzxbq{font-size:14px;color:#666;line-height:50px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.lxxzxtit{width:65%;}
.lxzxtime{width:10%;}
.lxxzxlx{width: 6%;}
.lxxzxbq{width:6%;color:#2DB7F5;}
.lxzxmor{width:8%;}
.lxzxmor>span{display: block;width: 100%;margin-top: 18px;}
.lxzxmor>span>em{color: #2DB7F5;display: inline-block;font-size:14px;}
.lxzxmor>span>i{display: inline-block;width: 16px;height: 8px;background: url(../img/xjtloga.png) no-repeat;margin-left: 10px;}
.lxzxmor>em{display:none;}
.lxxzxnrul>li>p{margin:1px 0 15px 0;background: #F5F7F9;font-size:12px;color:#666;line-height:22px;text-align: justify;padding: 10px;display: none;min-height: 100px;}
.lfkglbm{margin-bottom: 20px;}


.lxttznrul{width: 100%;border: 1px #E4E4E4 solid;margin-top: 22px;}
.lxttznrul>li{border-top: 1px #E4E4E4 solid;}
.lxttznrul>li:first-child{border-top:none;}
.lxttznrul>li>div{padding:0 30px 0 13px;height: 42px;overflow: hidden;cursor: pointer;}
.lxttznrul>li>div:hover{background:#F2F2F2 !important;}
.lxttznrul>li>div:hover em{color:#2DB7F5 !important;}
.lxttznrul>li>div>span,.lxttznrul>li>div>em,.lxttznrul>li>div>i{float: left;}
.lxttznrul>li>div>span{width: 5px;height: 5px;border-radius: 50%;background:#FF9900;margin-top: 18px;margin-right:5px;}
.lxttznrul>li>div>em{width:93%;height:42px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;font-size:12px;color:#333;line-height:42px;}
.lxttznrul>li>div>i{height:42px;font-size:12px;color:#999;line-height:42px;}
.lxttznrul>li>p{padding: 10px 23px 22px 23px;font-size:12px;color:#999;line-height:20px;display: none;}
.lxttzydcur>span{background: #999 !important;}
.lxttzydcur>em{color:#999 !important;}

/***/
.asset-invalid{ display: inline-block;color: red;font-weight: normal;font-size: 12 }