<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.business.orm.mapper.businessLog.BusinessLogMapper" >
  <resultMap id="BaseResultMap" type="com.dqys.business.orm.pojo.businessLog.BusinessLog" >
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="object_type" jdbcType="INTEGER" property="objectType" />
    <result column="object_id" jdbcType="INTEGER" property="objectId" />
    <result column="oper_type" jdbcType="INTEGER" property="operType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="team_id" jdbcType="INTEGER" property="teamId" />
    <result column="business_id" jdbcType="INTEGER" property="businessId" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="stateflag" jdbcType="BIGINT" property="stateflag" />
    <result column="obj_no" jdbcType="VARCHAR" property="objectNo" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="oper_name" jdbcType="VARCHAR" property="operName" />
    <result column="object_name" jdbcType="VARCHAR" property="objectName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, object_type, object_id, oper_type, remark, user_id, text, team_id, business_id,
    version, create_at, update_at, stateflag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_business_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_business_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dqys.business.orm.pojo.businessLog.BusinessLog" >
    insert into t_business_log (id, object_type, object_id, 
      oper_type, remark, user_id, 
       text, team_id, business_id
      )
    values (#{id,jdbcType=INTEGER}, #{objectType,jdbcType=INTEGER}, #{objectId,jdbcType=INTEGER}, 
      #{operType,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{text,jdbcType=VARCHAR}, #{teamId,jdbcType=INTEGER}, #{businessId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dqys.business.orm.pojo.businessLog.BusinessLog" >
    insert into t_business_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="objectType != null" >
        object_type,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="operType != null" >
        oper_type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="text != null" >
        text,
      </if>
      <if test="teamId != null" >
        team_id,
      </if>
      <if test="businessId != null" >
        business_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="objectType != null" >
        #{objectType,jdbcType=INTEGER},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="operType != null" >
        #{operType,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="text != null" >
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="teamId != null" >
        #{teamId,jdbcType=INTEGER},
      </if>
      <if test="businessId != null" >
        #{businessId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dqys.business.orm.pojo.businessLog.BusinessLog" >
    update t_business_log
    <set >
      <if test="objectType != null" >
        object_type = #{objectType,jdbcType=INTEGER},
      </if>
      <if test="objectId != null" >
        object_id = #{objectId,jdbcType=INTEGER},
      </if>
      <if test="operType != null" >
        oper_type = #{operType,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="text != null" >
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="teamId != null" >
        team_id = #{teamId,jdbcType=INTEGER},
      </if>
      <if test="businessId != null" >
        business_id = #{businessId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dqys.business.orm.pojo.businessLog.BusinessLog" >
    update t_business_log
    set object_type = #{objectType,jdbcType=INTEGER},
      object_id = #{objectId,jdbcType=INTEGER},
      oper_type = #{operType,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      text = #{text,jdbcType=VARCHAR},
      team_id = #{teamId,jdbcType=INTEGER},
      business_id = #{businessId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="list" resultMap="BaseResultMap" parameterType="com.dqys.business.orm.query.businessLog.BusinessLogQuery" >
    select
    <include refid="Base_Column_List" />
    from t_business_log
    where 1=1
    <if test="objectType != null" >
      AND object_type = #{objectType,jdbcType=INTEGER}
    </if>
    <if test="objectId != null" >
      AND object_id = #{objectId,jdbcType=INTEGER}
    </if>
    <if test="operType != null" >
      AND oper_type = #{operType,jdbcType=INTEGER}
    </if>
    <if test="userId != null" >
      AND user_id = #{userId,jdbcType=INTEGER}
    </if>
    <if test="text != null" >
      AND text = #{text,jdbcType=VARCHAR}
    </if>
    <if test="teamId != null" >
      AND team_id = #{teamId,jdbcType=INTEGER}
    </if>
    <if test="businessId != null" >
      AND business_id = #{businessId,jdbcType=INTEGER}
    </if>
    ORDER BY create_at DESC
    <if test="isPaging">
      limit #{pageNo,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </select>

  <select id="queryCount" parameterType="com.dqys.business.orm.query.businessLog.BusinessLogQuery"  resultType="java.lang.Integer">
    SELECT COUNT(*) FROM t_business_log WHERE 1=1
    <if test="objectType != null" >
      AND object_type = #{objectType,jdbcType=INTEGER}
    </if>
    <if test="objectId != null" >
      AND object_id = #{objectId,jdbcType=INTEGER}
    </if>
    <if test="operType != null" >
      AND oper_type = #{operType,jdbcType=INTEGER}
    </if>
    <if test="userId != null" >
      AND user_id = #{userId,jdbcType=INTEGER}
    </if>
    <if test="text != null" >
      AND text = #{text,jdbcType=VARCHAR}
    </if>
    <if test="teamId != null" >
      AND team_id = #{teamId,jdbcType=INTEGER}
    </if>
    <if test="businessId != null" >
      AND business_id = #{businessId,jdbcType=INTEGER}
    </if>

  </select>


  <sql id="listAll_query_condition">
    <if test="objectId != null" >
      AND b.object_id = #{objectId,jdbcType=INTEGER}
    </if>
    <if test="operType != null" >
      AND b.oper_type = #{operType,jdbcType=INTEGER}
    </if>
    <if test="userId != null" >
      AND b.user_id = #{userId,jdbcType=INTEGER}
    </if>
    <if test="text != null" >
      AND b.text = #{text,jdbcType=VARCHAR}
    </if>
    <if test="teamId != null" >
      AND b.team_id = #{teamId,jdbcType=INTEGER}
    </if>
    <if test="businessId != null" >
      AND b.business_id = #{businessId,jdbcType=INTEGER}
    </if>
    <if test="beginDate != null">
       AND b.create_at &gt; #{beginDate,jdbcType=DATE}
    </if>
    <if test="endDate != null">
      AND b.create_at &lt;  #{endDate,jdbcType=DATE}
    </if>

  </sql>

  <sql id="listAll_searchText_condition">
    <if test="searchText != null">
      WHERE  user_name LIKE CONCAT('%',#{searchText},'%' ) or text LIKE CONCAT('%',#{searchText},'%' )
    </if>

  </sql>



  <select id="listAll" resultMap="BaseResultMap" parameterType="com.dqys.business.orm.query.businessLog.BusinessLogQuery" >
    select * from (
      select  b.object_type ,o.oper_name ,u.user_name , obj.object_name  ,b.text , bt.iou_no  obj_no ,b.remark ,b.id,b.create_at
      from t_business_log b , bt_iou  bt, oper_type o, t_user_info u, object_type obj
      where b. object_type =13  and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id=bt.id and obj.object_type =b.object_type
      <include refid="listAll_query_condition" />
      UNION ALL
      select  b.object_type ,o.oper_name ,u.user_name , con.name object_name ,b.text , bt.lender_no obj_no ,b.remark ,b.id ,b.create_at
      from t_business_log b , bt_lender bt, oper_type o, t_user_info u, object_type obj, `bt_contact`  con
      where b. object_type =11 and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id =bt.id and obj.object_type =b.object_type
      AND con.mode = 11 and con.mode_id =b.id
    <include refid="listAll_query_condition" />
      UNION ALL
      select  b.object_type ,o.oper_name ,u.user_name , obj.object_name ,b.text , bt.asset_no  obj_no ,b.remark ,b.id ,b.create_at
      from t_business_log b , bt_asset  bt, oper_type o, t_user_info u, object_type obj
      where b. object_type =10 and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id =bt.id and obj.object_type =b.object_type
    <include refid="listAll_query_condition" />
      UNION ALL
      select  b.object_type ,o.oper_name ,u.user_name , obj.object_name ,b.text ,  bt.pawn_no  obj_no ,b.remark ,b.id ,b.create_at
      from t_business_log b , bt_pawn bt, oper_type o, t_user_info u, object_type obj
      where b. object_type =12 and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id =bt.id and obj.object_type =b.object_type
    <include refid="listAll_query_condition" />
      UNION ALL
      select  b.object_type ,o.oper_name ,u.user_name , obj.object_name ,b.text , bt.case_no obj_no ,b.remark ,b.id ,b.create_at
      from t_business_log b , bt_case bt, oper_type o, t_user_info u, object_type obj
      where b. object_type =15 and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id =bt.id and obj.object_type =b.object_type
    <include refid="listAll_query_condition" />
      UNION ALL
      select  b.object_type ,o.oper_name ,u.user_name , obj.object_name ,b.text ,  bt.house_no  obj_no ,b.remark ,b.id ,b.create_at
      from t_business_log b , t_zcy_estates bt, oper_type o, t_user_info u, object_type obj
      where b. object_type =16 and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id =bt.id and obj.object_type =b.object_type
    <include refid="listAll_query_condition" />
    )  as total
    <include refid="listAll_searchText_condition" />
    ORDER BY create_at DESC
    <if test="isPaging">
      limit #{pageNo,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </select>

  <select id="listAllByObjectType" resultMap="BaseResultMap" parameterType="com.dqys.business.orm.query.businessLog.BusinessLogQuery" >
    <if test="objectType == 13" >
      select * from (
      select  b.object_type ,o.oper_name ,u.user_name , obj.object_name ,b.text , bt.iou_no  obj_no ,b.remark ,b.id,b.create_at
      from t_business_log b , bt_iou  bt, oper_type o, t_user_info u, object_type obj
      where b. object_type =13  and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id=bt.id and obj.object_type =b.object_type
      <include refid="listAll_query_condition" />
      )  as total
      <include refid="listAll_searchText_condition" />
    </if>
    <if test="objectType == 11" >
      select * from (
      select  b.object_type ,o.oper_name ,u.user_name , obj.object_name ,b.text , bt.lender_no obj_no ,b.remark ,b.id ,b.create_at
      from t_business_log b , bt_lender bt, oper_type o, t_user_info u, object_type obj
      where b. object_type =11 and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id =bt.id and obj.object_type =b.object_type
      <include refid="listAll_query_condition" />
      )  as total
      <include refid="listAll_searchText_condition" />
    </if>
    <if test="objectType == 10" >
      select * from (
      select  b.object_type ,o.oper_name ,u.user_name , obj.object_name ,b.text , bt.asset_no  obj_no ,b.remark ,b.id ,b.create_at
      from t_business_log b , bt_asset  bt, oper_type o, t_user_info u, object_type obj
      where b. object_type =10 and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id =bt.id and obj.object_type =b.object_type
      <include refid="listAll_query_condition" />
      )  as total
      <include refid="listAll_searchText_condition" />
    </if>
    <if test="objectType == 12" >
      select * from (
      select  b.object_type ,o.oper_name ,u.user_name , obj.object_name ,b.text ,  bt.pawn_no  obj_no ,b.remark ,b.id ,b.create_at
      from t_business_log b , bt_pawn bt, oper_type o, t_user_info u, object_type obj
      where b. object_type =12 and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id =bt.id and obj.object_type =b.object_type
      <include refid="listAll_query_condition" />
      )  as total
      <include refid="listAll_searchText_condition" />
    </if>
    <if test="objectType == 15" >
      select * from (
      select  b.object_type ,o.oper_name ,u.user_name , obj.object_name ,b.text , bt.case_no obj_no ,b.remark ,b.id ,b.create_at
      from t_business_log b , bt_case bt, oper_type o, t_user_info u, object_type obj
      where b. object_type =15 and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id =bt.id and obj.object_type =b.object_type
      <include refid="listAll_query_condition" />
      )  as total
      <include refid="listAll_searchText_condition" />
    </if>
    <if test="objectType == 16" >
      select * from (
      select  b.object_type ,o.oper_name ,u.user_name , obj.object_name ,b.text ,  bt.house_no  obj_no ,b.remark ,b.id ,b.create_at
      from t_business_log b , t_zcy_estates bt, oper_type o, t_user_info u, object_type obj
      where b. object_type =16 and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id =bt.id and obj.object_type =b.object_type
      <include refid="listAll_query_condition" />
      )  as total
      <include refid="listAll_searchText_condition" />
    </if>
    ORDER BY create_at DESC
    <if test="isPaging">
      limit #{pageNo,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </select>

  <select id="allQueryCount" parameterType="com.dqys.business.orm.query.businessLog.BusinessLogQuery"  resultType="java.lang.Integer">
    SELECT COUNT(*) FROM (
    select * from(
    select  b.object_type ,o.oper_name ,u.user_name , obj.object_name ,b.text , bt.iou_no  obj_no ,b.remark ,b.id,b.create_at
    from t_business_log b , bt_iou  bt, oper_type o, t_user_info u, object_type obj
    where b. object_type =13  and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id=bt.id and obj.object_type =b.object_type
    <include refid="listAll_query_condition" />
    UNION ALL
    select b.object_type ,o.oper_name ,u.user_name , obj.object_name ,b.text , bt.lender_no obj_no ,b.remark ,b.id ,b.create_at
    from t_business_log b , bt_lender bt, oper_type o, t_user_info u, object_type obj
    where b. object_type =11 and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id =bt.id and obj.object_type =b.object_type
    <include refid="listAll_query_condition" />
    UNION ALL
    select  b.object_type ,o.oper_name ,u.user_name , obj.object_name ,b.text , bt.asset_no  obj_no ,b.remark ,b.id ,b.create_at
    from t_business_log b , bt_asset  bt, oper_type o, t_user_info u, object_type obj
    where b. object_type =10 and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id =bt.id and obj.object_type =b.object_type
    <include refid="listAll_query_condition" />
    UNION ALL
    select  b.object_type ,o.oper_name ,u.user_name , obj.object_name ,b.text ,  bt.pawn_no  obj_no ,b.remark ,b.id ,b.create_at
    from t_business_log b , bt_pawn bt, oper_type o, t_user_info u, object_type obj
    where b. object_type =12 and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id =bt.id and obj.object_type =b.object_type
    <include refid="listAll_query_condition" />
    UNION ALL
    select  b.object_type ,o.oper_name ,u.user_name , obj.object_name ,b.text , bt.case_no obj_no ,b.remark ,b.id ,b.create_at
    from t_business_log b , bt_case bt, oper_type o, t_user_info u, object_type obj
    where b. object_type =15 and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id =bt.id and obj.object_type =b.object_type
    <include refid="listAll_query_condition" />
    UNION ALL
    select  b.object_type ,o.oper_name ,u.user_name , obj.object_name ,b.text ,  bt.house_no  obj_no ,b.remark ,b.id ,b.create_at
    from t_business_log b , t_zcy_estates bt, oper_type o, t_user_info u, object_type obj
    where b. object_type =16 and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id =bt.id and obj.object_type =b.object_type
    <include refid="listAll_query_condition" />
    ) as total <include refid="listAll_searchText_condition" />
    ) as total

  </select>

  <select id="allByObjectQueryCount" parameterType="com.dqys.business.orm.query.businessLog.BusinessLogQuery"  resultType="java.lang.Integer">
    SELECT COUNT(*) FROM (
      select * FROM (
      <if test="objectType == 13" >
        select  b.object_type ,o.oper_name ,u.user_name , obj.object_name ,b.text , bt.iou_no  obj_no ,b.remark ,b.id,b.create_at
        from t_business_log b , bt_iou  bt, oper_type o, t_user_info u, object_type obj
        where b. object_type =13  and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id=bt.id and obj.object_type =b.object_type
        <include refid="listAll_query_condition" />
      </if>
      <if test="objectType == 11" >
        select  b.object_type ,o.oper_name ,u.user_name , obj.object_name ,b.text , bt.lender_no obj_no ,b.remark ,b.id ,b.create_at
        from t_business_log b , bt_lender bt, oper_type o, t_user_info u, object_type obj
        where b. object_type =11 and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id =bt.id and obj.object_type =b.object_type
        <include refid="listAll_query_condition" />
      </if>
      <if test="objectType == 10" >
        select  b.object_type ,o.oper_name ,u.user_name , obj.object_name ,b.text , bt.asset_no  obj_no ,b.remark ,b.id ,b.create_at
        from t_business_log b , bt_asset  bt, oper_type o, t_user_info u, object_type obj
        where b. object_type =10 and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id =bt.id and obj.object_type =b.object_type
        <include refid="listAll_query_condition" />
      </if>
      <if test="objectType == 12" >
        select  b.object_type ,o.oper_name ,u.user_name , obj.object_name ,b.text ,  bt.pawn_no  obj_no ,b.remark ,b.id ,b.create_at
        from t_business_log b , bt_pawn bt, oper_type o, t_user_info u, object_type obj
        where b. object_type =12 and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id =bt.id and obj.object_type =b.object_type
        <include refid="listAll_query_condition" />
      </if>
      <if test="objectType == 15" >
        select  b.object_type ,o.oper_name ,u.user_name , obj.object_name ,b.text , bt.case_no obj_no ,b.remark ,b.id ,b.create_at
        from t_business_log b , bt_case bt, oper_type o, t_user_info u, object_type obj
        where b. object_type =15 and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id =bt.id and obj.object_type =b.object_type
        <include refid="listAll_query_condition" />
      </if>
      <if test="objectType == 16" >
        select  b.object_type ,o.oper_name ,u.user_name , obj.object_name ,b.text ,  bt.house_no  obj_no ,b.remark ,b.id ,b.create_at
        from t_business_log b , t_zcy_estates bt, oper_type o, t_user_info u, object_type obj
        where b. object_type =16 and o.oper_type =b.oper_type  and b.user_id =u.id  and b.object_id =bt.id and obj.object_type =b.object_type
        <include refid="listAll_query_condition" />
      </if>
    )as total  <include refid="listAll_searchText_condition" />
    )as total
  </select>


</mapper>