<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.core.mapper.facade.TAreaMapper">
    <resultMap id="BaseResultMap" type="com.dqys.core.model.TArea">
        <id column="id" property="value" jdbcType="INTEGER"/>
        <result column="upper" property="upper" jdbcType="INTEGER"/>
        <result column="name" property="label" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="BIT"/>
        <result column="is_leaf" property="isLeaf" jdbcType="BIT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, upper, name, level, is_leaf
  </sql>

    <select id="selectByUpper" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_area
        where upper=#{upper,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_area
        order by level
    </select>

    <select id="getByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_area
        WHERE name = #{name.jdbcType=VARCHAR}
    </select>

    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_area
        WHERE id = #{id.jdbcType=VARCHAR}
    </select>

</mapper>