<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.business.orm.mapper.operLog.OperTypeMapper">

    <resultMap id="BaseResultMapByOperType" type="com.dqys.business.orm.pojo.operType.OperType">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="oper_type" property="operType" jdbcType="INTEGER"/>
        <result column="oper_name" property="operName" jdbcType="VARCHAR"/>

    </resultMap>
    <!--查询对应用户类型的角色权限-->
    <select id="selectByRoleToOperType" resultType="BaseResultMapByOperType" parameterType="string">
       SELECT ot.*,oj.object_type,ror.user_type,ror.role_id  from t_role_oper_re ror LEFT JOIN oper_type ot
      ON ot.id=ror.oper_id LEFT JOIN  oper_obj_realtion oor
      ON oor.oper_id=ot.id LEFT JOIN object_type oj
      ON oj.id=oor.obj_id
    </select>
    <!--查询用户类型-->
    <select id="selectByUserIds" resultType="int">
        SELECT ror.user_type userIds FROM t_role_oper_re ror GROUP BY ror.user_type
    </select>
    <!--查询用户角色id-->
    <select id="selectByRoleIds" resultType="int">
        SELECT ror.role_id roleIds FROM t_role_oper_re ror GROUP BY ror.role_id
    </select>

</mapper>