<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.business.orm.mapper.operLog.OperLogMapper">

    <resultMap id="BaseResultMap" type="com.dqys.business.orm.pojo.operType.OperType">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="oper_type" property="operType" jdbcType="INTEGER"/>
        <result column="oper_name" property="operName" jdbcType="VARCGAR"/>

    </resultMap>

    <select id="selectByRoleToOperType" resultType="BaseResultMap" parameterType="string">
        SELECT ot.* from t_role_oper_re ror LEFT JOIN oper_type ot
        ON ot.id=ror.oper_id
        WHERE ror.role_id=#{roleId} and ror.user_type=#{userType}
    </select>

</mapper>