<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.business.orm.mapper.operType.OperTypeMapper">

    <resultMap id="BaseResultMap" type="com.dqys.business.orm.pojo.operType.OperType">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="oper_type" property="operType" jdbcType="INTEGER"/>
        <result column="oper_name" property="operName" jdbcType="VARCHAR"/>
    </resultMap>
    <!--查询对应用户类型的角色权限-->
    <select id="selectByRoleToOperType" resultMap="BaseResultMap">
       SELECT ot.*
      from t_role_oper_re ror LEFT JOIN oper_type ot
      ON ot.id=ror.oper_id LEFT JOIN  oper_obj_realtion oor
      ON oor.oper_id=ot.id LEFT JOIN object_type oj
      ON oj.id=oor.obj_id
      where ror.status=0 AND ror.user_type=#{userType,jdbcType=INTEGER}
       and ror.role_type=#{roleId,jdbcType=INTEGER}
       and oj.object_type=#{objectType,jdbcType=INTEGER}
       AND ot.status=0;
    </select>
    <!--查询用户类型-->
    <select id="selectByUserIds" resultType="int">
        SELECT ror.user_type userIds FROM t_role_oper_re ror WHERE ror.status=0 GROUP BY ror.user_type
    </select>
    <!--查询用户角色id-->
    <select id="selectByRoleIds" resultType="int">
        SELECT ror.role_type roleIds FROM t_role_oper_re ror WHERE ror.status=0 GROUP BY ror.role_type
    </select>
    <!--查询操作类型-->
    <select id="selectByObjectIds" resultType="int">
        SELECT ot.object_type objectIds FROM object_type ot GROUP BY ot.object_type
    </select>
    <!--全部-->
    <select id="getAll" resultMap="BaseResultMap" parameterType="com.dqys.business.orm.pojo.operType.OperType">
        SELECT * from oper_type
        <where>
            status=0
            <if test="operType !=null and operType.operType !=null">
                AND oper_type=#{operType}
            </if>
            <if test="operType !=null and operType.operName !=null">
                AND oper_name=#{operName}
            </if>
            <if test="operType !=null and operType.id !=null">
                AND id=#{id}
            </if>
        </where>
    </select>

</mapper>