<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.business.orm.mapper.message.MessageMapper">


    <update id="readMessage">
        UPDATE t_message SET status=1
        <where>
            id IN
            <foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
                #{ids}
            </foreach>
        </where>
    </update>

    <update id="del">
        UPDATE t_message SET status=2
        <where>
            id IN
            <foreach collection="array" item="ids" index="index" open="(" close=")" separator=",">
                #{ids}
            </foreach>
        </where>
    </update>

    <insert id="add" parameterType="com.dqys.business.orm.pojo.message.Message">
        INSERT INTO t_message
        <trim prefix="(" suffix=")">
            <if test="title !=null">
                title,
            </if>
            <if test="content !=null">
                content,
            </if>
            <if test="senderId !=null">
                sender_id,
            </if>
            <if test="receiveId !=null">
                receive_id,
            </if>
            <if test="label !=null">
                label,
            </if>
            <if test="type !=null">
                type,
            </if>
            status,send_time
        </trim>
        <trim prefix=" values(" suffix=")">
            <if test="title !=null">
                #{title},
            </if>
            <if test="content !=null">
                #{content},
            </if>
            <if test="senderId !=null">
                #{sender_id},
            </if>
            <if test="receiveId !=null">
                #{receiveId},
            </if>
            <if test="label !=null">
                #{label},
            </if>
            <if test="type !=null">
                #{type},
            </if>
            0,now()
        </trim>
    </insert>


</mapper>