<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.business.orm.mapper.index.IndexMapper">
    <!--待接受任务-->
    <select id="receive" resultType="java.util.Map" parameterType="int">
       SELECT COUNT(t.id) count FROM
        (
        SELECT id from t_teammate_re ttr
                where ttr.status=0 and ttr.user_id=#{userId,jdbcType=INTEGER}
        UNION
        SELECT id from t_company_team_re ctr
        where ctr.status=0 and ctr.accepter_id=#{userId,jdbcType=INTEGER}) t
    </select>
    <!--获取借款人自己分配和公司分配的任务-->
    <select id="getLenderAllotByOneSelfAndCompany" resultType="java.util.Map">
       SELECT COUNT(t.object_id) count FROM (
  SELECT  our.object_id  from object_user_relation our LEFT JOIN t_teammate_re ttr
        ON ttr.id=our.employer_id and our.type=1 and ttr.type !=2 LEFT JOIN bt_lender len
        ON len.id=our.object_id
        where len.repay_status=#{repayStatus,jdbcType=INTEGER} and our.object_type=#{objectType,jdbcType=INTEGER} and our.user_id=#{userId,jdbcType=INTEGER}
  UNION
  SELECT our.object_id  from object_user_relation our LEFT JOIN bt_lender len
        ON len.id=our.object_id and (our.type=0 or our.type=2)
        where  len.repay_status=#{repayStatus,jdbcType=INTEGER} and our.object_type=#{objectType,jdbcType=INTEGER} and our.user_id=#{userId,jdbcType=INTEGER}) t
    </select>
    <!--获取借款人团队分配的任务-->
    <select id="getLenderAllotByTeam" resultType="java.util.Map">
        SELECT count(*) count from object_user_relation our LEFT JOIN t_teammate_re ttr
        ON ttr.id=our.employer_id and our.type=1 and ttr.type !=2 LEFT JOIN bt_lender len
        ON len.id=our.object_id
        where len.repay_status=#{repayStatus,jdbcType=INTEGER} and our.object_type=#{objectType,jdbcType=INTEGER} and our.user_id=#{userId,jdbcType=INTEGER}
    </select>
    <!--参加的任务数(只有在协作器中是参与者身份的)-->
    <select id="getJoinTask" resultType="java.util.Map">
        SELECT count(*) count FROM object_user_relation our LEFT JOIN t_teammate_re ttr
        ON ttr.user_id=our.user_id and ttr.type=2
        WHERE  our.user_id=#{userId,jdbcType=INTEGER} and our.object_type=#{objectType,jdbcType=INTEGER} and our.type=1
    </select>
    <!--获取抵押物团队分配的未完成任务-->
    <select id="getPawnAllotByTeamIsUnfinished" resultType="java.util.Map">
        SELECT count(*) count from object_user_relation our LEFT JOIN t_teammate_re ttr
        ON ttr.id=our.employer_id and our.type=1 and ttr.type!=2 LEFT JOIN bt_pawn paw
        ON paw.id=our.object_id  LEFT JOIN bt_pi_relation pi
        ON pi.pawn_id=paw.id LEFT JOIN bt_iou iou
        ON iou.id=pi.iou_id AND iou.repay_status=0
        where our.object_type=#{objectType,jdbcType=INTEGER} and our.user_id=#{userId,jdbcType=INTEGER} GROUP BY our.object_id
    </select>
    <!--获取抵押物自己分配和公司分配的未完成任务-->
    <select id="getPawnAllotByOCIsUnfinished" resultType="java.util.Map">
          SELECT COUNT(t.object_id) count FROM (
  SELECT  our.object_id  from object_user_relation our LEFT JOIN t_teammate_re ttr
        ON ttr.id=our.employer_id and our.type=1 and ttr.type!=2 LEFT JOIN bt_pawn paw
        ON paw.id=our.object_id  LEFT JOIN bt_pi_relation pi
        ON pi.pawn_id=paw.id LEFT JOIN bt_iou iou
        ON iou.id=pi.iou_id
        where iou.repay_status=#{repayStatus,jdbcType=INTEGER} and our.object_type=#{objectType,jdbcType=INTEGER} and our.user_id=#{userId,jdbcType=INTEGER}
  UNION
  SELECT our.object_id  from object_user_relation our  LEFT JOIN bt_pawn paw
        ON paw.id=our.object_id  and (our.type=0 or our.type=2) LEFT JOIN bt_pi_relation pi
        ON pi.pawn_id=paw.id  LEFT JOIN bt_iou iou
        ON iou.id=pi.iou_id
        where  iou.repay_status=#{repayStatus,jdbcType=INTEGER} and our.object_type=#{objectType,jdbcType=INTEGER} and our.user_id=#{userId,jdbcType=INTEGER}) t
    </select>
    <!--获取抵押物总的任务-->
    <select id="getPawnTotalTask" resultType="java.util.Map">
        SELECT count(*) count from object_user_relation our
        where our.object_type=11 and our.user_id=1
    </select>
    <!--用户相关信息-->
    <select id="selectByUser" resultType="com.dqys.business.orm.pojo.index.UserMessage">
      SELECT tui.real_name realName,IF(tut.role_id=1,'管理员',IF(tut.role_id=2,'管理者','普通员工')) roleName,
        tci.province,tci.city,tci.area,tci.address,DATE_FORMAT(tll.time,'%Y-%m-%d %H:%i:%s') lastTime,tui.avg,
        (SELECT tui2.real_name from t_user_info tui2,t_user_tag tut2 WHERE tut2.user_id=tui2.id AND tui2.company_id=tui.company_id AND tut2.role_id=1 LIMIT 0,1) adminName
        from t_user_info tui LEFT JOIN t_user_tag tut
        ON tut.user_id=tui.id LEFT JOIN t_company_info tci
        ON tci.id=tui.company_id LEFT JOIN (SELECT * from t_login_log log WHERE log.user_id=#{userId} ORDER BY log.time desc LIMIT 1,1) tll
        ON tll.user_id=tui.id
        WHERE tui.id=#{userId}
    </select>
    <!--获取公司下某天登入的人数-->
    <select id="getLoginByTime" resultType="int">
       SELECT COUNT(t_user.user_id) num FROM
        (SELECT tll.user_id FROM t_login_log tll, t_user_info tui
        WHERE tui.stateflag=0 AND tui.id=tll.user_id AND tui.company_id=#{companyId}
        AND DATE_FORMAT(tll.time,'%Y-%m-%d') like #{time} GROUP BY tll.user_id) t_user
    </select>
    <!--获取公司下未分配部门的员工人数-->
    <select id="getAbsent" resultType="int">
        SELECT COUNT(tui.id) num FROM t_user_info tui LEFT JOIN t_user_tag tut
        ON tut.user_id=tui.id
        WHERE tui.stateflag=0 AND tui.company_id=#{companyId}
    </select>

</mapper>