<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.business.orm.mapper.partner.PartnerMapper">
    <resultMap id="BaseResultMap" type="com.dqys.business.orm.pojo.partner.Partner">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="company_id" property="companyId" jdbcType="INTEGER"/>
        <result column="partner_user_id" property="partnerUserId" jdbcType="INTEGER"></result>
        <result column="partner_company_id" property="partnerCompanyId" jdbcType="VARCHAR"/>
        <result column="relation_status" property="relationStatus" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="ALL_PARAM">
        id,user_id,company_id,partner_user_id,partner_company_id,relation_status,update_at,create_at,remark
    </sql>

    <insert id="insertByCondition" parameterType="com.dqys.business.orm.pojo.partner.Partner">
        INSERT INTO t_partner_company(user_id,company_id,partner_user_id,partner_company_id,relation_status,update_at,create_at,remark)
        VALUES(#{userId},#{companyId},#{partnerUserId},#{partnerCompanyId},#{relationStatus},now(),now(),#{remark})
    </insert>

    <update id="updateByRelationStatusAndRemark" parameterType="int">
        UPDATE t_partner_company
        <set>
            update_at=now(),
            <if test="relationStatus !=null">
                relation_status=#{relationStatus},
            </if>
            <if test="remark !=null">
                remark=#{remark},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <update id="updateRSByUIAndPUI">
        UPDATE t_partner_company
        <set>
            update_at=now(),
            relation_status=#{relationStatus},
        </set>
        WHERE (user_id=#{userId} AND partner_user_id=#{partnerUserId}) OR
        (user_id=#{partnerUserId} AND partner_user_id=#{userId})
    </update>

    <select id="get" parameterType="int" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_PARAM"/>
        FROM t_partner_company WHERE id=#{id}
    </select>
    <sql id="Partner_Where">
        <if test="credential !=null">
            AND (tci2.credential LIKE CONCAT('%',#{nameLike},'%') OR tci2.company_name LIKE CONCAT('%',#{nameLike},'%')
            )
        </if>
        <if test="relationStatus !=null">
            tcr.relation_status=#{relationStatus}
        </if>
        <if test="relationStatus !=null">
            tcr.relation_status=#{relationStatus}
        </if>
    </sql>
    <sql id="Part_Query">
        tcr.id,tcr.relation_status relationStatus,DATE_FORMAT(tcr.teamwork_time,'%Y-%m-%d') teamworkTime,tci2.company_name companyName,
        tci2.business_type businessType,tci2.credential,tui2.real_name realName,tui2.mobile,tui2.email,
        CONCAT((SELECT name FROM t_area where id=tci2.province),(SELECT name FROM t_area where id=tci2.city),(SELECT name FROM t_area where id=tci2.area),IF(tci2.address IS NULL,'',tci2.address)) address
    </sql>
    <!--合作伙伴的列表-->
    <select id="partnerList" parameterType="com.dqys.business.orm.pojo.partner.PartnerQuery"
            resultType="com.dqys.business.orm.pojo.partner.PartnerDTO">
        SELECT
        SELECT tcr.company_a_id companyId,
        <include refid="Part_Query"/>
        FROM t_company_relaiton tcr LEFT JOIN t_company_info tci
        ON tci.id=tcr.company_b_id LEFT JOIN t_user_info tui
        ON tui.company_id=tcr.company_b_id LEFT JOIN t_user_info tui2
        ON tui2.company_id=tcr.company_a_id LEFT JOIN t_user_tag tut2
        ON tut2.user_id=tui2.id LEFT JOIN t_company_info tci2
        ON tci2.id=tui2.company_id
        WHERE tui.id=#{userId} AND tut2.role_id=1
        <include refid="Partner_Where"/>
        UNION
        SELECT tcr.company_b_i`d companyId,
        <include refid="Part_Query"/>
        FROM t_company_relaiton tcr LEFT JOIN t_company_info tci
        ON tci.id=tcr.company_a_id LEFT JOIN t_user_info tui
        ON tui.company_id=tcr.company_a_id LEFT JOIN t_user_info tui2
        ON tui2.company_id=tcr.company_b_id LEFT JOIN t_user_tag tut2
        ON tut2.user_id=tui2.id LEFT JOIN t_company_info tci2
        ON tci2.id=tui2.company_id
        WHERE tui.id=#{userId} AND tut2.role_id=1
        <include refid="Partner_Where"/>
        <if test="isPage ==null">
            LIMIT #{startPage},#{pageCount}
        </if>
    </select>


</mapper>