<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chebaiyong.biz.asset.dao.PawnInfoMapper" >
  <resultMap id="BaseResultMap" type="com.chebaiyong.biz.asset.domain.PawnInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="stateflag" property="stateflag" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="worth" property="worth" jdbcType="DOUBLE" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="quality" property="quality" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    <result column="pawn_rate" property="pawnRate" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="dispose_status" property="disposeStatus" jdbcType="TINYINT" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, version, create_at, update_at, stateflag, remark, code, amount, worth, type, 
    quality, level, size, pawn_rate, province, city, district, address, dispose_status, 
    memo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_pawn_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_pawn_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chebaiyong.biz.asset.domain.PawnInfo" >
    insert into t_pawn_info (id, version, create_at, 
      update_at, stateflag, remark, 
      code, amount, worth, 
      type, quality, level, 
      size, pawn_rate, province, 
      city, district, address, 
      dispose_status, memo)
    values (#{id,jdbcType=INTEGER}, #{version,jdbcType=INTEGER}, #{createAt,jdbcType=TIMESTAMP}, 
      #{updateAt,jdbcType=TIMESTAMP}, #{stateflag,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{amount,jdbcType=DOUBLE}, #{worth,jdbcType=DOUBLE}, 
      #{type,jdbcType=TINYINT}, #{quality,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, 
      #{size,jdbcType=VARCHAR}, #{pawnRate,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{disposeStatus,jdbcType=TINYINT}, #{memo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chebaiyong.biz.asset.domain.PawnInfo" >
    insert into t_pawn_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
      <if test="stateflag != null" >
        stateflag,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="worth != null" >
        worth,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="quality != null" >
        quality,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="pawnRate != null" >
        pawn_rate,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="disposeStatus != null" >
        dispose_status,
      </if>
      <if test="memo != null" >
        memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="stateflag != null" >
        #{stateflag,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="worth != null" >
        #{worth,jdbcType=DOUBLE},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="quality != null" >
        #{quality,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="pawnRate != null" >
        #{pawnRate,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="disposeStatus != null" >
        #{disposeStatus,jdbcType=TINYINT},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chebaiyong.biz.asset.domain.PawnInfo" >
    update t_pawn_info
    <set >
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="stateflag != null" >
        stateflag = #{stateflag,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="worth != null" >
        worth = #{worth,jdbcType=DOUBLE},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="quality != null" >
        quality = #{quality,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="pawnRate != null" >
        pawn_rate = #{pawnRate,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="disposeStatus != null" >
        dispose_status = #{disposeStatus,jdbcType=TINYINT},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chebaiyong.biz.asset.domain.PawnInfo" >
    update t_pawn_info
    set version = #{version,jdbcType=INTEGER},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      stateflag = #{stateflag,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DOUBLE},
      worth = #{worth,jdbcType=DOUBLE},
      type = #{type,jdbcType=TINYINT},
      quality = #{quality,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      pawn_rate = #{pawnRate,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      dispose_status = #{disposeStatus,jdbcType=TINYINT},
      memo = #{memo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>