<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.auth.orm.dao.facade.TUserTagMapper" >

  <cache type="com.dqys.core.cache.MybatisRedisCache" eviction="LRU"/>

  <resultMap id="BaseResultMap" type="com.dqys.auth.orm.pojo.TUserTag" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="stateflag" property="stateflag" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_type" property="userType" jdbcType="TINYINT" />
    <result column="role_id" property="roleId" jdbcType="TINYINT" />
    <result column="is_certified" property="isCertified" jdbcType="BIT" />
  </resultMap>

  <!-- 基础字段 -->
  <sql id="Base_Column_List" >
    id, version, create_at, update_at, stateflag, remark, user_id, user_type, role_id, is_certified
  </sql>

  <!-- 条件查询字段 -->
  <sql id="Query_Condition">
    <where>
      stateflag = 0
      <if test="userId != null">
        AND user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="userType != null">
        AND user_type = #{userType,jdbcType=INTEGER}
      </if>
      <if test="role != null">
        AND role_id = #{roleId,jdbcType=INTEGER}
      </if>
      <if test="certified != null">
        AND is_certified = #{certified,jdbcType=INTEGER}
      </if>

      <if test="userTypes != null">
        AND user_id IN
        <foreach collection="userTypes" item="ut" separator="," open="(" close=")">
          #{ut}
        </foreach>
      </if>
    </where>
  </sql>

  <!-- 根据ID查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_user_tag
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!-- 根据ID删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update t_user_tag set stateflag=CURRENT_TIMESTAMP
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!-- 新增 -->
  <insert id="insertSelective" parameterType="com.dqys.auth.orm.pojo.TUserTag" useGeneratedKeys="true" keyProperty="id" >
    insert into t_user_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="remark != null" >
        remark,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="isCertified != null" >
        is_certified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=TINYINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=TINYINT},
      </if>
      <if test="isCertified != null" >
        #{isCertified,jdbcType=BIT},
      </if>
    </trim>
  </insert>

  <!-- 修改 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.dqys.auth.orm.pojo.TUserTag" >
    update t_user_tag
    <set >
      version = version+1,
      update_at = CURRENT_TIMESTAMP ,
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=TINYINT},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=TINYINT},
      </if>
      <if test="isCertified != null" >
        is_certified = #{isCertified,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
    and version = #{version,jdbcType=INTEGER}
    and stateflag=0
  </update>

  <!-- 根据userID获取 -->
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from t_user_tag
    where
    user_id = #{userId,jdbcType=INTEGER}
    and stateflag=0
    order by user_type,role_id
  </select>

  <!-- 多条件查询 -->
  <select id="selectByQuery" parameterType="com.dqys.auth.orm.query.TUserQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user_tag
    <include refid="Query_Condition" />
    ORDER BY id DESC
    <if test="isPaging">
      limit #{startRecode,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </if>
  </select>

</mapper>