<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.dqys.core.interceptor.CrossOriginIntercetpor"/>
        </mvc:interceptor>

        <!--默认全部需要登录身份-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/fixed/noVerify/*"/>
            <mvc:exclude-mapping path="/bond/noVerify/*"/>
            <mvc:exclude-mapping path="/news/noVerify/*"/>
            <bean class="com.dqys.core.interceptor.HeaderInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>
