<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.sale.orm.mapper.AssetPackageMapper">
    <resultMap id="BaseResultMap" type="com.dqys.sale.orm.pojo.AssetPackage">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="asset_no" property="assetNo" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="is_special" property="isSpecial" jdbcType="INTEGER"/>
        <result column="is_home_page" property="isHomePage" jdbcType="INTEGER"/>
        <result column="asset_type" property="assetType" jdbcType="INTEGER"/>
        <result column="grade" property="grade" jdbcType="INTEGER"/>
        <result column="entrust_source" property="entrustSource" jdbcType="VARCHAR"/>
        <result column="total_money" property="totalMoney" jdbcType="DOUBLE"/>
        <result column="province" property="province" jdbcType="INTEGER"/>
        <result column="city" property="city" jdbcType="INTEGER"/>
        <result column="area" property="area" jdbcType="INTEGER"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="entrust_name" property="entrustName" jdbcType="VARCHAR"/>
        <result column="entrust_province" property="entrustProvince" jdbcType="INTEGER"/>
        <result column="entrust_city" property="entrustCity" jdbcType="INTEGER"/>
        <result column="entrust_area" property="entrustArea" jdbcType="INTEGER"/>
        <result column="entrust_address" property="entrustAddress" jdbcType="VARCHAR"/>
        <result column="entrust_phone" property="entrustPhone" jdbcType="VARCHAR"/>
        <result column="entrust_contacts_name" property="entrustContactsName" jdbcType="VARCHAR"/>
        <result column="entrust_contacts_phone" property="entrustContactsPhone" jdbcType="VARCHAR"/>
        <result column="entrust_type" property="entrustType" jdbcType="INTEGER"/>
        <result column="is_bank" property="isBank" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="oper_user" property="operUser" jdbcType="INTEGER"/>
        <result column="describes" property="describes" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="enable" property="enable" jdbcType="INTEGER"/>
        <result column="check_status" property="checkStatus" jdbcType="INTEGER"/>
        <result column="dispose_num" property="disposeNum" jdbcType="INTEGER"/>
        <result column="collection_num" property="collectionNum" jdbcType="INTEGER"/>
        <result column="dispose_status" property="disposeStatus" jdbcType="INTEGER"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id,asset_no, title, is_special, is_home_page, asset_type, grade, entrust_source, total_money,
    province, city, area, address, entrust_name, entrust_province, entrust_city, entrust_area, 
    entrust_address, entrust_phone, entrust_contacts_name, entrust_contacts_phone, entrust_type, 
    is_bank, create_time, update_time, oper_user, describes, remark,enable,check_status,dispose_num,collection_num,dispose_status,
    start_time,end_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_asset_package
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    UPDATE t_asset_package SET stateflag=now()
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.dqys.sale.orm.pojo.AssetPackage" useGeneratedKeys="true"
            keyProperty="id">
    insert into t_asset_package (id, asset_no,title, is_special,
      is_home_page, asset_type, grade, 
      entrust_source, total_money, province, 
      city, area, address, 
      entrust_name, entrust_province, entrust_city, 
      entrust_area, entrust_address, entrust_phone, 
      entrust_contacts_name, entrust_contacts_phone, 
      entrust_type, is_bank, create_time, 
      update_time, oper_user, describes, 
      remark)
    values (#{id,jdbcType=INTEGER},#{assetNo,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{isSpecial,jdbcType=INTEGER},
      #{isHomePage,jdbcType=INTEGER}, #{assetType,jdbcType=INTEGER}, #{grade,jdbcType=INTEGER}, 
      #{entrustSource,jdbcType=VARCHAR}, #{totalMoney,jdbcType=DOUBLE}, #{province,jdbcType=INTEGER}, 
      #{city,jdbcType=INTEGER}, #{area,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{entrustName,jdbcType=VARCHAR}, #{entrustProvince,jdbcType=INTEGER}, #{entrustCity,jdbcType=INTEGER}, 
      #{entrustArea,jdbcType=INTEGER}, #{entrustAddress,jdbcType=VARCHAR}, #{entrustPhone,jdbcType=VARCHAR}, 
      #{entrustContactsName,jdbcType=VARCHAR}, #{entrustContactsPhone,jdbcType=VARCHAR}, 
      #{entrustType,jdbcType=INTEGER}, #{isBank,jdbcType=INTEGER}, now(), 
      now(), #{operUser,jdbcType=INTEGER}, #{describes,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.dqys.sale.orm.pojo.AssetPackage" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_asset_package
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="assetNo != null">
                asset_no,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="isSpecial != null">
                is_special,
            </if>
            <if test="isHomePage != null">
                is_home_page,
            </if>
            <if test="assetType != null">
                asset_type,
            </if>
            <if test="grade != null">
                grade,
            </if>
            <if test="entrustSource != null">
                entrust_source,
            </if>
            <if test="totalMoney != null">
                total_money,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="entrustName != null">
                entrust_name,
            </if>
            <if test="entrustProvince != null">
                entrust_province,
            </if>
            <if test="entrustCity != null">
                entrust_city,
            </if>
            <if test="entrustArea != null">
                entrust_area,
            </if>
            <if test="entrustAddress != null">
                entrust_address,
            </if>
            <if test="entrustPhone != null">
                entrust_phone,
            </if>
            <if test="entrustContactsName != null">
                entrust_contacts_name,
            </if>
            <if test="entrustContactsPhone != null">
                entrust_contacts_phone,
            </if>
            <if test="entrustType != null">
                entrust_type,
            </if>
            <if test="isBank != null">
                is_bank,
            </if>
            create_time,
            update_time,
            oper_user,
            <if test="describes != null">
                describes,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="assetNo != null">
                #{assetNo,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="isSpecial != null">
                #{isSpecial,jdbcType=INTEGER},
            </if>
            <if test="isHomePage != null">
                #{isHomePage,jdbcType=INTEGER},
            </if>
            <if test="assetType != null">
                #{assetType,jdbcType=INTEGER},
            </if>
            <if test="grade != null">
                #{grade,jdbcType=INTEGER},
            </if>
            <if test="entrustSource != null">
                #{entrustSource,jdbcType=VARCHAR},
            </if>
            <if test="totalMoney != null">
                #{totalMoney,jdbcType=DOUBLE},
            </if>
            <if test="province != null">
                #{province,jdbcType=INTEGER},
            </if>
            <if test="city != null">
                #{city,jdbcType=INTEGER},
            </if>
            <if test="area != null">
                #{area,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="entrustName != null">
                #{entrustName,jdbcType=VARCHAR},
            </if>
            <if test="entrustProvince != null">
                #{entrustProvince,jdbcType=INTEGER},
            </if>
            <if test="entrustCity != null">
                #{entrustCity,jdbcType=INTEGER},
            </if>
            <if test="entrustArea != null">
                #{entrustArea,jdbcType=INTEGER},
            </if>
            <if test="entrustAddress != null">
                #{entrustAddress,jdbcType=VARCHAR},
            </if>
            <if test="entrustPhone != null">
                #{entrustPhone,jdbcType=VARCHAR},
            </if>
            <if test="entrustContactsName != null">
                #{entrustContactsName,jdbcType=VARCHAR},
            </if>
            <if test="entrustContactsPhone != null">
                #{entrustContactsPhone,jdbcType=VARCHAR},
            </if>
            <if test="entrustType != null">
                #{entrustType,jdbcType=INTEGER},
            </if>
            <if test="isBank != null">
                #{isBank,jdbcType=INTEGER},
            </if>
            now(),
            now(),
            #{operUser,jdbcType=INTEGER},
            <if test="describes != null">
                #{describes,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dqys.sale.orm.pojo.AssetPackage">
        update t_asset_package
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="isSpecial != null">
                is_special = #{isSpecial,jdbcType=INTEGER},
            </if>
            <if test="isHomePage != null">
                is_home_page = #{isHomePage,jdbcType=INTEGER},
            </if>
            <if test="assetType != null">
                asset_type = #{assetType,jdbcType=INTEGER},
            </if>
            <if test="grade != null">
                grade = #{grade,jdbcType=INTEGER},
            </if>
            <if test="entrustSource != null">
                entrust_source = #{entrustSource,jdbcType=VARCHAR},
            </if>
            <if test="totalMoney != null">
                total_money = #{totalMoney,jdbcType=DOUBLE},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=INTEGER},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=INTEGER},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="entrustName != null">
                entrust_name = #{entrustName,jdbcType=VARCHAR},
            </if>
            <if test="entrustProvince != null">
                entrust_province = #{entrustProvince,jdbcType=INTEGER},
            </if>
            <if test="entrustCity != null">
                entrust_city = #{entrustCity,jdbcType=INTEGER},
            </if>
            <if test="entrustArea != null">
                entrust_area = #{entrustArea,jdbcType=INTEGER},
            </if>
            <if test="entrustAddress != null">
                entrust_address = #{entrustAddress,jdbcType=VARCHAR},
            </if>
            <if test="entrustPhone != null">
                entrust_phone = #{entrustPhone,jdbcType=VARCHAR},
            </if>
            <if test="entrustContactsName != null">
                entrust_contacts_name = #{entrustContactsName,jdbcType=VARCHAR},
            </if>
            <if test="entrustContactsPhone != null">
                entrust_contacts_phone = #{entrustContactsPhone,jdbcType=VARCHAR},
            </if>
            <if test="entrustType != null">
                entrust_type = #{entrustType,jdbcType=INTEGER},
            </if>
            <if test="isBank != null">
                is_bank = #{isBank,jdbcType=INTEGER},
            </if>
            update_time = now(),
            <if test="operUser != null">
                oper_user = #{operUser,jdbcType=INTEGER},
            </if>
            <if test="describes != null">
                describes = #{describes,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time=#{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time=#{endTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.dqys.sale.orm.pojo.AssetPackage">
    update t_asset_package
    set title = #{title,jdbcType=VARCHAR},
      is_special = #{isSpecial,jdbcType=INTEGER},
      is_home_page = #{isHomePage,jdbcType=INTEGER},
      asset_type = #{assetType,jdbcType=INTEGER},
      grade = #{grade,jdbcType=INTEGER},
      entrust_source = #{entrustSource,jdbcType=VARCHAR},
      total_money = #{totalMoney,jdbcType=DOUBLE},
      province = #{province,jdbcType=INTEGER},
      city = #{city,jdbcType=INTEGER},
      area = #{area,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      entrust_name = #{entrustName,jdbcType=VARCHAR},
      entrust_province = #{entrustProvince,jdbcType=INTEGER},
      entrust_city = #{entrustCity,jdbcType=INTEGER},
      entrust_area = #{entrustArea,jdbcType=INTEGER},
      entrust_address = #{entrustAddress,jdbcType=VARCHAR},
      entrust_phone = #{entrustPhone,jdbcType=VARCHAR},
      entrust_contacts_name = #{entrustContactsName,jdbcType=VARCHAR},
      entrust_contacts_phone = #{entrustContactsPhone,jdbcType=VARCHAR},
      entrust_type = #{entrustType,jdbcType=INTEGER},
      is_bank = #{isBank,jdbcType=INTEGER},
      update_time = now(),
      oper_user = #{operUser,jdbcType=INTEGER},
      describes = #{describes,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.dqys.sale.orm.pojo.AssetPackage">
    update t_asset_package
    set title = #{title,jdbcType=VARCHAR},
      is_special = #{isSpecial,jdbcType=INTEGER},
      is_home_page = #{isHomePage,jdbcType=INTEGER},
      asset_type = #{assetType,jdbcType=INTEGER},
      grade = #{grade,jdbcType=INTEGER},
      entrust_source = #{entrustSource,jdbcType=VARCHAR},
      total_money = #{totalMoney,jdbcType=DOUBLE},
      province = #{province,jdbcType=INTEGER},
      city = #{city,jdbcType=INTEGER},
      area = #{area,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      entrust_name = #{entrustName,jdbcType=VARCHAR},
      entrust_province = #{entrustProvince,jdbcType=INTEGER},
      entrust_city = #{entrustCity,jdbcType=INTEGER},
      entrust_area = #{entrustArea,jdbcType=INTEGER},
      entrust_address = #{entrustAddress,jdbcType=VARCHAR},
      entrust_phone = #{entrustPhone,jdbcType=VARCHAR},
      entrust_contacts_name = #{entrustContactsName,jdbcType=VARCHAR},
      entrust_contacts_phone = #{entrustContactsPhone,jdbcType=VARCHAR},
      entrust_type = #{entrustType,jdbcType=INTEGER},
      is_bank = #{isBank,jdbcType=INTEGER},
      create_time = now(),
      update_time = now(),
      oper_user = #{operUser,jdbcType=INTEGER},
      describes = #{describes,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <resultMap id="BaseResultMapWithAll" type="com.dqys.sale.orm.pojo.AssetPackage" extends="BaseResultMap"
               autoMapping="true">
        <collection column="id" property="labels" ofType="com.dqys.sale.orm.pojo.Label">
            <result column="type" property="type"/>
            <result column="name" property="name"/>
        </collection>
        <collection column="id" property="disposes" ofType="com.dqys.sale.orm.pojo.Dispose">
            <result column="dispose_type" property="disposeType"/>
            <result column="alg" property="alg"/>
            <result column="value" property="value"/>
        </collection>
        <collection column="id" property="assetFiles" ofType="com.dqys.sale.orm.pojo.AssetFile">
            <result column="filename" property="filename"/>
            <result column="file_type" property="type"/>
        </collection>
        <collection column="id" property="business" ofType="com.dqys.sale.orm.pojo.Business">
            <result column="business_id" property="id"/>
            <result column="create_id" property="createId"/>
            <result column="createName" property="createName"/>
        </collection>
    </resultMap>

    <sql id="Query_Where">
        AND tap.stateflag=0
        <if test="ids!=null and ids.size>0">
            AND tap.id IN
            <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="isHomePage !=null">
            AND tap.is_home_page = #{isHomePage}
        </if>
        <if test="checkStatus !=null">
            AND tap.check_status=#{checkStatus}
        </if>
        <if test="enable !=null">
            AND tap.enable=#{enable}
        </if>
        <if test="businessStatus !=null">
            AND b.status=#{businessStatus}
        </if>
        <if test="userId !=null">
            AND b.create_id=#{userId}
        </if>

        <if test="entrustType !=null">
            AND tap.entrust_type=#{entrustType}
        </if>
        <if test="assetType !=null">
            AND tap.asset_type=#{assetType}
        </if>
        <if test="totalMoneyBegin !=null and totalMoneyEnd !=null">
            AND (tap.total_money BETWEEN #{totalMoneyBegin} AND #{totalMoneyEnd})
        </if>
        <if test="isBank !=null">
            AND tap.is_bank=#{isBank}
        </if>
        <if test="province !=null">
            AND tap.province=#{province}
        </if>
        <if test="city !=null">
            AND tap.city=#{city}
        </if>
        <if test="area !=null">
            AND tap.area=#{area}
        </if>
        <if test="disposeStatus !=null">
            AND tap.dispose_status=#{disposeStatus}
        </if>
        <if test="disposes !=null">
            AND dis.dispose_type=#{disposes}
        </if>

    </sql>
    <select id="list" parameterType="com.dqys.sale.orm.query.AssetPackageQuery"
            resultMap="BaseResultMapWithAll">
        SELECT tap.*,(SELECT su.name FROM t_sale_user su WHERE id=tap.oper_user)
        operUserName,dis.dispose_type,dis.alg,dis.value,taf.type file_type,taf.filename,lab.name lable_name,
        lab.type lable_type,b.id business_id,b.create_id,(SELECT su.name FROM t_sale_user su WHERE id=b.create_id)
        createName
        FROM t_business_obj_re bor LEFT JOIN business b
        ON b.id=bor.business_id LEFT JOIN t_asset_package tap
        ON tap.id=bor.object_id LEFT JOIN t_dispose dis
        ON dis.asset_id=tap.id AND dis.asset_type=#{objectType} LEFT JOIN t_asset_file taf
        ON taf.asset_id=tap.id AND taf.asset_type=#{objectType} LEFT JOIN
        (SELECT lar.id,lar.asset_type,lar.assset_id,l.name,l.type FROM t_label_asset_re lar,t_label l WHERE
        l.id=lar.label_id) lab
        ON lab.assset_id=tap.id AND lab.asset_type=#{objectType}
        WHERE bor.object_type=#{objectType}
        <include refid="Query_Where"/>
        ORDER BY
        <if test="collectionNumSort !=null and collectionNumSort==1">
             tap.collection_num DESC,
        </if>
        <if test="collectionNumSort !=null and collectionNumSort==2">
            tap.collection_num ASC,
        </if>
        <if test="disposeNumSort !=null and disposeNumSort==1">
            tap.dispose_num DESC,
        </if>
        <if test="disposeNumSort !=null and disposeNumSort==2">
            tap.dispose_num ASC,
        </if>
        <if test="totalMoneySort !=null and totalMoneySort==1">
            tap.total_money DESC,
        </if>
        <if test="totalMoneySort !=null and totalMoneySort==2">
            tap.total_money ASC,
        </if>
        tap.create_time DESC
    </select>
    <select id="listCount" parameterType="com.dqys.sale.orm.query.AssetPackageQuery"
            resultType="int">
        SELECT count(tap.id) FROM t_business_obj_re bor LEFT JOIN business b
        ON b.id=bor.business_id LEFT JOIN t_asset_package tap
        ON tap.id=bor.object_id
        WHERE bor.object_type=#{objectType}
        <include refid="Query_Where"/>
    </select>

    <!--统计数据-->
    <select id="getAssetPackageCount" resultType="java.util.Map">
        SELECT (SELECT count(ub1.id) FROM t_asset_package ub1
        WHERE ub1.stateflag=0 AND DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt; ub1.create_time) addCount,
        (SELECT count(ub2.id) FROM t_asset_package ub2
        WHERE ub2.stateflag=0) totalCount
        FROM DUAL
    </select>

</mapper>