<link type="text/css" rel="stylesheet" href="$httpUrl/css/bootstrap.min.css" media="screen"></link>
<link type="text/css" rel="stylesheet" href="$httpUrl/css/bootstrap-datetimepicker.min.css" media="screen"></link>
<link type="text/css" rel="stylesheet" href="$httpUrl/css/swiper.css" media="screen"></link>
<link type="text/css" rel="stylesheet" href="$httpUrl/css/font-awesome.css" media="screen"></link>
<link type="text/css" rel="stylesheet" href="$httpUrl/css/common.css" media="screen"></link>
<script src="$httpUrl/script/jquery.min.js"></script>
<script src="$httpUrl/script/bootstrap.min.js"></script>
<script src="$httpUrl/script/bootstrap-datetimepicker.min.js"></script>
<script src="$httpUrl/script/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="$httpUrl/script/swiper.min.js"></script>
<script src="$httpUrl/script/common.js"></script>
