<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.dqys.core.interceptor.CrossOriginIntercetpor"/>
        </mvc:interceptor>

        <!--默认全部需要登录身份-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/sys_notice/c_pageList"/>
            <bean class="com.dqys.core.interceptor.HeaderInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/b_log/*"/>
            <bean class="com.dqys.business.interceptor.BusinessLogIntercetpor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/asset/*"/>
            <bean class="com.dqys.business.interceptor.asset.AssetInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/api/company/*"/>
            <bean class="com.dqys.business.interceptor.asset.CompanyInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/iou/*"/>
            <bean class="com.dqys.business.interceptor.asset.IouInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/lender/*"/>
            <bean class="com.dqys.business.interceptor.asset.LenderInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/pawn/*"/>
            <bean class="com.dqys.business.interceptor.asset.PawnInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/api/user/*"/>
            <bean class="com.dqys.business.interceptor.asset.UserInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/nav/*"/>
            <bean class="com.dqys.business.interceptor.company.NavigationInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/case/*"/>
            <bean class="com.dqys.business.interceptor.cases.CaseInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/source/*"/>
            <bean class="com.dqys.business.interceptor.common.SourceInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/announcement/*"/>
            <bean class="com.dqys.business.interceptor.common.AnnouncementInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>
