<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.business.orm.mapper.common.SourceSourceMapper" >

  <resultMap id="BaseResultMap" type="com.dqys.business.orm.pojo.common.SourceSource" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="source_info_id" property="sourceInfoId" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="file_type" property="fileType" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="LONGVARCHAR" />
    <result column="stateflag" property="stateflag" jdbcType="BIGINT" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, source_info_id, path, name, file_type, memo, stateflag
  </sql>

  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bt_source_source
    where id = #{id,jdbcType=INTEGER} AND stateflag = 0
  </select>

  <update id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    UPDATE bt_source_source SET stateflag = CURRENT_TIMESTAMP
    where id = #{id,jdbcType=INTEGER} AND stateflag = 0
  </update>

  <insert id="insert" parameterType="com.dqys.business.orm.pojo.common.SourceSource" useGeneratedKeys="true" keyProperty="id">
    insert into bt_source_source
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sourceInfoId != null" >
        source_info_id,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="fileType != null" >
        file_type,
      </if>
      <if test="memo != null" >
        memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sourceInfoId != null" >
        #{sourceInfoId,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.dqys.business.orm.pojo.common.SourceSource" >
    update bt_source_source
    <set >
      <if test="sourceInfoId != null" >
        source_info_id = #{sourceInfoId,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER} AND stateflag = 0
  </update>

  <select id="listBySourceId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM bt_source_source
    WHERE source_info_id = #{id,jdbcType=INTEGER} AND stateflag = 0
  </select>

</mapper>