<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.dqys.core.interceptor.CrossOriginIntercetpor"/>
        </mvc:interceptor>
      <!-- <mvc:interceptor>

            <mvc:mapping path="/**"/>

            <mvc:exclude-mapping path="/"/>
            <mvc:exclude-mapping path="/index"/>
            <mvc:exclude-mapping path="/font/*"/>
            <mvc:exclude-mapping path="/css/*"/>
            <mvc:exclude-mapping path="/script/*"/>
            <mvc:exclude-mapping path="/script/locales/*"/>
            <mvc:exclude-mapping path="/html/*"/>

            <bean class="com.dqys.core.interceptor.HeaderInterceptor"/>
        </mvc:interceptor>-->
    </mvc:interceptors>

    <mvc:resources mapping="/font/**" location="/font/" />
    <mvc:resources mapping="/css/**" location="/css/" />
    <mvc:resources mapping="/script/**" location="/script/"/>
    <mvc:resources mapping="/html/**" location="/html/"/>
</beans>
