<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.business.orm.mapper.zcy.ZcyOwnerContactsMapper">
    <resultMap id="BaseResultMap" type="com.dqys.business.orm.pojo.zcy.ZcyOwnerContacts">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="owner_id" property="ownerId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="phone_type" property="phoneType" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP"/>
        <result column="stateflag" property="stateflag" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, owner_id, name, type, sex, phone, phone_type, email, version, create_at, update_at, 
    stateflag
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_zcy_owner_contacts
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    UPDATE t_zcy_owner_contacts SET stateflag=now()
    where owner_id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.dqys.business.orm.pojo.zcy.ZcyOwnerContacts" keyProperty="id" useGeneratedKeys="true">
    insert into t_zcy_owner_contacts (id, owner_id, name, 
      type, sex, phone, phone_type, 
      email, version, create_at, 
      update_at, stateflag)
    values (#{id,jdbcType=INTEGER}, #{ownerId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{phoneType,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, 0,now(),
      now(), 0)
  </insert>
    <insert id="insertSelective" parameterType="com.dqys.business.orm.pojo.zcy.ZcyOwnerContacts" keyProperty="id" useGeneratedKeys="true" >
        insert into t_zcy_owner_contacts
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="ownerId != null">
                owner_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="phoneType != null">
                phone_type,
            </if>
            <if test="email != null">
                email,
            </if>
            create_at,
            update_at,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="ownerId != null">
                #{ownerId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="phoneType != null">
                #{phoneType,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            now(),
            now(),
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dqys.business.orm.pojo.zcy.ZcyOwnerContacts">
        update t_zcy_owner_contacts
        <set>
            <if test="ownerId != null">
                owner_id = #{ownerId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="phoneType != null">
                phone_type = #{phoneType,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            version = version+1,
            update_at = now(),
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dqys.business.orm.pojo.zcy.ZcyOwnerContacts">
    update t_zcy_owner_contacts
    set owner_id = #{ownerId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      phone_type = #{phoneType,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      version = version+1,
      update_at =now()
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectBySelective" resultMap="BaseResultMap" parameterType="com.dqys.business.orm.pojo.zcy.ZcyOwnerContacts">
        select
        <include refid="Base_Column_List"/>
        from t_zcy_owner_contacts
        where  stateflag=0
        <if test="ownerId !=null">
            and owner_id=#{ownerId}
        </if>
    </select>
</mapper>