<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.business.orm.mapper.coordinator.CompanyTeamMapper">
    <resultMap id="BaseResultMap" type="com.dqys.business.orm.pojo.coordinator.CompanyTeam">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="sender_id" property="senderId" jdbcType="INTEGER"/>
        <result column="object_id" property="objectId" jdbcType="INTEGER"/>
        <result column="object_type" property="objectType" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP"/>
        <result column="stateflag" property="stateflag" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, create_at, remark, sender_id, object_id, object_type, version, update_at, stateflag
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_company_team
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update  t_company_team SET  stateflag=now()
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.dqys.business.orm.pojo.coordinator.CompanyTeam" useGeneratedKeys="true"
            keyProperty="id">
    insert into t_company_team (id, create_at, remark, 
      sender_id, object_id, object_type, 
      version, update_at, stateflag
      )
    values (#{id,jdbcType=INTEGER}, now(), #{remark,jdbcType=VARCHAR},
      #{senderId,jdbcType=INTEGER}, #{objectId,jdbcType=INTEGER}, #{objectType,jdbcType=INTEGER}, 
     0, now(), 0
      )
  </insert>
    <insert id="insertSelective" parameterType="com.dqys.business.orm.pojo.coordinator.CompanyTeam"
            useGeneratedKeys="true" keyProperty="id">
        insert into t_company_team
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            create_at,
            <if test="remark != null">
                remark,
            </if>
            <if test="senderId != null">
                sender_id,
            </if>
            <if test="objectId != null">
                object_id,
            </if>
            <if test="objectType != null">
                object_type,
            </if>
            update_at,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            now(),
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="senderId != null">
                #{senderId,jdbcType=INTEGER},
            </if>
            <if test="objectId != null">
                #{objectId,jdbcType=INTEGER},
            </if>
            <if test="objectType != null">
                #{objectType,jdbcType=INTEGER},
            </if>
            now(),
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dqys.business.orm.pojo.coordinator.CompanyTeam">
        update t_company_team
        <set>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="senderId != null">
                sender_id = #{senderId,jdbcType=INTEGER},
            </if>
            <if test="objectId != null">
                object_id = #{objectId,jdbcType=INTEGER},
            </if>
            <if test="objectType != null">
                object_type = #{objectType,jdbcType=INTEGER},
            </if>
            version = version+1,
            update_at = now(),
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dqys.business.orm.pojo.coordinator.CompanyTeam">
    update t_company_team
    set
      remark = #{remark,jdbcType=VARCHAR},
      sender_id = #{senderId,jdbcType=INTEGER},
      object_id = #{objectId,jdbcType=INTEGER},
      object_type = #{objectType,jdbcType=INTEGER},
      version = version+1,
      update_at = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>