<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.business.orm.mapper.coordinator.CompanyTeamReMapper" >
  <resultMap id="BaseResultMap" type="com.dqys.business.orm.pojo.coordinator.CompanyTeamRe" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="accept_company_id" property="acceptCompanyId" jdbcType="INTEGER" />
    <result column="company_team_id" property="companyTeamId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="accepter_id" property="accepterId" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="stateflag" property="stateflag" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, accept_company_id, company_team_id, status, type, accepter_id, version, create_at, 
    update_at, stateflag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_company_team_re
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    UPDATE  t_company_team_re set stateflag=now()
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dqys.business.orm.pojo.coordinator.CompanyTeamRe" useGeneratedKeys="true" keyProperty="id" >
    insert into t_company_team_re (id, accept_company_id, company_team_id, 
      status, type, accepter_id, 
      version, create_at, update_at, 
      stateflag)
    values (#{id,jdbcType=INTEGER}, #{acceptCompanyId,jdbcType=INTEGER}, #{companyTeamId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{accepterId,jdbcType=INTEGER}, 
      0, now(), now(),
     0)
  </insert>
  <insert id="insertSelective" parameterType="com.dqys.business.orm.pojo.coordinator.CompanyTeamRe" useGeneratedKeys="true" keyProperty="id" >
    insert into t_company_team_re
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="acceptCompanyId != null" >
        accept_company_id,
      </if>
      <if test="companyTeamId != null" >
        company_team_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="accepterId != null" >
        accepter_id,
      </if>
        create_at,
        update_at,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="acceptCompanyId != null" >
        #{acceptCompanyId,jdbcType=INTEGER},
      </if>
      <if test="companyTeamId != null" >
        #{companyTeamId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="accepterId != null" >
        #{accepterId,jdbcType=INTEGER},
      </if>
        now(),
        now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dqys.business.orm.pojo.coordinator.CompanyTeamRe" >
    update t_company_team_re
    <set >
      <if test="acceptCompanyId != null" >
        accept_company_id = #{acceptCompanyId,jdbcType=INTEGER},
      </if>
      <if test="companyTeamId != null" >
        company_team_id = #{companyTeamId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="accepterId != null" >
        accepter_id = #{accepterId,jdbcType=INTEGER},
      </if>
        version = version+1,
        update_at = now(),
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dqys.business.orm.pojo.coordinator.CompanyTeamRe" >
    update t_company_team_re
    set accept_company_id = #{acceptCompanyId,jdbcType=INTEGER},
      company_team_id = #{companyTeamId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      accepter_id = #{accepterId,jdbcType=INTEGER},
      version = version+1,
      update_at = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>