<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.business.orm.mapper.coordinator.CompanyRelationMapper" >
  <resultMap id="BaseResultMap" type="com.dqys.business.orm.pojo.coordinator.CompanyRelation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_a_id" property="companyAId" jdbcType="INTEGER" />
    <result column="company_b_id" property="companyBId" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="stateflag" property="stateflag" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_a_id, company_b_id, version, create_at, update_at, stateflag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_company_relaiton
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_company_relaiton
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dqys.business.orm.pojo.coordinator.CompanyRelation" useGeneratedKeys="true" keyProperty="id">
    insert into t_company_relaiton (id, company_a_id, company_b_id, 
      version, create_at, update_at, 
      stateflag)
    values (#{id,jdbcType=INTEGER}, #{companyAId,jdbcType=INTEGER}, #{companyBId,jdbcType=INTEGER}, 
      #{version,jdbcType=INTEGER}, #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP}, 
      #{stateflag,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.dqys.business.orm.pojo.coordinator.CompanyRelation" useGeneratedKeys="true" keyProperty="id">
    insert into t_company_relaiton
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyAId != null" >
        company_a_id,
      </if>
      <if test="companyBId != null" >
        company_b_id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
      <if test="stateflag != null" >
        stateflag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyAId != null" >
        #{companyAId,jdbcType=INTEGER},
      </if>
      <if test="companyBId != null" >
        #{companyBId,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="stateflag != null" >
        #{stateflag,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dqys.business.orm.pojo.coordinator.CompanyRelation" >
    update t_company_relaiton
    <set >
      <if test="companyAId != null" >
        company_a_id = #{companyAId,jdbcType=INTEGER},
      </if>
      <if test="companyBId != null" >
        company_b_id = #{companyBId,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="stateflag != null" >
        stateflag = #{stateflag,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dqys.business.orm.pojo.coordinator.CompanyRelation" >
    update t_company_relaiton
    set company_a_id = #{companyAId,jdbcType=INTEGER},
      company_b_id = #{companyBId,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      stateflag = #{stateflag,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>