<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.business.orm.mapper.company.CompanyTeamMapper">
    <resultMap id="BaseResultMap" type="com.dqys.business.orm.pojo.coordinator.CompanyTeam">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="sender_id" property="senderId" jdbcType="INTEGER"/>
        <result column="object_id" property="objectId" jdbcType="INTEGER"/>
        <result column="object_type" property="objectType" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP"/>
        <result column="stateflag" property="stateflag" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, create_at, remark, sender_id, object_id, object_type, version, update_at, stateflag
  </sql>

    <update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        UPDATE t_company_team SET stateflag = CURRENT_TIMESTAMP
        where id = #{id,jdbcType=INTEGER} AND stateflag = 0
    </update>

    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_company_team
        where id = #{id,jdbcType=INTEGER} AND stateflag = 0
    </select>

    <insert id="insert" parameterType="com.dqys.business.orm.pojo.coordinator.CompanyTeam" useGeneratedKeys="true"
            keyProperty="id">
    insert into t_company_team (sender_id, object_id, object_type)
    values (#{senderId,jdbcType=INTEGER}, #{objectId,jdbcType=INTEGER}, #{objectType,jdbcType=INTEGER})
  </insert>

    <select id="listBySendId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT * FROM t_company_team where sender_id = #{sendId,jdbcType=INTEGER} AND stateflag = 0
    </select>

    <select id="getByTypeId" resultMap="BaseResultMap">
        SELECT * FROM t_company_team where object_id = #{id,jdbcType=INTEGER} AND object_type = #{type,jdbcType=INTEGER}
         AND stateflag = 0
    </select>
</mapper>