<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.business.orm.mapper.coordinator.CoordinatorMapper">

    <resultMap id="BaseResultMap" type="com.dqys.business.orm.pojo.coordinator.team.TeamDTO">
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="type" property="roleType" jdbcType="INTEGER"/>
        <result column="name" property="teamName" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="avg" property="avg" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="BaseResultMapLenderInfo" type="com.dqys.business.orm.pojo.asset.LenderInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP"/>
        <result column="stateflag" property="stateflag" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="asset_id" property="assetId" jdbcType="INTEGER"/>
        <result column="start_at" property="startAt" jdbcType="TIMESTAMP"/>
        <result column="end_at" property="endAt" jdbcType="TIMESTAMP"/>
        <result column="operator" property="operator" jdbcType="INTEGER"/>
        <result column="accrual" property="accrual" jdbcType="DOUBLE"/>
        <result column="loan" property="loan" jdbcType="DOUBLE"/>
        <result column="appraisal" property="appraisal" jdbcType="DOUBLE"/>
        <result column="loan_type" property="loanType" jdbcType="VARCHAR"/>
        <result column="loan_mode" property="loanMode" jdbcType="VARCHAR"/>
        <result column="loan_name" property="loanName" jdbcType="VARCHAR"/>
        <result column="evaluate_excellent" property="evaluateExcellent" jdbcType="VARCHAR"/>
        <result column="evaluate_level" property="evaluateLevel" jdbcType="VARCHAR"/>
        <result column="dispose_mode" property="disposeMode" jdbcType="VARCHAR"/>
        <result column="tags" property="tags" jdbcType="VARCHAR"/>
        <result column="urge_type" property="urgeType" jdbcType="VARCHAR"/>
        <result column="entrust_born_type" property="entrustBornType" jdbcType="VARCHAR"/>
        <result column="entrust_born" property="entrustBorn" jdbcType="VARCHAR"/>
        <result column="guarantee_type" property="guaranteeType" jdbcType="VARCHAR"/>
        <result column="guarantee_mode" property="guaranteeMode" jdbcType="VARCHAR"/>
        <result column="guarantee_source" property="guaranteeSource" jdbcType="VARCHAR"/>
        <result column="is_guarantee_connection" property="isGuaranteeConnection" jdbcType="INTEGER"/>
        <result column="guarentee_economic" property="guarenteeEconomic" jdbcType="VARCHAR"/>
        <result column="is_lawsuit" property="isLawsuit" jdbcType="INTEGER"/>
        <result column="is_decision" property="isDecision" jdbcType="INTEGER"/>
        <result column="real_urge_time" property="realUrgeTime" jdbcType="INTEGER"/>
        <result column="phone_urge_time" property="phoneUrgeTime" jdbcType="INTEGER"/>
        <result column="entrust_urge_time" property="entrustUrgeTime" jdbcType="INTEGER"/>
        <result column="can_contact" property="canContact" jdbcType="INTEGER"/>
        <result column="can_pay" property="canPay" jdbcType="INTEGER"/>
        <result column="is_worth" property="isWorth" jdbcType="INTEGER"/>
        <result column="memo" property="memo" jdbcType="VARCHAR"/>
        <result column="is_collection" property="isCollection" jdbcType="INTEGER"/>
        <result column="is_lawyer" property="isLawyer" jdbcType="INTEGER"/>
        <result column="is_agent" property="isAgent" jdbcType="INTEGER"/>
        <result column="follow_up_times" property="followUpTime" jdbcType="INTEGER"/>
        <result column="is_stop" property="isStop" jdbcType="INTEGER"/>
    </resultMap>


    <resultMap id="BaseResultMapAssetInfo" type="com.dqys.business.orm.pojo.asset.AssetInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP"/>
        <result column="stateflag" property="stateflag" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="asset_no" property="assetNo" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="start_at" property="startAt" jdbcType="TIMESTAMP"/>
        <result column="end_at" property="endAt" jdbcType="TIMESTAMP"/>
        <result column="operator" property="operator" jdbcType="INTEGER"/>
        <result column="accrual" property="accrual" jdbcType="DOUBLE"/>
        <result column="loan" property="loan" jdbcType="DOUBLE"/>
        <result column="appraisal" property="appraisal" jdbcType="DOUBLE"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="evaluate_excellent" property="evaluateExcellent" jdbcType="VARCHAR"/>
        <result column="evaluate_level" property="evaluateLevel" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="INTEGER"/>
        <result column="city" property="city" jdbcType="INTEGER"/>
        <result column="district" property="district" jdbcType="INTEGER"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="loan_organization" property="loanOrganization" jdbcType="VARCHAR"/>
        <result column="loan_organization_district" property="loanOrganizationDistrict" jdbcType="VARCHAR"/>
        <result column="dispose_mode" property="disposeMode" jdbcType="VARCHAR"/>
        <result column="tags" property="tags" jdbcType="VARCHAR"/>
        <result column="isshow" property="isshow" jdbcType="INTEGER"/>
        <result column="belong" property="belong" jdbcType="INTEGER"/>
    </resultMap>
    <!--查询借款人或资产包的团队信息-->
    <select id="getLenderOrAsset" resultMap="BaseResultMap">
        SELECT tusi.real_name,bor.name,ttr.user_id,ttr.type,tusi.avg
        from t_teammate_re ttr LEFT JOIN  t_user_tag tust
        ON tust.user_id=ttr.user_id LEFT JOIN t_user_team tut
        ON tut.id=ttr.user_team_id LEFT JOIN bt_organization bor
        ON bor.id=tust.team_id LEFT JOIN t_user_info tusi
        ON tusi.id=ttr.user_id
        WHERE tut.object_id=#{objectId,jdbcType=INTEGER} and tut.object_type=#{objectType,jdbcType=INTEGER} and tut.company_id=#{companyId,jdbcType=INTEGER}
            and ttr.status=1 and ttr.stateflag=0 and tut.stateflag=0
            and tust.stateflag=0
    </select>
    <!--获取当前进行的任务总数-->
    <select id="getTaskOngoing" resultType="java.util.Map">
        SELECT count(tut.id) ongoing from t_teammate_re ttr LEFT JOIN t_user_team tut
        ON tut.id=ttr.user_team_id and tut.status=0
        where ttr.status=1 and (ttr.type=0 or ttr.type=1 )
          and ttr.user_id=#{userId,jdbcType=INTEGER} and tut.company_id=#{companyId,jdbcType=INTEGER}
    </select>
    <!--获取业绩比例(针对个人)-->
    <select id="getTaskRatio" resultType="java.util.Map">
        SELECT count(tut.id) finish,count(tut2.id) total
        from t_teammate_re ttr LEFT JOIN t_user_team tut
        ON tut.id=ttr.user_team_id and tut.object_type=#{objectType,jdbcType=INTEGER} and tut.status=99 and tut.company_id=#{companyId,jdbcType=INTEGER}
        LEFT JOIN t_user_team tut2 ON tut2.id=ttr.user_team_id and tut2.object_type=#{objectType,jdbcType=INTEGER} and tut2.company_id=#{companyId,jdbcType=INTEGER}
        where ttr.`status`=1 and ttr.user_id=#{userId,jdbcType=INTEGER}
    </select>
    <!--获取团队人数-->
    <select id="getPeopleNum" resultType="java.util.Map">
        SELECT ttr.type,count(*) peopleNum
        from t_teammate_re ttr LEFT JOIN t_user_team tut
        ON tut.id=ttr.user_team_id
        where  ttr.status=1 and ttr.stateflag=0 and tut.stateflag=0
          and tut.object_id=#{objectId,jdbcType=INTEGER} and tut.object_type=#{objectType,jdbcType=INTEGER} and tut.company_id=#{companyId,jdbcType=INTEGER}
          GROUP BY ttr.type
    </select>
    <!--获取相应的公司-->
    <select id="companyList" resultType="java.util.Map">
         SELECT tci.id,tci.company_name,tci.type,tut.user_type userType from t_company_info tci LEFT JOIN t_user_info tui
            ON tui.company_id=tci.id LEFT JOIN t_user_tag tut
            ON tut.user_id=tui.id
        where tci.id IN (
        SELECT tut.company_id from t_user_team tut
	        where tut.object_id=#{objectId,jdbcType=INTEGER} and tut.object_type=#{objectType,jdbcType=INTEGER} GROUP BY tut.company_id )
	        GROUP BY tci.id
    </select>
    <!--根据公司id获取公司的管理员信息-->
    <select id="getAdminUser" resultType="java.util.Map">
        SELECT tui.id,tui.real_name realName,tui.mobile,tui.user_name userName from t_user_info tui LEFT JOIN t_user_tag tust
        ON tust.user_id=tui.id
        WHERE tust.stateflag=0 and tust.role_id=1 and tust.is_certified=1
			and tui.company_id=#{companyId,jdbcType=INTEGER}
    </select>
    <!--获取员工公司下的所有员工-->
    <select id="getCompanyUserList" resultType="java.util.Map">
        SELECT tci.company_name companyName,tui.company_id companyId,tui.real_name realName,tui.user_name
        userName,tui.id userId
        from t_company_info tci LEFT JOIN t_user_info tui
        ON tui.company_id=tci.id
        WHERE tci.id in (
        <if test="companyId !=null and userId == null">
            #{companyId,jdbcType=INTEGER}
        </if>
        <if test="userId !=null and companyId == null">
            SELECT tui2.company_id from t_user_info tui2 where tui2.id=#{userId,jdbcType=INTEGER}
        </if>
        )
        <if test="realName !=null ">
            AND (tui.real_name LIKE CONCAT('%',#{realName,jdbcType=VARCHAR},'%') OR tui.user_name LIKE
            CONCAT('%',#{realName,jdbcType=VARCHAR},'%'))
        </if>
    </select>

    <select id="selectByUserTeamAndMateRe" resultType="java.util.Map">
        SELECT tut.object_id,tut.object_type,ttr.user_id,ttr.user_team_id,tut.object_oper_status from t_user_team tut LEFT JOIN t_teammate_re ttr
        ON ttr.user_team_id=tut.id
        where tut.stateflag=0 and ttr.status=1 and ttr.id=#{teammateId,jdbcType=INTEGER} LIMIT 0,1
    </select>
    <!--最后留言时间-->
    <select id="getLastLeaveWord" resultType="java.util.Map">
        SELECT DATE_FORMAT(lw.time,'%Y-%m-%d') time from leave_word lw
          where lw.user_id=#{userId,jdbcType=INTEGER} ORDER BY lw.time desc LIMIT 0,1
    </select>
    <!--根据对象类型和对象id获取业务号id-->
    <select id="selectByBusinessId" resultType="java.util.Map">
          SELECT bor.business_id from t_business_obj_re bor
        where bor.object_id=#{objectId} and bor.object_type=#{objectType}
    </select>
    <!--条件查询借款人信息-->
    <select id="selectByLender" parameterType="com.dqys.business.orm.pojo.asset.LenderInfo"
            resultMap="BaseResultMapLenderInfo">
        SELECT * from bt_lender len
        where 1=1
        <if test="assetId !=null">
            and len.asset_id=#{assetId}
        </if>
    </select>
    <!--根据id获取借款人信息-->
    <select id="getLenderInfo" parameterType="java.lang.Integer"
            resultMap="BaseResultMapLenderInfo">
        SELECT * from bt_lender
        where id=#{objectId}
    </select>
    <!--根据id获取资产包信息-->
    <select id="getAssetInfo" parameterType="java.lang.Integer" resultMap="BaseResultMapAssetInfo">
        SELECT * from bt_asset
        where id=#{objectId}
    </select>
    <!--修改借款人-->
    <update id="updateLender" parameterType="com.dqys.business.orm.pojo.asset.LenderInfo">
        UPDATE bt_lender
        <set>
            <if test="isStop !=null">
                is_stop=#{isStop}
            </if>
        </set>
        <where>
            1=1
            <if test="assetId !=null">
                AND asset_id=#{assetId}
            </if>
            <if test="id !=null">
                AND id=#{id}
            </if>
        </where>
    </update>

    <select id="getUserIdByObjUserRelToLender" resultType="java.util.Map">
            SELECT our.user_id from object_user_relation our
            where our.status=3 and (our.type=1 or our.type=2)
            and our.object_type=#{objectType} and our.object_id=#{objectId}
    </select>

    <select id="getUserIdByObjUserRelToAsset" resultType="java.util.Map">
       SELECT our.user_id from bt_lender len LEFT JOIN object_user_relation our
        ON our.object_id=len.id and our.object_type=#{objectType} and our.status=3 and (our.type=1 or our.type=2)
        where len.asset_id=#{objectId} GROUP BY our.user_id
    </select>
    <!--根据用户id获取相应的用户信息和公司信息-->
    <select id="getUserAndCompanyByUserId" parameterType="int" resultType="java.util.Map">
            SELECT tui.id userId,tui.mobile,tui.real_name realName,tut.role_id rold,tut.user_type userType,tci.company_name companyName,tci.type companyType
            from t_user_info tui LEFT JOIN t_user_tag tut
            ON tut.user_id=tui.id LEFT JOIN t_company_info tci
            ON tci.id=tui.company_id
            WHERE tui.id=#{userId} LIMIT 0,1
    </select>
    <!--根据对象类型，用户id，状态 获取对应的状态的对象id objectType(12抵押物16资产源)-->
    <select id="getObjectIdList" resultType="java.lang.Integer">
        <if test="objectType==12">
            (SELECT tct.object_id from t_company_team tct LEFT JOIN t_company_team_re tcr
            ON tcr.company_team_id=tct.id and tcr.status=#{status} AND tct.object_type=#{objectType}
            WHERE tcr.accepter_id=#{userId})
        </if>
        <if test="objectType==16">
            (SELECT tut.object_id from t_user_team tut LEFT JOIN t_teammate_re ttr
            ON ttr.user_team_id=tut.id and ttr.status=#{status} AND tut.object_type=#{objectType}
            WHERE ttr.user_id=#{userId})
        </if>
    </select>
    <!--获取姓名-->
    <select id="getRealName" resultType="java.util.Map">
        SELECT ttr.user_id,tui.real_name FROM t_user_team tut LEFT JOIN t_teammate_re ttr
            ON ttr.user_team_id=tut.id LEFT JOIN t_user_info tui
            ON tui.id=ttr.user_id
            where tut.object_id=#{objectId} and tut.object_type=#{objectType} and ttr.type=#{type}
    </select>
    <!--资产源列表-->
    <sql id="ZCY_WhERE">
        <if test="zcyListQuery.facilityList != null and zcyListQuery.facilityList.size>0">
            AND tze.id IN (SELECT tzef.estates_id from t_zcy_estates_facility tzef where tzef.stateflag=0 and
            <foreach collection="zcyListQuery.facilityList" separator=" or " index="index" item="str" open="("
                     close=")">
                tzef.name=#{str}
            </foreach>
            )
        </if>
        <if test="zcyListQuery.orientationList != null  and zcyListQuery.orientationList.size>0">
            AND
            <foreach collection="zcyListQuery.orientationList" separator=" or " item="str" index="index" open="("
                     close=")">
                tze.orientation=#{str}
            </foreach>
        </if>
        <if test="(zcyListQuery.startPriceTotal !=null and zcyListQuery.startPriceTotal !='') or (zcyListQuery.endPriceTotal !=null and zcyListQuery.endPriceTotal !='')">
            AND (
            <if test="(zcyListQuery.startPriceTotal !=null and zcyListQuery.startPriceTotal !='')">
                #{zcyListQuery.startPriceTotal} &lt; = tze.selling_price
            </if>
            <if test="(zcyListQuery.endPriceTotal !=null and zcyListQuery.endPriceTotal !='')">
                <if test="(zcyListQuery.startPriceTotal !=null and zcyListQuery.startPriceTotal !='')">
                    AND
                </if>
                tze.selling_price &lt; = #{zcyListQuery.endPriceTotal}
            </if>
            )
        </if>
        <if test="(zcyListQuery.startDecade !=null and zcyListQuery.startDecade !='') or (zcyListQuery.endDecade !=null and zcyListQuery.endDecade !='')">
            AND (
            <if test="(zcyListQuery.startDecade !=null and zcyListQuery.startDecade !='')">
                #{zcyListQuery.startDecade} &lt; = tze.decade
            </if>
            <if test="(zcyListQuery.endDecade !=null and zcyListQuery.endDecade !='')">
                <if test="(zcyListQuery.startDecade !=null and zcyListQuery.startDecade !='')">
                    AND
                </if>
                tze.decade &lt; = #{zcyListQuery.endDecade}
            </if>
            )
        </if>
        <if test="(zcyListQuery.startFloor !=null and zcyListQuery.startFloor !='') or (zcyListQuery.endFloor !=null and zcyListQuery.endFloor !='')">
            AND (
            <if test="(zcyListQuery.startFloor !=null and zcyListQuery.startFloor !='')">
                #{zcyListQuery.startFloor} &lt; = tzea.floor
            </if>
            <if test="(zcyListQuery.endFloor !=null and zcyListQuery.endFloor !='')">
                <if test="(zcyListQuery.startFloor !=null and zcyListQuery.startFloor !='')">
                    AND
                </if>
                tzea.floor &lt; = #{zcyListQuery.endFloor}
            </if>
            )
        </if>
        <if test="(zcyListQuery.startAcreage !=null and zcyListQuery.startAcreage !='') or (zcyListQuery.endAcreage !=null and zcyListQuery.endAcreage !='')">
            AND (
            <if test="(zcyListQuery.startAcreage !=null and zcyListQuery.startAcreage !='')">
                #{zcyListQuery.startAcreage} &lt; = tze.acreage
            </if>
            <if test="(zcyListQuery.endAcreage !=null and zcyListQuery.endAcreage !='')">
                <if test="(zcyListQuery.startAcreage !=null and zcyListQuery.startAcreage !='')">
                    AND
                </if>
                tze.acreage &lt; = #{zcyListQuery.endAcreage}
            </if>
            )
        </if>
        <if test="(zcyListQuery.startEntrust !=null and zcyListQuery.startEntrust !='') or (zcyListQuery.endEntrust !=null and zcyListQuery.endEntrust !='')">
            AND (
            <if test="(zcyListQuery.startEntrust !=null and zcyListQuery.startEntrust !='')">
                #{zcyListQuery.startEntrust} &lt; = tzo.entrust_protocol_time
            </if>
            <if test="(zcyListQuery.endEntrust !=null and zcyListQuery.endEntrust !='')">
                <if test="(zcyListQuery.startEntrust !=null and zcyListQuery.startEntrust !='')">
                    AND
                </if>
                tzo.entrust_protocol_time &lt; = #{zcyListQuery.endEntrust}
            </if>
            )
        </if>
        <if test="zcyListQuery.houses != null and zcyListQuery.houses != ''">
            AND tzea.plot_name LIKE CONCAT('%',#{zcyListQuery.houses},'%')
        </if>
        <if test="zcyListQuery.buildingNo != null and zcyListQuery.buildingNo != ''">
            AND tzea.building_no=#{zcyListQuery.buildingNo}
        </if>
        <if test="(zcyListQuery.houseS !=null and zcyListQuery.houseS !='') or (zcyListQuery.houseT !=null and zcyListQuery.houseT !='')">
            AND (
            <if test="(zcyListQuery.houseS !=null and zcyListQuery.houseS !='')">
                tze.house_s=#{zcyListQuery.houseS}
            </if>
            <if test="(zcyListQuery.houseT !=null and zcyListQuery.houseT !='')">
                <if test="(zcyListQuery.houseS !=null and zcyListQuery.houseS !='')">
                    AND
                </if>
                tze.house_t = #{zcyListQuery.houseT}
            </if>
            )
        </if>
        <if test="zcyListQuery.houseNo != null and zcyListQuery.houseNo != ''">
            AND tze.house_no LIKE CONCAT('%',#{zcyListQuery.houseNo},'%')
        </if>
        <if test="zcyListQuery.houseBelong != null and zcyListQuery.houseBelong != ''">
            AND tze.house_belong=#{zcyListQuery.houseBelong}
        </if>
        <if test="zcyListQuery.buildType != null and zcyListQuery.buildType != ''">
            AND tze.build_type=#{zcyListQuery.buildType}
        </if>
        <if test="zcyListQuery.houseUse != null and zcyListQuery.houseUse != ''">
            AND tze.house_use=#{zcyListQuery.houseUse}
        </if>
        <if test="zcyListQuery.houseCase != null and zcyListQuery.houseCase != ''">
            AND tzm.house_case=#{zcyListQuery.houseCase}
        </if>
        <if test="zcyListQuery.objectIds !=null and zcyListQuery.objectIds.size !=0">
            AND tze.id IN
            <foreach collection="zcyListQuery.objectIds" separator="," index="index" item="id" open="("
                     close=")">
                #{id}
            </foreach>
        </if>
    </sql>
    <select id="selectByZCYListPage" resultType="com.dqys.business.orm.pojo.zcy.dto.ZcyPawnDTO">
        SELECT tze.id estatesId,tze.object_id
        pawnId,tze.orientation,CONCAT(tze.house_s,'-',tze.house_t,'-',tze.house_c,'-',house_w) houseType,tze.house_no
        houseNo,
        tze.selling_price priceTotal,tze.guide_price priceUnit,tzk.id keyId,tze.acreage
        ,DATE_FORMAT(tzo.entrust_protocol_time,'%Y-%m-%d') entrustTime,
        tzea.plot_name title,CONCAT(tzea.floor,' (',tze.replenish,'/',tzea.floor_total,')') floor,
        CONCAT(tzea.province,tzea.city,tzea.area,tzea.road,tzea.plot_name,tzea.building_no,tzea.element,tzea.floor)
        place
        from t_zcy_estates tze LEFT JOIN t_zcy_owner tzo
        ON tzo.estates_id=tze.id LEFT JOIN t_zcy_maintain tzm
        ON tzm.estates_id=tze.id LEFT JOIN t_zcy_key tzk
        ON tzk.estates_id=tze.id LEFT JOIN t_zcy_express tzex
        ON tzex.estates_id=tze.id LEFT JOIN t_zcy_estates_address tzea
        ON tzea.estates_id=tze.id
        <where>
            tze.stateflag=0
            <include refid="ZCY_WhERE"/>
        </where>
        LIMIT #{zcyListQuery.startPage},#{zcyListQuery.pageCount}
    </select>
    <select id="selectByZCYListPageCount" resultType="java.lang.Integer"
            parameterType="com.dqys.business.orm.query.coordinator.ZcyListQuery">
        SELECT count(*)
        from t_zcy_estates tze LEFT JOIN t_zcy_owner tzo
        ON tzo.estates_id=tze.id LEFT JOIN t_zcy_maintain tzm
        ON tzm.estates_id=tze.id LEFT JOIN t_zcy_key tzk
        ON tzk.estates_id=tze.id LEFT JOIN t_zcy_express tzex
        ON tzex.estates_id=tze.id LEFT JOIN t_zcy_estates_address tzea
        ON tzea.estates_id=tze.id
        <where>
            tze.stateflag=0
            <include refid="ZCY_WhERE"/>
        </where>
    </select>

    <select id="findLabel" resultType="java.util.Map">
        SELECT zef.type,zef.name,zef.code from t_zcy_estates_facility zef
          where zef.estates_id=#{estatesId} and (zef.type=0 or zef.type=1)
    </select>
    <!--获取资产源全部-->
    <select id="findObjectIdByAssetSourceAll" resultType="int">
         SELECT our.object_id from object_user_relation our
        WHERE our.stateflag=0  AND our.user_id=#{userId} AND our.object_type=#{objectType}
        UNION
          SELECT tze.id from t_zcy_estates tze
        WHERE tze.stateflag=0  AND tze.operator=#{userId}
    </select>
    <!--获取接收后还未加入协作器的对象id-->
    <select id="findObjectIdByOURelation" resultType="int">
        SELECT our.object_id from object_user_relation our
        WHERE our.stateflag=0  AND our.user_id=#{userId} AND our.object_type=#{objectType} AND our.accept_status=0
        AND our.object_id NOT IN(SELECT tut.object_id from t_user_team tut
        WHERE tut.object_type=#{objectType})
    </select>
    <!--获取正在处置的对象id-->
    <select id="findObjectIdByOURelationAndBusiness" resultType="int">
          SELECT our.object_id from object_user_relation our,t_business_obj_re bor,business b
        WHERE our.stateflag=0  AND our.user_id=#{userId} AND our.object_type=#{objectType} AND our.accept_status=0
         AND our.object_type=bor.object_type AND b.id=bor.business_id AND b.status=3
    </select>
    <!--根据对象类型和对象id获取分配器中的公司管理员-->
    <select id="getCompanyAndUser" resultType="java.util.Map">
        SELECT tui.id userId from t_company_team tct LEFT JOIN t_company_team_re ctr
        ON ctr.company_team_id=tct.id LEFT JOIN t_user_info tui
        ON ctr.accepter_id=tui.id LEFT JOIN t_user_tag tut
        ON tut.user_id=tui.id
        WHERE tct.object_id=#{objectId} AND tct.object_type=#{objectType} AND tut.user_type=#{userType}
        LIMIT 0,1
    </select>
    <!--根据对象id和对象类型获取分配器成员的用户类型-->
    <select id="findUserTypeByCompanyTeam" resultType="java.util.Map">
        SELECT tut.user_type userType from t_company_team tct LEFT JOIN t_company_team_re ttr
        ON ttr.company_team_id=tct.id LEFT JOIN t_user_tag tut
        ON tut.user_id=ttr.accepter_id
        where tct.stateflag=0 AND ttr.stateflag=0 AND tct.object_id=#{objectId} and tct.object_type=#{objectType}
    </select>


</mapper>
