<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.business.orm.mapper.coordinator.CoordinatorMapper">

    <resultMap id="BaseResultMap" type="com.dqys.business.orm.pojo.coordinator.team.TeamDTO">
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="type" property="roleType" jdbcType="INTEGER"/>
        <result column="name" property="teamName" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
    </resultMap>
    <!--查询借款人或资产包的团队信息-->
    <select id="getLenderOrAsset" resultMap="BaseResultMap">
        SELECT tusi.real_name,bor.name,ttr.user_id,ttr.type
        from t_teammate_re ttr LEFT JOIN  t_user_tag tust
        ON tust.user_id=ttr.user_id LEFT JOIN t_user_team tut
        ON tut.id=ttr.user_team_id LEFT JOIN bt_organization bor
        ON bor.id=tust.team_id LEFT JOIN t_user_info tusi
        ON tusi.id=ttr.user_id
        WHERE tut.object_id=#{objectId,jdbcType=INTEGER} and tut.object_type=#{objectType,jdbcType=INTEGER} and tut.company_id=#{companyId,jdbcType=INTEGER}
            and ttr.status=1 and ttr.stateflag=0 and tut.stateflag=0
            and tust.stateflag=0 and bor.stateflag=0
    </select>
    <!--获取当前进行的任务总数-->
    <select id="getTaskOngoing" resultType="java.util.Map">
        SELECT count(tut.id) ongoing from t_teammate_re ttr LEFT JOIN t_user_team tut
        ON tut.id=ttr.user_team_id and tut.status=0
        where ttr.status=1 and (ttr.type=0 or ttr.type=1 )
          and ttr.user_id=#{userId,jdbcType=INTEGER} and tut.company_id=#{companyId,jdbcType=INTEGER}
    </select>
    <!--获取业绩比例(针对个人)-->
    <select id="getTaskRatio" resultType="java.util.Map">
        SELECT count(tut.id) finish,count(tut2.id) total
        from t_teammate_re ttr LEFT JOIN t_user_team tut
        ON tut.id=ttr.user_team_id and tut.object_type=#{objectType,jdbcType=INTEGER} and tut.status=99 and tut.company_id=#{companyId,jdbcType=INTEGER}
        LEFT JOIN t_user_team tut2 ON tut2.id=ttr.user_team_id and tut2.object_type=#{objectType,jdbcType=INTEGER} and tut2.company_id=#{companyId,jdbcType=INTEGER}
        where ttr.`status`=1 and ttr.user_id=#{userId,jdbcType=INTEGER}
    </select>
    <!--获取团队人数-->
    <select id="getPeopleNum" resultType="java.util.Map">
        SELECT ttr.type,count(*) peopleNum
        from t_teammate_re ttr LEFT JOIN t_user_team tut
        ON tut.id=ttr.user_team_id
        where  ttr.status=1 and ttr.stateflag=0 and tut.stateflag=0
          and tut.object_id=#{objectId,jdbcType=INTEGER} and tut.object_type=#{objectType,jdbcType=INTEGER} and tut.company_id=#{companyId,jdbcType=INTEGER}
          GROUP BY ttr.type
    </select>
    <!--获取相应的公司-->
    <select id="companyList" resultType="java.util.Map">
        SELECT tci.id,tci.company_name from t_company_info tci
        where tci.id IN (
        SELECT tut.company_id from t_user_team tut
	        where tut.object_id=#{objectId,jdbcType=INTEGER} and tut.object_type=#{objectType,jdbcType=INTEGER} GROUP BY tut.company_id )
    </select>
    <!--根据公司id获取公司的管理员信息-->
    <select id="getAdminUser" resultType="java.util.Map">
        SELECT tui.id,tui.real_name realName,tui.mobile,tui.user_name userName from t_user_info tui LEFT JOIN t_user_tag tust
        ON tust.user_id=tui.id
        WHERE tust.stateflag=0 and tust.role_id=1 and tust.is_certified=1
			and tui.company_id=#{companyId,jdbcType=INTEGER}
    </select>
    <!--获取员工公司下的所有员工-->
    <select id="getCompanyUserList" resultType="java.util.Map">
        SELECT tci.company_name companyName,tui.company_id companyId,tui.real_name realName,tui.user_name
        userName,tui.id userId
        from t_company_info tci LEFT JOIN t_user_info tui
        ON tui.company_id=tci.id
        WHERE tci.id in (
        <if test="companyId !=null">
            #{companyId,jdbcType=INTEGER}
        </if>
        <if test="userId !=null">
            SELECT tui2.company_id from t_user_info tui2 where tui2.id=#{userId,jdbcType=INTEGER}
        </if>
        )
        <if test="realName !=null ">
            AND (tui.real_name LIKE CONCAT('%',#{realName,jdbcType=VARCHAR},'%') OR tui.user_name LIKE
            CONCAT('%',#{realName,jdbcType=VARCHAR},'%'))
        </if>
    </select>

    <select id="selectByUserTeamAndMateRe" resultType="java.util.Map">
        SELECT tut.object_id,tut.object_type,ttr.user_id,ttr.user_team_id from t_user_team tut LEFT JOIN t_teammate_re ttr
        ON ttr.user_team_id=tut.id
        where ttr.status=1 and ttr.id=#{teammateId,jdbcType=INTEGER} LIMIT 0,1
    </select>
    <!--最后留言时间-->
    <select id="getLastLeaveWord" resultType="java.util.Map">
        SELECT DATE_FORMAT(lw.time,'%Y-%m-%d') time from leave_word lw
          where lw.user_id=#{userId,jdbcType=INTEGER} ORDER BY lw.time desc LIMIT 0,1
    </select>


</mapper>
