<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.business.orm.mapper.coordinator.TeammateReMapper">
    <resultMap id="BaseResultMap" type="com.dqys.business.orm.pojo.coordinator.TeammateRe">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_team_id" property="userTeamId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="join_type" property="joinType" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP"/>
        <result column="stateflag" property="stateflag" jdbcType="BIGINT"/>
        <result column="business_type" property="businessType" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_team_id, user_id, type, status, join_type, version, create_at, update_at,business_type,stateflag
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_teammate_re
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update t_teammate_re set stateflag=now()
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.dqys.business.orm.pojo.coordinator.TeammateRe" useGeneratedKeys="true"
            keyProperty="id">
    insert into t_teammate_re (id, user_team_id, user_id, 
      type, status, join_type, 
      version, create_at, update_at, 
      stateflag)
    values (#{id,jdbcType=INTEGER}, #{userTeamId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{joinType,jdbcType=INTEGER}, 
      0, now(),now(),
      0)
  </insert>
    <insert id="insertSelective" parameterType="com.dqys.business.orm.pojo.coordinator.TeammateRe"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into t_teammate_re
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userTeamId != null">
                user_team_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="joinType != null">
                join_type,
            </if>
            <if test="businessType !=null">
                business_type,
            </if>
            create_at,
            update_at,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userTeamId != null">
                #{userTeamId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="joinType != null">
                #{joinType,jdbcType=INTEGER},
            </if>
            <if test="businessType != null">
                #{businessType,jdbcType=INTEGER},
            </if>
            now(),
            now(),
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dqys.business.orm.pojo.coordinator.TeammateRe">
        update t_teammate_re
        <set>
            <if test="userTeamId != null">
                user_team_id = #{userTeamId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="joinType != null">
                join_type = #{joinType,jdbcType=INTEGER},
            </if>
            <if test="businessType != null">
                business_type=#{businessType,jdbcType=INTEGER},
            </if>
            version = version+1,
            update_at = now(),
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dqys.business.orm.pojo.coordinator.TeammateRe">
    update t_teammate_re
    set user_team_id = #{userTeamId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      join_type = #{joinType,jdbcType=INTEGER},
      version = version+1,
      update_at = now()
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectSelective" parameterType="com.dqys.business.orm.pojo.coordinator.TeammateRe"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_teammate_re
        <where>
            stateflag=0
            <if test="userTeamId !=null">
                AND user_team_id=#{userTeamId,jdbcType=INTEGER}
            </if>
            <if test="type !=null">
                AND type=#{type,jdbcType=INTEGER}
            </if>
            <if test="userId !=null">
                AND user_id=#{userId,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <select id="listObjectIdByJoinType" resultType="java.lang.Integer">
      SELECT object_id FROM t_user_team WHERE object_type = #{type,jdbcType=INTEGER} AND id IN (
        SELECT user_team_id FROM t_teammate_re where user_id = #{userId,jdbcType=INTEGER}
        AND join_type = #{joinType,jdbcType=INTEGER} AND stateflag = 0
      )AND stateflag = 0
    </select>

    <select id="selectByObjectAndUser" resultMap="BaseResultMap">
      SELECT  ore.*  FROM   object_user_relation ore ,t_teammate_re tre
      where ore.object_type =#{objectType,jdbcType=INTEGER}
      and ore.object_id =#{objectId,jdbcType=INTEGER}
      and tre.user_team_id=ore.employer_id
      and ore.type =1  and tre.user_id =#{userId,jdbcType=INTEGER}
    </select>
    <!--删除协作器的团队-->
    <update id="deleteByUserTeamId">
        UPDATE t_teammate_re ttr set ttr.status=99,ttr.stateflag=now()
        WHERE ttr.user_team_id IN
        <foreach collection="userTeamIds" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>