<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.business.orm.mapper.coordinator.UserTeamMapper">
    <resultMap id="BaseResultMap" type="com.dqys.business.orm.pojo.coordinator.UserTeam">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="company_id" property="companyId" jdbcType="INTEGER"/>
        <result column="manger_id" property="mangerId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="ctreater_id" property="ctreaterId" jdbcType="INTEGER"/>
        <result column="object_id" property="objectId" jdbcType="INTEGER"/>
        <result column="object_type" property="objectType" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP"/>
        <result column="stateflag" property="stateflag" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, create_at, remark, company_id, manger_id, status, ctreater_id, object_id, object_type, 
    version, update_at, stateflag
  </sql>
    <!--根据条件查询结果-->
    <select id="selectByPrimaryKeySelective" resultMap="BaseResultMap"
            parameterType="com.dqys.business.orm.pojo.coordinator.UserTeam">
        select
        <include refid="Base_Column_List"/>
        from t_user_team
        <where>
            stateflag=0
            <if test="id !=null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="objectId !=null">
                and object_id=#{objectId,jdbcType=INTEGER}
            </if>
            <if test="companyId !=null">
                and company_id=#{companyId,jdbcType=INTEGER}
            </if>
            <if test="objectType !=null">
                and object_type=#{objectType,jdbcType=INTEGER}
            </if>
        </where>
        Limit 0,1
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update t_user_team set stateflag=now()
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.dqys.business.orm.pojo.coordinator.UserTeam" useGeneratedKeys="true"
            keyProperty="id">
    insert into t_user_team (id, create_at, remark, 
      company_id, manger_id, status, 
      ctreater_id, object_id, object_type, 
      version, update_at, stateflag
      )
    values (#{id,jdbcType=INTEGER},now(), #{remark,jdbcType=VARCHAR},
      #{companyId,jdbcType=INTEGER}, #{mangerId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{ctreaterId,jdbcType=INTEGER}, #{objectId,jdbcType=INTEGER}, #{objectType,jdbcType=INTEGER}, 
      0, now(), 0
      )
  </insert>
    <insert id="insertSelective" parameterType="com.dqys.business.orm.pojo.coordinator.UserTeam" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_user_team
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            create_at,
            <if test="remark != null">
                remark,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="mangerId != null">
                manger_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="ctreaterId != null">
                ctreater_id,
            </if>
            <if test="objectId != null">
                object_id,
            </if>
            <if test="objectType != null">
                object_type,
            </if>
            update_at,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            now(),
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=INTEGER},
            </if>
            <if test="mangerId != null">
                #{mangerId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="ctreaterId != null">
                #{ctreaterId,jdbcType=INTEGER},
            </if>
            <if test="objectId != null">
                #{objectId,jdbcType=INTEGER},
            </if>
            <if test="objectType != null">
                #{objectType,jdbcType=INTEGER},
            </if>
            now(),
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dqys.business.orm.pojo.coordinator.UserTeam">
        update t_user_team
        <set>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=INTEGER},
            </if>
            <if test="mangerId != null">
                manger_id = #{mangerId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="ctreaterId != null">
                ctreater_id = #{ctreaterId,jdbcType=INTEGER},
            </if>
            <if test="objectId != null">
                object_id = #{objectId,jdbcType=INTEGER},
            </if>
            <if test="objectType != null">
                object_type = #{objectType,jdbcType=INTEGER},
            </if>
            version = version+1,
            update_at = now(),
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.dqys.business.orm.pojo.coordinator.UserTeam">
    update t_user_team
    set
      remark = #{remark,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=INTEGER},
      manger_id = #{mangerId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      ctreater_id = #{ctreaterId,jdbcType=INTEGER},
      object_id = #{objectId,jdbcType=INTEGER},
      object_type = #{objectType,jdbcType=INTEGER},
      version = version+1,
      update_at = now()
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectByOperatorAndStatus">
        SELECT object_id FROM t_user_team where object_type = #{type,jdbcType=INTEGER} AND id IN (
        SELECT user_team_id from t_teammate_re
        where stateflag = 0 AND ctreater_id = #{id,jdbcType=INTEGER} AND status = #{status,jdbcType=INTEGER}
        ) AND stateflag = 0
    </select>
</mapper>