<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.business.orm.mapper.repay.RepayMapper">
    <resultMap id="BaseResultMapRepay" type="com.dqys.business.orm.pojo.repay.Repay">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="damage_date" property="damageDate" jdbcType="DATE"/>
        <result column="repay_type" property="repayType" jdbcType="INTEGER"/>
        <result column="oper_user_id" property="operUserId" jdbcType="INTEGER"/>
        <result column="repay_m" property="repayM" jdbcType="DOUBLE"/>
        <result column="repay_fid" property="repayFid" jdbcType="INTEGER"/>
        <result column="repay_way" property="repayWay" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP"/>
        <result column="stateflag" property="stateflag" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="repay_fid_type" property="repayFidType" jdbcType="INTEGER"/>
        <result column="lender_id" property="lenderId" jdbcType="INTEGER"></result>
        <result column="lenderName" property="lenderName" jdbcType="VARCHAR"/>
        <result column="operUserName" property="operUserName" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.dqys.business.orm.pojo.repay.Repay" extends="BaseResultMapRepay">
        <result column="repay_bills" property="repayBills" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="BaseResultMapRepayRecord" type="com.dqys.business.orm.pojo.repay.RepayRecord">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="iou_id" property="iouId" jdbcType="INTEGER"/>
        <result column="repay_id" property="repayId" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="stateflag" property="stateflag" jdbcType="BIGINT"/>
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP"/>
        <result column="repay_principal" property="repayPrincipal" jdbcType="DOUBLE"/>
        <result column="repay_interest" property="repayInterest" jdbcType="DOUBLE"/>
        <result column="repay_fine" property="repayFine" jdbcType="DOUBLE"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>
    <!--扣除借据中的金额-->
    <update id="repayIou">
        UPDATE bt_iou
        <set>
            version=version+1,
            <if test="priMoney !=null">
                less_corpus=less_corpus-#{priMoney,jdbcType=DOUBLE},
                loan_repay=loan_repay+#{priMoney,jdbcType=DOUBLE},
            </if>
            <if test="accMoney !=null and penalty==null">
                accrual_arrears=accrual_arrears-#{accMoney,jdbcType=DOUBLE},
                accrual_repay=accrual_repay+#{accMoney,jdbcType=DOUBLE},
            </if>
            <if test="penalty !=null">
                <if test="accMoney !=null">
                    accrual_arrears=accrual_arrears-#{accMoney,jdbcType=DOUBLE},
                </if>
                penalty=penalty-#{penalty,jdbcType=DOUBLE},
                accrual_repay=accrual_repay+#{penalty,jdbcType=DOUBLE},
            </if>
        </set>
        WHERE id=#{iouId,jdbcType=INTEGER} and version=#{version,jdbcType=INTEGER}
    </update>
    <!--扣除借款人表的金额-->
    <update id="repayLender">
        UPDATE bt_lender
        <set>
            version=version+1,
            <if test="accMoney !=null">
                accrual=accrual-#{accMoney,jdbcType=DOUBLE},
            </if>
            <if test="priMoney !=null">
                loan=loan-#{priMoney,jdbcType=DOUBLE},
            </if>
        </set>
        WHERE id=#{lenderId,jdbcType=INTEGER} and version=#{version,jdbcType=INTEGER}
    </update>
    <!--扣除资产包表的金额-->
    <update id="repayAsset">
        UPDATE bt_asset
        <set>
            version=version+1,
            <if test="accMoney !=null">
                accrual=accrual-#{accMoney,jdbcType=DOUBLE},
            </if>
            <if test="priMoney !=null">
                loan=loan-#{priMoney,jdbcType=DOUBLE},
            </if>
        </set>
        WHERE id=#{assetId,jdbcType=INTEGER} and version=#{version,jdbcType=INTEGER}
    </update>
    <!--借据中的金额冲正-->
    <update id="repayIouReversal">
        UPDATE bt_iou
        <set>
            version=version+1,
            <if test="priMoney !=null">
                less_corpus=less_corpus+#{priMoney,jdbcType=DOUBLE},
                loan_repay=loan_repay-#{priMoney,jdbcType=DOUBLE},
            </if>
            <if test="accMoney !=null and penalty==null">
                accrual_arrears=accrual_arrears+#{accMoney,jdbcType=DOUBLE},
                accrual_repay=accrual_repay-#{accMoney,jdbcType=DOUBLE},
            </if>
            <if test="penalty !=null">
                <if test="accMoney !=null">
                    accrual_arrears=accrual_arrears+#{accMoney,jdbcType=DOUBLE},
                </if>
                penalty=penalty+#{penalty,jdbcType=DOUBLE},
                accrual_repay=accrual_repay-#{penalty,jdbcType=DOUBLE},
            </if>
        </set>
        WHERE id=#{iouId,jdbcType=INTEGER} and version=#{version,jdbcType=INTEGER}
    </update>
    <!--借款人表的金额冲正-->
    <update id="repayLenderReversal">
        UPDATE bt_lender
        <set>
            version=version+1,
            <if test="accMoney !=null">
                accrual=accrual+#{accMoney,jdbcType=DOUBLE},
            </if>
            <if test="priMoney !=null">
                loan=loan+#{priMoney,jdbcType=DOUBLE},
            </if>
        </set>
        WHERE id=#{lenderId,jdbcType=INTEGER} and version=#{version,jdbcType=INTEGER}
    </update>
    <!--资产包表的金额冲正-->
    <update id="repayAssetReversal">
        UPDATE bt_asset
        <set>
            version=version+1,
            <if test="accMoney !=null">
                accrual=accrual+#{accMoney,jdbcType=DOUBLE},
            </if>
            <if test="priMoney !=null">
                loan=loan+#{priMoney,jdbcType=DOUBLE},
            </if>
        </set>
        WHERE id=#{assetId,jdbcType=INTEGER} and version=#{version,jdbcType=INTEGER}
    </update>
    <!--修改还款记录-->
    <update id="updateByPrimaryKeySelective" parameterType="com.dqys.business.orm.pojo.repay.Repay">
        update t_repay
        <set>
            <if test="damageDate != null">
                damage_date = #{damageDate,jdbcType=DATE},
            </if>
            <if test="repayType != null">
                repay_type = #{repayType,jdbcType=INTEGER},
            </if>
            <if test="operUserId != null">
                oper_user_id = #{operUserId,jdbcType=INTEGER},
            </if>
            <if test="repayM != null">
                repay_m = #{repayM,jdbcType=DOUBLE},
            </if>
            <if test="repayFid != null">
                repay_fid = #{repayFid,jdbcType=INTEGER},
            </if>
            <if test="repayWay != null">
                repay_way = #{repayWay,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            version =version+1,
            update_at =now(),
            <if test="repayBills != null">
                repay_bills = #{repayBills,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!--添加还款记录-->
    <insert id="insertSelective" parameterType="com.dqys.business.orm.pojo.repay.Repay" keyProperty="id"
            useGeneratedKeys="true">
        insert into t_repay
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            damage_date,
            <if test="repayType != null">
                repay_type,
            </if>
            <if test="operUserId != null">
                oper_user_id,
            </if>
            <if test="repayM != null">
                repay_m,
            </if>
            <if test="repayFid != null">
                repay_fid,
            </if>
            <if test="repayWay != null">
                repay_way,
            </if>
            <if test="remark != null">
                remark,
            </if>
            create_at,
            update_at,
            <if test="repayBills != null">
                repay_bills,
            </if>
            <if test="repayFidType != null">
                repay_fid_type,
            </if>
            <if test="status !=null">
                status,
            </if>
            <if test="repayFidName != null">
                repay_fid_name,
            </if>
            <if test="lenderId != null">
                lender_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            now(),
            <if test="repayType != null">
                #{repayType,jdbcType=INTEGER},
            </if>
            <if test="operUserId != null">
                #{operUserId,jdbcType=INTEGER},
            </if>
            <if test="repayM != null">
                #{repayM,jdbcType=DOUBLE},
            </if>
            <if test="repayFid != null">
                #{repayFid,jdbcType=INTEGER},
            </if>
            <if test="repayWay != null">
                #{repayWay,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            now(),
            now(),
            <if test="repayBills != null">
                #{repayBills,jdbcType=VARCHAR},
            </if>
            <if test="repayFidType != null">
                #{repayFidType,jdbcType=DOUBLE},
            </if>
            <if test="status !=null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="repayFidName != null">
                #{repayFidName,jdbcType=VARCHAR},
            </if>
            <if test="lenderId != null">
                #{lenderId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <!--添加还款详细记录-->
    <insert id="insertRecordSelective" parameterType="com.dqys.business.orm.pojo.repay.RepayRecord" keyProperty="id"
            useGeneratedKeys="true">
        insert into t_repay_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="iouId !=null">
                iou_id,
            </if>
            <if test="repayId !=null">
                repay_id,
            </if>
            <if test="repayPrincipal !=null">
                repay_principal,
            </if>
            <if test="repayInterest !=null">
                repay_interest,
            </if>
            <if test="repayFine !=null">
                repay_fine,
            </if>
            <if test="status !=null">
                status,
            </if>
            create_at,
            update_at,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="iouId !=null">
                #{iouId,jdbcType=INTEGER},
            </if>
            <if test="repayId !=null">
                #{repayId,jdbcType=INTEGER},
            </if>
            <if test="repayPrincipal !=null">
                #{repayPrincipal,jdbcType=DOUBLE},
            </if>
            <if test="repayInterest !=null">
                #{repayInterest,jdbcType=DOUBLE},
            </if>
            <if test="repayFine !=null">
                #{repayFine,jdbcType=DOUBLE},
            </if>
            <if test="status !=null">
                #{status,jdbcType=INTEGER},
            </if>
            now(),
            now(),
        </trim>
    </insert>
    <!--修改还款详情记录状态-->
    <update id="updateRecordSelective" parameterType="com.dqys.business.orm.pojo.repay.RepayRecord">
        update t_repay_record
        <set>
            <if test="status !=null">
                status=#{status,jdbcType=INTEGER}
            </if>
        </set>
        WHERE id=#{id,jdbcType=INTEGER}
    </update>
    <!--查询借据的业务id-->
    <select id="getBusinessId" resultType="int">
        SELECT bor.business_id from t_business_obj_re bor
        where bor.object_type=#{objectType} and
        bor.object_id IN
        <foreach collection="objectIds" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        GROUP BY bor.business_id
    </select>
    <!--根据业务id下所有借据的求和-->
    <select id="getIouSumByBusinessId" resultType="java.util.Map">
        SELECT SUM(iou.less_corpus) lessMoney,SUM(iou.accrual_arrears) accMoney,SUM(iou.penalty) penMoney
             from t_business_obj_re bor LEFT JOIN bt_iou iou
            ON iou.id=bor.object_id  and bor.object_type=#{objectType,jdbcType=INTEGER}
            where bor.business_id=#{businessId,jdbcType=INTEGER}
    </select>
    <!--修改业务表状态-->
    <update id="updateBusinessStatus">
        UPDATE business set status=#{status,jdbcType=INTEGER} WHERE id=#{id,jdbcType=INTEGER}
    </update>
    <!--添加延期申请记录-->
    <insert id="addDamageApply" parameterType="com.dqys.business.orm.pojo.repay.DamageApply" keyProperty="id" useGeneratedKeys="true">
        insert into t_damage_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="damage_date != null">
                damage_date,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="apply_user_id != null">
                apply_user_id,
            </if>
            <if test="eaxm_user_id != null">
                eaxm_user_id,
            </if>
            apply_date,
            <if test="apply_object_id != null">
                apply_object_id,
            </if>
            <if test="object_type != null">
                object_type,
            </if>
            <if test="damage_type != null">
                damage_type,
            </if>
            <if test="original_time != null">
                original_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="damage_date != null">
                #{damage_date},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="apply_user_id != null">
                #{apply_user_id},
            </if>
            <if test="eaxm_user_id != null">
                #{eaxm_user_id},
            </if>
            now(),
            <if test="apply_object_id != null">
                #{apply_object_id},
            </if>
            <if test="object_type != null">
                #{object_type},
            </if>
            <if test="damage_type != null">
                #{damage_type},
            </if>
            <if test="original_time != null">
                #{original_time},
            </if>
        </trim>
    </insert>
    <update id="updateDamageApply" parameterType="com.dqys.business.orm.pojo.repay.DamageApply">
        UPDATE t_damage_apply
        <set>
            <if test="damage_type != null">
                damage_type=#{damage_type},
            </if>
            <if test="original_time != null">
                original_time=#{original_time},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
            <if test="damage_date != null">
                damage_date=#{damage_date},
            </if>
        </set>
        WHERE id=#{id}
    </update>
    <!--根据条件查询延期申请记录-->
    <select id="selectByDamageApply" parameterType="com.dqys.business.orm.pojo.repay.DamageApply"
            resultType="com.dqys.business.orm.pojo.repay.DamageApply">
        SELECT * from t_damage_apply tda
        where 1=1
        <if test="apply_object_id !=null">
            and tda.apply_object_id=#{apply_object_id}
        </if>
        <if test="object_type !=null">
            and tda.object_type=#{object_type}
        </if>
        <if test="status !=null">
            and status=#{status}
        </if>
        <if test="apply_user_id !=null">
            and apply_user_id=#{apply_user_id}
        </if>
    </select>
    <select id="getDamageApply" parameterType="int"
            resultType="com.dqys.business.orm.pojo.repay.DamageApply">
        SELECT * from t_damage_apply tda
        where id=#{id}
    </select>
    <!--根据借款人获取借据-->
    <select id="getIouByLenderId" resultType="java.util.Map">
        SELECT iou.iou_no number,iou.id id from bt_iou iou
        where iou.lender_id=#{lenderId,jdbcType=INTEGER} and iou.stateflag=0 AND ioou.repay_status=1
    </select>
    <!--根据借款人获取抵押物-->
    <select id="getPawnByLenderId" resultType="java.util.Map">
        SELECT pawn.pawn_no number,pawn.id id from bt_pawn pawn LEFT JOIN bt_pi_relation bpr
        ON bpr.pawn_id=pawn.id LEFT JOIN bt_iou iou
        ON iou.id=bpr.iou_id
        where pawn.lender_id=#{lenderId,jdbcType=INTEGER} and pawn.stateflag=0 AND iou.repay_status=1
        GROUP BY pawn.id
    </select>
    <!--根据对象类型和对象id获取还款记录信息-->
    <select id="getRepayRecord" resultMap="BaseResultMapRepayRecord">
        SELECT rec.* from t_repay rep LEFT JOIN t_repay_record rec
        ON rec.repay_id=rep.id
        where rec.status=0 and rep.repay_fid=#{objectId,jdbcType=INTEGER}
        and rep.repay_fid_type=#{objectType,jdbcType=INTEGER}
    </select>
    <select id="getRepayRecordByRepayId" resultMap="BaseResultMapRepayRecord">
       SELECT * FROM t_repay_record rec
       WHERE rec.status=0 and rec.repay_id=#{repayId,jdbcType=INTEGER}
    </select>
    <!--查询金额总和-->
    <select id="getSumMoney" resultType="java.util.Map">
        <if test="type==1">
            SELECT (IF(bt.accrual IS null,0,bt.accrual)+IF(bt.loan IS null,0,bt.loan)) total from bt_asset bt
            where id=#{id}
        </if>
        <if test="type==2">
            SELECT (IF(bt.accrual IS null,0,bt.accrual)+IF(bt.loan IS null,0,bt.loan)) total from bt_lender bt
            where id=#{id}
        </if>
        <if test="type==3">
            SELECT (IF(bt.less_corpus IS null,0,bt.less_corpus)+IF(bt.accrual_arrears IS
            null,0,bt.accrual_arrears)+IF(bt.penalty IS null,0,bt.penalty)) total from bt_iou bt
            where id=#{id}
        </if>
    </select>
    <!--修改还款状态-->
    <update id="updateRepayStatus">
        <if test="type==1">
            UPDATE bt_asset set repay_status=#{repayStatus}
            where id=#{id}
        </if>
        <if test="type==2">
            UPDATE bt_lender set repay_status=#{repayStatus}
            where id=#{id}
        </if>
        <if test="type==3">
            UPDATE bt_iou set repay_status=#{repayStatus}
            where id=#{id}
        </if>
    </update>

    <select id="getIouIdByRecord" resultType="int" parameterType="int">
        SELECT iou_id FROM t_repay_record
        where repay_id=#{repayId}
    </select>
    <!--删除还款记录（伪删除）-->
    <update id="deleteByRepay" parameterType="int">
      UPDATE t_repay set stateflag=now()
        where id=#{repayId}
    </update>
    <!--还款记录列表-->
    <select id="selectByRepay" resultMap="BaseResultMapRepay" parameterType="com.dqys.business.orm.pojo.repay.Repay">
        SELECT rep.*,tui.real_name operUserName,bc.name lenderName from t_repay rep LEFT JOIN t_user_info tui
        ON tui.id=rep.oper_user_id LEFT JOIN bt_contact bc
        ON bc.mode=11 AND bc.mode_id=rep.lender_id AND bc.type=1
        where rep.stateflag=0
        <if test="repayType !=null">
            and rep.repay_type=#{repayType}
        </if>
        <if test="repayFidType !=null">
            and rep.repay_fid_type =#{repayFidType}
        </if>
        <if test="lenderId !=null">
            and rep.lender_id =#{lenderId}
        </if>
        ORDER BY rep.damage_date DESC
    </select>

    <select id="get" resultMap="BaseResultMapRepay">
        SELECT * FROM  t_repay
        where id=#{repayId}
    </select>
</mapper>