<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.business.orm.mapper.repay.RepayMapper">

    <!--扣除借据中的金额-->
    <update id="repayIou">
        UPDATE bt_iou
        <set>
            version=version+1,
            <if test="priMoney !=null">
                less_corpus=less_corpus-#{priMoney,jdbcType=DOUBLE},
                loan_repay=loan_repay+#{priMoney,jdbcType=DOUBLE},
            </if>
            <if test="accMoney !=null and penalty==null">
                accrual_arrears=accrual_arrears-#{accMoney,jdbcType=DOUBLE},
                accrual_repay=accrual_repay+#{accMoney,jdbcType=DOUBLE},
             </if>
            <if test="penalty !=null">
                accrual_arrears=accrual_arrears-#{accMoney,jdbcType=DOUBLE},
                penalty=penalty-#{penalty,jdbcType=DOUBLE},
                accrual_repay=accrual_repay+#{penalty,jdbcType=DOUBLE},
            </if>
        </set>
        WHERE id=#{iouId,jdbcType=INTEGER} and version=#{version,jdbcType=INTEGER}
    </update>
    <!--扣除借款人表的金额-->
    <update id="repayLender">
        UPDATE bt_lender
        <set>
            version=version+1,
            accrual=accrual-#{accMoney,jdbcType=DOUBLE},
            loan=loan-#{priMoney,jdbcType=DOUBLE},
        </set>
        WHERE id=#{lenderId,jdbcType=INTEGER} and version=#{version,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.dqys.business.orm.pojo.repay.Repay">
        update t_repay
        <set>
            <if test="damageDate != null">
                damage_date = #{damageDate,jdbcType=DATE},
            </if>
            <if test="repayType != null">
                repay_type = #{repayType,jdbcType=INTEGER},
            </if>
            <if test="operUserId != null">
                oper_user_id = #{operUserId,jdbcType=INTEGER},
            </if>
            <if test="iouId != null">
                iou_id = #{iouId,jdbcType=INTEGER},
            </if>
            <if test="repayM != null">
                repay_m = #{repayM,jdbcType=DOUBLE},
            </if>
            <if test="repayFid != null">
                repay_fid = #{repayFid,jdbcType=INTEGER},
            </if>
            <if test="repayWay != null">
                repay_way = #{repayWay,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="stateflag != null">
                stateflag = #{stateflag,jdbcType=BIGINT},
            </if>
            <if test="repayBills != null">
                repay_bills = #{repayBills,jdbcType=LONGVARBINARY},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="insertSelective" parameterType="com.dqys.business.orm.pojo.repay.Repay">
        insert into t_repay
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="damageDate != null">
                damage_date,
            </if>
            <if test="repayType != null">
                repay_type,
            </if>
            <if test="operUserId != null">
                oper_user_id,
            </if>
            <if test="iouId != null">
                iou_id,
            </if>
            <if test="repayM != null">
                repay_m,
            </if>
            <if test="repayFid != null">
                repay_fid,
            </if>
            <if test="repayWay != null">
                repay_way,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
            <if test="stateflag != null">
                stateflag,
            </if>
            <if test="repayBills != null">
                repay_bills,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="damageDate != null">
                #{damageDate,jdbcType=DATE},
            </if>
            <if test="repayType != null">
                #{repayType,jdbcType=INTEGER},
            </if>
            <if test="operUserId != null">
                #{operUserId,jdbcType=INTEGER},
            </if>
            <if test="iouId != null">
                #{iouId,jdbcType=INTEGER},
            </if>
            <if test="repayM != null">
                #{repayM,jdbcType=DOUBLE},
            </if>
            <if test="repayFid != null">
                #{repayFid,jdbcType=INTEGER},
            </if>
            <if test="repayWay != null">
                #{repayWay,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="createAt != null">
                #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateAt != null">
                #{updateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="stateflag != null">
                #{stateflag,jdbcType=BIGINT},
            </if>
            <if test="repayBills != null">
                #{repayBills,jdbcType=LONGVARBINARY},
            </if>
        </trim>
    </insert>

    <!--查询借据的业务id-->
    <select id="getBusinessId" resultType="int">
        SELECT bor.business_id from t_business_obj_re bor
        where bor.object_type=#{objectType} and
        bor.object_id IN
        <foreach collection="objectIds" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        GROUP BY bor.business_id
    </select>
    <!--根据业务id下所有借据的求和-->
    <select id="getIouSumByBusinessId" resultType="java.util.Map">
        SELECT SUM(iou.less_corpus) lessMoney,SUM(iou.accrual_arrears) accMoney,SUM(iou.penalty) penMoney
             from t_business_obj_re bor LEFT JOIN bt_iou iou
            ON iou.id=bor.object_id  and bor.object_type=#{objectType,jdbcType=INTEGER}
            where bor.business_id=#{businessId,jdbcType=INTEGER}
    </select>
    <!--修改业务表状态-->
    <update id="updateBusinessStatus">
        UPDATE business set status=#{status,jdbcType=INTEGER} WHERE id=#{id,jdbcType=INTEGER}
    </update>

</mapper>