<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.business.orm.mapper.asset.ContactInfoMapper" >

  <resultMap id="BaseResultMap" type="com.dqys.business.orm.pojo.asset.ContactInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="stateflag" property="stateflag" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="mode" property="mode" jdbcType="VARCHAR" />
    <result column="mode_id" property="modeId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="avg" property="avg" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="idcard" property="idCard" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="home_tel" property="homeTel" jdbcType="VARCHAR" />
    <result column="office_tel" property="officeTel" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="other_address" property="otherAddress" jdbcType="LONGVARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
  </resultMap>

  <!-- 基础字段 -->
  <sql id="Base_Column_List" >
    id, version, create_at, update_at, stateflag, remark, name, type, avg, gender, idcard, 
    company, mobile, home_tel, office_tel, email, province, city, district, address,
    code, mode, mode_id, other_address
  </sql>

  <sql id="Query_condition">
    <where>
      stateflag = 0
      <if test="id != null">
       AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="mode != null" >
        AND mode = #{mode,jdbcType=VARCHAR}
      </if>
      <if test="modeId != null" >
        AND mode_id = #{modeId,jdbcType=VARCHAR}
      </if>
      <if test="name != null" >
        AND name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="type != null" >
        AND type = #{type,jdbcType=INTEGER}
      </if>
      <if test="idCard != null" >
        AND idcard = #{idCard,jdbcType=VARCHAR}
      </if>
      <if test="mobile != null" >
        AND mobile = #{mobile,jdbcType=VARCHAR}
      </if>
      <if test="email != null" >
        AND email = #{email,jdbcType=VARCHAR}
      </if>
      <if test="code != null" >
        AND code = #{code,jdbcType=VARCHAR}
      </if>

      <if test="idCardLike != null">
       AND idcard like CONCAT('%',#{idCardLike,jdbcType=VARCHAR},'%')
      </if>
      <if test="nameLike != null">
       AND name like CONCAT('%',#{nameLike,jdbcType=VARCHAR},'%')
      </if>
      <if test="mobileLike != null">
       AND mobile like CONCAT('%',#{mobile,jdbcType=VARCHAR},'%')
      </if>
      <if test="listSearch != null">
       AND (name like CONCAT('%',#{listSearch,jdbcType=VARCHAR},'%')
        OR mobile like CONCAT('%',#{listSearch,jdbcType=VARCHAR},'%'))
      </if>

    </where>
  </sql>

  <!-- 逻辑删除-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    UPDATE bt_contact SET stateflag = CURRENT_TIMESTAMP
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!-- 根据模块以及模块ID逻辑删除 -->
  <delete id="deleteByMode">
    UPDATE bt_contact SET stateflag = CURRENT_TIMESTAMP
    where stateflag = 0 AND mode = #{mode,jdbcType=VARCHAR} AND mode_id = #{id,jdbcType=INTEGER}
  </delete>

  <!-- 新增 -->
  <insert id="insert" parameterType="com.dqys.business.orm.pojo.asset.ContactInfo" useGeneratedKeys="true" keyProperty="id">
    insert into bt_contact
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="remark != null" >
        remark,
      </if>
      <if test="mode != null" >
        mode,
      </if>
      <if test="modeId != null" >
        mode_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="avg != null" >
        avg,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="idCard != null" >
        idcard,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="homeTel != null" >
        home_tel,
      </if>
      <if test="officeTel != null" >
        office_tel,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="otherAddress != null" >
        other_address,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="memo != null" >
        memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="mode != null" >
        #{mode,jdbcType=VARCHAR},
      </if>
      <if test="modeId != null" >
        #{modeId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="avg != null" >
        #{avg,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="homeTel != null" >
        #{homeTel,jdbcType=VARCHAR},
      </if>
      <if test="officeTel != null" >
        #{officeTel,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="otherAddress != null" >
        #{otherAddress,jdbcType=LONGVARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!-- 获取单个实例 -->
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from bt_contact
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!-- 修改 -->
  <update id="update" parameterType="com.dqys.business.orm.pojo.asset.ContactInfo" >
    update bt_contact
    <set >
      version = version+1,
      update_at = CURRENT_TIMESTAMP ,
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="mode != null" >
        mode = #{mode,jdbcType=VARCHAR},
      </if>
      <if test="modeId != null" >
        mode_id = #{modeId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="avg != null" >
        avg = #{avg,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        idcard = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="homeTel != null" >
        home_tel = #{homeTel,jdbcType=VARCHAR},
      </if>
      <if test="officeTel != null" >
        office_tel = #{officeTel,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="otherAddress != null" >
        other_address = #{otherAddress,jdbcType=LONGVARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryList" parameterType="com.dqys.business.orm.query.asset.ContactQuery" resultMap="BaseResultMap">
    SELECT * FROM bt_contact
    <include refid="Query_condition" />
    ORDER by id DESC
  </select>

  <!-- 获取特定模块特定类型的联系人信息 -->
  <select id="getByModel" resultMap="BaseResultMap">
    SELECT * from bt_contact
    where stateflag = 0 AND mode = #{model,jdbcType=VARCHAR}
    AND mode_id = #{id,jdbcType=INTEGER} AND type = #{type,jdbcType=INTEGER}
    limit 0,1
  </select>


  <select id="listByMode" resultMap="BaseResultMap">
    SELECT * from bt_contact
    where stateflag = 0 AND mode = #{model,jdbcType=VARCHAR} AND mode_id = #{id,jdbcType=INTEGER}
  </select>
  
</mapper>