<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.business.orm.mapper.asset.LenderInfoMapper">

    <resultMap id="BaseResultMap" type="com.dqys.business.orm.pojo.asset.LenderInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP"/>
        <result column="stateflag" property="stateflag" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="asset_id" property="assetId" jdbcType="INTEGER"/>
        <result column="start_at" property="startAt" jdbcType="TIMESTAMP"/>
        <result column="end_at" property="endAt" jdbcType="TIMESTAMP"/>
        <result column="operator" property="operator" jdbcType="INTEGER"/>
        <result column="accrual" property="accrual" jdbcType="DOUBLE"/>
        <result column="loan" property="loan" jdbcType="DOUBLE"/>
        <result column="appraisal" property="appraisal" jdbcType="DOUBLE"/>
        <result column="loan_type" property="loanType" jdbcType="VARCHAR"/>
        <result column="loan_mode" property="loanMode" jdbcType="VARCHAR"/>
        <result column="loan_name" property="loanName" jdbcType="VARCHAR"/>
        <result column="evaluate_excellent" property="evaluateExcellent" jdbcType="VARCHAR"/>
        <result column="evaluate_level" property="evaluateLevel" jdbcType="VARCHAR"/>
        <result column="dispose_mode" property="disposeMode" jdbcType="VARCHAR"/>
        <result column="tags" property="tags" jdbcType="VARCHAR"/>
        <result column="urge_type" property="urgeType" jdbcType="VARCHAR"/>
        <result column="entrust_born_type" property="entrustBornType" jdbcType="VARCHAR"/>
        <result column="entrust_born" property="entrustBorn" jdbcType="VARCHAR"/>
        <result column="guarantee_type" property="guaranteeType" jdbcType="VARCHAR"/>
        <result column="guarantee_mode" property="guaranteeMode" jdbcType="VARCHAR"/>
        <result column="guarantee_source" property="guaranteeSource" jdbcType="VARCHAR"/>
        <result column="is_guarantee_connection" property="isGuaranteeConnection" jdbcType="INTEGER"/>
        <result column="guarentee_economic" property="guarenteeEconomic" jdbcType="VARCHAR"/>
        <result column="is_lawsuit" property="isLawsuit" jdbcType="INTEGER"/>
        <result column="is_decision" property="isDecision" jdbcType="INTEGER"/>
        <result column="real_urge_time" property="realUrgeTime" jdbcType="INTEGER"/>
        <result column="phone_urge_time" property="phoneUrgeTime" jdbcType="INTEGER"/>
        <result column="entrust_urge_time" property="entrustUrgeTime" jdbcType="INTEGER"/>
        <result column="can_contact" property="canContact" jdbcType="INTEGER"/>
        <result column="can_pay" property="canPay" jdbcType="INTEGER"/>
        <result column="is_worth" property="isWorth" jdbcType="INTEGER"/>
        <result column="memo" property="memo" jdbcType="VARCHAR"/>
        <result column="is_collection" property="isCollection" jdbcType="INTEGER"/>
        <result column="is_lawyer" property="isLawyer" jdbcType="INTEGER"/>
        <result column="is_agent" property="isAgent" jdbcType="INTEGER"/>
        <result column="follow_up_times" property="followUpTime" jdbcType="INTEGER"/>
        <result column="follow_up_time" property="followUpDate" jdbcType="TIMESTAMP"/>
        <result column="is_stop" property="isStop" jdbcType="INTEGER"/>
        <result column="belong_follow_time" property="belongFollowTime" jdbcType="TIMESTAMP"/>
        <result column="belong_follow_times" property="belongFollowTimes" jdbcType="INTEGER"/>
        <result column="repay_status" property="repayStatus" jdbcType="INTEGER"/>
        <result column="lender_no" property="lenderNo" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="entrust_name" property="entrustName" jdbcType="VARCHAR"/>
        <result column="attribute" property="attribute" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 基础字段 -->
    <sql id="Base_Column_List">
    id, version, create_at, update_at, stateflag, remark, asset_id, start_at, end_at, operator,
    accrual, loan, appraisal, loan_type, loan_mode, loan_name, evaluate_excellent, evaluate_level,
    dispose_mode, tags, urge_type, entrust_born_type, entrust_born, guarantee_type, guarantee_mode,
    guarantee_source, is_guarantee_connection, guarentee_economic, is_lawsuit, is_decision, real_urge_time,
    phone_urge_time, entrust_urge_time, can_contact, can_pay, is_worth, memo, lender_no, is_collection, is_lawyer,
    is_agent, follow_up_times, is_stop, follow_up_time, belong_follow_time, belong_follow_times, repay_status,
    type, entrust_name, attribute
  </sql>

    <!-- 这里：stateflag(null有效状态，0全，非null非0为无效状态)
              isStop(false,查询0，true,查询1)
     -->
    <sql id="Query_Condition">
        <where>
            <if test="stateflag != null and stateflag != 0">
                AND stateflag != 0
            </if>
            <if test="stateflag == null">
                AND stateflag = 0
            </if>
            <if test="assetId != null">
                AND asset_id = #{assetId,jdbcType=INTEGER}
            </if>
            <if test="assetIds != null">
                AND asset_id IN
                <foreach collection="assetIds" item="assetId" separator="," open="(" close=")" index="index">
                    #{assetId}
                </foreach>
            </if>
            <if test="lenderId != null">
                AND id = #{lenderId,jdbcType=INTEGER}
            </if>
            <if test="canContact != null">
                AND can_contact = #{canContact,jdbcType=INTEGER}
            </if>
            <if test="isWorth != null">
                AND is_worth = #{isWorth,jdbcType=INTEGER}
            </if>
            <if test="entrustName != null">
                AND entrust_name LIKE CONCAT('%',#{entrustName,jdbcType=VARCHAR},'%')
            </if>
            <if test="repayStatus != null">
                AND repay_status = #{repayStatus,jdbcType=INTEGER}
            </if>
            <if test="operator != null">
                AND operator = #{operator,jdbcType=INTEGER}
            </if>
            <if test="stopStatus != null">
                AND is_stop = #{stopStatus,jdbcType=INTEGER}
            </if>


            <if test="startAt != null">
                <![CDATA[ AND create_at >= #{startAt} ]]>
            </if>
            <if test="endAt != null">
                <![CDATA[ AND create_at <= #{endAt} ]]>
            </if>
            <if test="followDate != null">
                <![CDATA[ AND belong_follow_time < #{followDate} ]]>
            </if>


            <if test="over">
                AND accrual = 0 AND loan = 0
            </if>
            <if test="asset">
                AND asset_id > 0
            </if>
            <if test="collection">
                AND is_collection > 0
            </if>
            <if test="agent">
                AND is_agent > 0
            </if>
            <if test="lawyer">
                AND is_lawyer > 0
            </if>
            <if test="notAsset">
                AND asset_id is NULL
            </if>
            <if test="stop">
                AND is_stop = 1
            </if>
            <if test="takePart">
                AND (is_collection = 1 OR is_lawyer = 1 OR is_agent = 1)
            </if>
            <if test="noTakePart">
                AND is_collection = 0 AND is_lawyer = 0 AND is_agent = 0
            </if>
            <if test="outTime !=null and outTime==true">
                AND CURRENT_TIME > end_at
            </if>
            <if test="outTime !=null and outTime==false">
                AND CURRENT_TIME &lt; end_at
            </if>

            <if test="listSearch != null">
                AND (memo LIKE CONCAT('%', #{listSearch,jdbcType=VARCHAR} ,'%')
                OR lender_no LIKE CONCAT('%', #{listSearch,jdbcType=VARCHAR} ,'%'))
            </if>

            <if test="id !=null ">
                AND id=#{id}
            </if>
            <if test="ids != null and ids.size() > 0">
                AND id in
                <foreach collection="ids" item="i" open="(" close=")" separator=",">
                    #{i}
                </foreach>
            </if>
            <if test="exceptIds != null and exceptIds.size() > 0">
                AND id NOT in
                <foreach collection="exceptIds" item="i" open="(" close=")" separator=",">
                    #{i}
                </foreach>
            </if>

        </where>
    </sql>

    <!-- 逻辑删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    UPDATE bt_lender SET stateflag = CURRENT_TIMESTAMP
    where id = #{id,jdbcType=INTEGER} AND stateflag = 0
  </delete>

    <!-- 新增 -->
    <insert id="insert" parameterType="com.dqys.business.orm.pojo.asset.LenderInfo" useGeneratedKeys="true"
            keyProperty="id">
        insert into bt_lender
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="remark != null">
                remark,
            </if>
            <if test="assetId != null">
                asset_id,
            </if>
            <if test="startAt != null">
                start_at,
            </if>
            <if test="endAt != null">
                end_at,
            </if>
            <if test="operator != null">
                operator,
            </if>
            <if test="accrual != null">
                accrual,
            </if>
            <if test="loan != null">
                loan,
            </if>
            <if test="appraisal != null">
                appraisal,
            </if>
            <if test="loanType != null">
                loan_type,
            </if>
            <if test="loanMode != null">
                loan_mode,
            </if>
            <if test="loanName != null">
                loan_name,
            </if>
            <if test="evaluateExcellent != null">
                evaluate_excellent,
            </if>
            <if test="evaluateLevel != null">
                evaluate_level,
            </if>
            <if test="disposeMode != null">
                dispose_mode,
            </if>
            <if test="tags != null">
                tags,
            </if>
            <if test="urgeType != null">
                urge_type,
            </if>
            <if test="entrustBornType != null">
                entrust_born_type,
            </if>
            <if test="entrustBorn != null">
                entrust_born,
            </if>
            <if test="guaranteeType != null">
                guarantee_type,
            </if>
            <if test="guaranteeMode != null">
                guarantee_mode,
            </if>
            <if test="guaranteeSource != null">
                guarantee_source,
            </if>
            <if test="isGuaranteeConnection != null">
                is_guarantee_connection,
            </if>
            <if test="guarenteeEconomic != null">
                guarentee_economic,
            </if>
            <if test="isLawsuit != null">
                is_lawsuit,
            </if>
            <if test="isDecision != null">
                is_decision,
            </if>
            <if test="realUrgeTime != null">
                real_urge_time,
            </if>
            <if test="phoneUrgeTime != null">
                phone_urge_time,
            </if>
            <if test="entrustUrgeTime != null">
                entrust_urge_time,
            </if>
            <if test="canContact != null">
                can_contact,
            </if>
            <if test="canPay != null">
                can_pay,
            </if>
            <if test="isWorth != null">
                is_worth,
            </if>
            <if test="memo != null">
                memo,
            </if>
            <if test="isCollection != null">
                is_collection,
            </if>
            <if test="isLawyer != null">
                is_lawyer,
            </if>
            <if test="isAgent != null">
                is_agent,
            </if>
            <if test="followUpTime != null">
                follow_up_times,
            </if>
            <if test="isStop != null">
                is_stop,
            </if>
            <if test="followUpDate != null">
                follow_up_time,
            </if>
            <if test="belongFollowTime != null">
                belong_follow_time,
            </if>
            <if test="belongFollowTimes != null">
                belong_follow_times,
            </if>
            <if test="repayStatus != null">
                repay_status,
            </if>
            <if test="lenderNo != null">
                lender_no,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="entrustName != null">
                entrust_name,
            </if>
            <if test="attribute != null">
                attribute,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="assetId != null">
                #{assetId,jdbcType=INTEGER},
            </if>
            <if test="startAt != null">
                #{startAt,jdbcType=TIMESTAMP},
            </if>
            <if test="endAt != null">
                #{endAt,jdbcType=TIMESTAMP},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=INTEGER},
            </if>
            <if test="accrual != null">
                #{accrual,jdbcType=DOUBLE},
            </if>
            <if test="loan != null">
                #{loan,jdbcType=DOUBLE},
            </if>
            <if test="appraisal != null">
                #{appraisal,jdbcType=DOUBLE},
            </if>
            <if test="loanType != null">
                #{loanType,jdbcType=VARCHAR},
            </if>
            <if test="loanMode != null">
                #{loanMode,jdbcType=VARCHAR},
            </if>
            <if test="loanName != null">
                #{loanName,jdbcType=VARCHAR},
            </if>
            <if test="evaluateExcellent != null">
                #{evaluateExcellent,jdbcType=VARCHAR},
            </if>
            <if test="evaluateLevel != null">
                #{evaluateLevel,jdbcType=VARCHAR},
            </if>
            <if test="disposeMode != null">
                #{disposeMode,jdbcType=VARCHAR},
            </if>
            <if test="tags != null">
                #{tags,jdbcType=VARCHAR},
            </if>
            <if test="urgeType != null">
                #{urgeType,jdbcType=VARCHAR},
            </if>
            <if test="entrustBornType != null">
                #{entrustBornType,jdbcType=VARCHAR},
            </if>
            <if test="entrustBorn != null">
                #{entrustBorn,jdbcType=VARCHAR},
            </if>
            <if test="guaranteeType != null">
                #{guaranteeType,jdbcType=VARCHAR},
            </if>
            <if test="guaranteeMode != null">
                #{guaranteeMode,jdbcType=VARCHAR},
            </if>
            <if test="guaranteeSource != null">
                #{guaranteeSource,jdbcType=VARCHAR},
            </if>
            <if test="isGuaranteeConnection != null">
                #{isGuaranteeConnection,jdbcType=INTEGER},
            </if>
            <if test="guarenteeEconomic != null">
                #{guarenteeEconomic,jdbcType=VARCHAR},
            </if>
            <if test="isLawsuit != null">
                #{isLawsuit,jdbcType=INTEGER},
            </if>
            <if test="isDecision != null">
                #{isDecision,jdbcType=INTEGER},
            </if>
            <if test="realUrgeTime != null">
                #{realUrgeTime,jdbcType=INTEGER},
            </if>
            <if test="phoneUrgeTime != null">
                #{phoneUrgeTime,jdbcType=INTEGER},
            </if>
            <if test="entrustUrgeTime != null">
                #{entrustUrgeTime,jdbcType=INTEGER},
            </if>
            <if test="canContact != null">
                #{canContact,jdbcType=INTEGER},
            </if>
            <if test="canPay != null">
                #{canPay,jdbcType=INTEGER},
            </if>
            <if test="isWorth != null">
                #{isWorth,jdbcType=INTEGER},
            </if>
            <if test="memo != null">
                #{memo,jdbcType=VARCHAR},
            </if>
            <if test="isCollection != null">
                #{isCollection,jdbcType=INTEGER},
            </if>
            <if test="isLawyer != null">
                #{isLawyer,jdbcType=INTEGER},
            </if>
            <if test="isAgent != null">
                #{isAgent,jdbcType=INTEGER},
            </if>
            <if test="followUpTime != null">
                #{followUpTime,jdbcType=INTEGER},
            </if>
            <if test="isStop != null">
                #{isStop,jdbcType=INTEGER},
            </if>
            <if test="followUpDate != null">
                #{followUpDate,jdbcType=TIMESTAMP},
            </if>
            <if test="belongFollowTime != null">
                #{belongFollowTime,jdbcType=TIMESTAMP},
            </if>
            <if test="belongFollowTimes != null">
                #{belongFollowTimes,jdbcType=INTEGER},
            </if>
            <if test="repayStatus != null">
                #{repayStatus,jdbcType=INTEGER},
            </if>
            <if test="lenderNo != null">
                #{lenderNo,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="entrustName != null">
                #{entrustName,jdbcType=VARCHAR},
            </if>
            <if test="attribute != null">
                #{attribute,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!-- 获取单个实例-->
    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from bt_lender
        where id = #{id,jdbcType=INTEGER}
    </select>
    <!--
      <select id="listByLenderId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from bt_lender
        where lender_id = #{lenderId,jdbcType=INTEGER}
      </select>-->

    <!-- 修改 -->
    <update id="update" parameterType="com.dqys.business.orm.pojo.asset.LenderInfo">
        update bt_lender
        <set>
            version = version+1,
            update_at = CURRENT_TIMESTAMP ,
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="assetId != null">
                asset_id = #{assetId,jdbcType=INTEGER},
            </if>
            <if test="startAt != null">
                start_at = #{startAt,jdbcType=TIMESTAMP},
            </if>
            <if test="endAt != null">
                end_at = #{endAt,jdbcType=TIMESTAMP},
            </if>
            <if test="operator != null">
                operator = #{operator,jdbcType=INTEGER},
            </if>
            <if test="accrual != null">
                accrual = #{accrual,jdbcType=DOUBLE},
            </if>
            <if test="loan != null">
                loan = #{loan,jdbcType=DOUBLE},
            </if>
            <if test="appraisal != null">
                appraisal = #{appraisal,jdbcType=DOUBLE},
            </if>
            <if test="loanType != null">
                loan_type = #{loanType,jdbcType=VARCHAR},
            </if>
            <if test="loanMode != null">
                loan_mode = #{loanMode,jdbcType=VARCHAR},
            </if>
            <if test="loanName != null">
                loan_name = #{loanName,jdbcType=VARCHAR},
            </if>
            <if test="evaluateExcellent != null">
                evaluate_excellent = #{evaluateExcellent,jdbcType=VARCHAR},
            </if>
            <if test="evaluateLevel != null">
                evaluate_level = #{evaluateLevel,jdbcType=VARCHAR},
            </if>
            <if test="disposeMode != null">
                dispose_mode = #{disposeMode,jdbcType=VARCHAR},
            </if>
            <if test="tags != null">
                tags = #{tags,jdbcType=VARCHAR},
            </if>
            <if test="urgeType != null">
                urge_type = #{urgeType,jdbcType=VARCHAR},
            </if>
            <if test="entrustBornType != null">
                entrust_born_type = #{entrustBornType,jdbcType=VARCHAR},
            </if>
            <if test="entrustBorn != null">
                entrust_born = #{entrustBorn,jdbcType=VARCHAR},
            </if>
            <if test="guaranteeType != null">
                guarantee_type = #{guaranteeType,jdbcType=VARCHAR},
            </if>
            <if test="guaranteeMode != null">
                guarantee_mode = #{guaranteeMode,jdbcType=VARCHAR},
            </if>
            <if test="guaranteeSource != null">
                guarantee_source = #{guaranteeSource,jdbcType=VARCHAR},
            </if>
            <if test="isGuaranteeConnection != null">
                is_guarantee_connection = #{isGuaranteeConnection,jdbcType=INTEGER},
            </if>
            <if test="guarenteeEconomic != null">
                guarentee_economic = #{guarenteeEconomic,jdbcType=VARCHAR},
            </if>
            <if test="isLawsuit != null">
                is_lawsuit = #{isLawsuit,jdbcType=INTEGER},
            </if>
            <if test="isDecision != null">
                is_decision = #{isDecision,jdbcType=INTEGER},
            </if>
            <if test="realUrgeTime != null">
                real_urge_time = #{realUrgeTime,jdbcType=INTEGER},
            </if>
            <if test="phoneUrgeTime != null">
                phone_urge_time = #{phoneUrgeTime,jdbcType=INTEGER},
            </if>
            <if test="entrustUrgeTime != null">
                entrust_urge_time = #{entrustUrgeTime,jdbcType=INTEGER},
            </if>
            <if test="canContact != null">
                can_contact = #{canContact,jdbcType=INTEGER},
            </if>
            <if test="canPay != null">
                can_pay = #{canPay,jdbcType=INTEGER},
            </if>
            <if test="isWorth != null">
                is_worth = #{isWorth,jdbcType=INTEGER},
            </if>
            <if test="memo != null">
                memo = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="isCollection != null">
                is_collection = #{isCollection,jdbcType=INTEGER},
            </if>
            <if test="isLawyer != null">
                is_lawyer = #{isLawyer,jdbcType=INTEGER},
            </if>
            <if test="isAgent != null">
                is_agent = #{isAgent,jdbcType=INTEGER},
            </if>
            <if test="followUpTime != null">
                follow_up_times = #{followUpTime,jdbcType=INTEGER},
            </if>
            <if test="isStop != null">
                is_stop = #{isStop,jdbcType=INTEGER},
            </if>
            <if test="followUpDate != null">
                follow_up_time = #{followUpDate,jdbcType=TIMESTAMP},
            </if>
            <if test="belongFollowTime != null">
                belong_follow_time = #{belongFollowTime,jdbcType=TIMESTAMP},
            </if>
            <if test="belongFollowTimes != null">
                belong_follow_times = #{belongFollowTimes,jdbcType=INTEGER},
            </if>
            <if test="repayStatus != null">
                repay_status = #{repayStatus,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="entrustName != null">
                entrust_name = #{entrustName,jdbcType=VARCHAR},
            </if>
            <if test="attribute != null">
                attribute = #{attribute,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 根据资产包ID获取借款人 -->
    <select id="listByAssetId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT * from bt_lender where stateflag = 0 AND asset_id = #{id,jdbcType=INTEGER}
  </select>

    <!-- 条件搜索借款人 -->
    <select id="queryList" parameterType="com.dqys.business.orm.query.asset.LenderQuery" resultMap="BaseResultMap">
        SELECT * from bt_lender
        <include refid="Query_Condition"/>
        ORDER BY update_at DESC
        <if test="isPaging">
            limit #{startPageNum,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
        </if>
    </select>

    <select id="queryCount" resultType="java.lang.Integer"
            parameterType="com.dqys.business.orm.query.asset.LenderQuery">
        SELECT COUNT(id) FROM bt_lender
        <include refid="Query_Condition"/>
    </select>

    <select id="likeList" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT id from bt_lender where memo LIKE CONCAT('%', #{listSearch,jdbcType=VARCHAR} ,'%')
        OR lender_no LIKE CONCAT('%', #{listSearch,jdbcType=VARCHAR} ,'%')
  </select>

    <select id="lenderAllByObjectUserRelation" resultType="java.lang.Integer">
        SELECT our.object_id from object_user_relation our WHERE our.stateflag=0
        <if test="objectType !=null">
            AND our.object_type=#{objectType}
        </if>
        <if test="userId !=null">
            AND our.user_id=#{userId}
        </if>
        <if test="objectType !=null and objectType==11">
            UNION
            SELECT len.id from bt_lender len WHERE len.stateflag=0
            <if test="userId !=null">
                AND len.operator=#{userId}
            </if>
        </if>
        <if test="objectType !=null and objectType==10">
            UNION
            SELECT ass.id from bt_asset ass WHERE ass.stateflag=0
            <if test="userId !=null">
                AND ass.operator=#{userId}
            </if>
        </if>
    </select>

    <!--根据借款人获取借款人下所有的借据-->
    <select id="getLenderBySumMoney" resultMap="BaseResultMap" parameterType="int">
       SELECT SUM(lender.accrual)accrual,SUM(lender.loan)loan,SUM(lender.appraisal)appraisal FROM bt_lender lender
        WHERE lender.stateflag=0 AND lender.asset_id=#{assetId,jdbcType=INTEGER}
    </select>

    <select id="findObjectIdByLender" resultType="int">
        SELECT bor.object_id FROM t_business_obj_re bor,business b,object_user_relation our
        WHERE bor.object_type=#{objectType} AND bor.object_type=our.object_type AND our.object_id=bor.object_id AND
        b.id=bor.business_id
        <if test="userId !=null">
            AND our.user_id=#{userId}
        </if>
        AND bor.stateflag=0 AND b.stateflag=0 AND b.`status` IN (1,3) AND
        (bor.object_id NOT IN (SELECT tut.object_id from t_user_team tut WHERE tut.stateflag=0 AND tut.status=0 AND
        tut.object_type=#{objectType} )
        OR
        bor.object_id NOT IN (SELECT tut.object_id FROM t_user_team tut,t_teammate_re ttr
        WHERE tut.id=ttr.user_team_id AND tut.stateflag=0 AND tut.status=0 AND tut.object_type=#{objectType} AND
        ttr.status=1
        <if test="roleType !=null">
            AND ttr.type=#{roleType}
        </if>
        )
        )
        GROUP BY bor.object_id
    </select>

</mapper>