<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.sale.orm.mapper.AssetFileMapper">
    <resultMap id="BaseResultMap" type="com.dqys.sale.orm.pojo.AssetFile">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="asset_id" property="assetId" jdbcType="INTEGER"/>
        <result column="filename" property="filename" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="asset_type" property="assetType" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, asset_id, filename, type, asset_type
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_asset_file
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_asset_file
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.dqys.sale.orm.pojo.AssetFile">
    insert into t_asset_file (id, asset_id, filename, 
      type, asset_type)
    values (#{id,jdbcType=INTEGER}, #{assetId,jdbcType=INTEGER}, #{filename,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{assetType,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.dqys.sale.orm.pojo.AssetFile">
        insert into t_asset_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="assetId != null">
                asset_id,
            </if>
            <if test="filename != null">
                filename,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="assetType != null">
                asset_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="assetId != null">
                #{assetId,jdbcType=INTEGER},
            </if>
            <if test="filename != null">
                #{filename,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="assetType != null">
                #{assetType,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dqys.sale.orm.pojo.AssetFile">
        update t_asset_file
        <set>
            <if test="assetId != null">
                asset_id = #{assetId,jdbcType=INTEGER},
            </if>
            <if test="filename != null">
                filename = #{filename,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="assetType != null">
                asset_type = #{assetType,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dqys.sale.orm.pojo.AssetFile">
    update t_asset_file
    set asset_id = #{assetId,jdbcType=INTEGER},
      filename = #{filename,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      asset_type = #{assetType,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectByAssetId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_asset_file WHERE asset_id=#{assetId} AND asset_type=#{objectType}
    </select>

</mapper>