<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqys.business.orm.mapper.business.BusinessObjReMapper">

    <resultMap id="BaseResultMap" type="com.dqys.business.orm.pojo.business.BusinessObjRe">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="object_id" property="objectId" jdbcType="INTEGER"/>
        <result column="object_type" property="objectType" jdbcType="INTEGER"/>
        <result column="business_id" property="businessId" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP"/>
        <result column="stateflag" property="stateflag" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, object_id, object_type, business_id, version, create_at, update_at, stateflag
  </sql>

    <sql id="select_query_condition">
        <if test="businessId != null">
            AND business_id = #{businessId,jdbcType=INTEGER}
        </if>
        <if test="objectType != null">
            AND objectType = #{objectType,jdbcType=INTEGER}
        </if>
        <if test="objectId != null">
            AND object_id = #{objectId,jdbcType=INTEGER}
        </if>
    </sql>

    <update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    UPDATE t_business_obj_re SET stateflag = CURRENT_TIMESTAMP
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_business_obj_re
        where id = #{id,jdbcType=INTEGER} AND stateflag = 0
    </select>

    <select id="getByObject" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_business_obj_re
        where object_type= #{type,jdbcType=INTEGER} AND object_id = #{id,jdbcType=INTEGER} AND stateflag = 0
    </select>

    <insert id="insert" parameterType="com.dqys.business.orm.pojo.business.BusinessObjRe" useGeneratedKeys="true"
            keyProperty="id">
    insert into t_business_obj_re (object_id, object_type, business_id)
    values (#{objectId,jdbcType=INTEGER}, #{objectType,jdbcType=INTEGER}, #{businessId,jdbcType=INTEGER})
  </insert>

    <update id="update" parameterType="com.dqys.business.orm.pojo.business.BusinessObjRe">
        update t_business_obj_re
        <set>
            <if test="objectId != null">
                object_id = #{objectId,jdbcType=INTEGER},
            </if>
            <if test="objectType != null">
                object_type = #{objectType,jdbcType=INTEGER},
            </if>
            <if test="businessId != null">
                business_id = #{businessId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER} AND stateflag = 0
    </update>

    <select id="listIdByTypeIdStatusUser" resultType="java.lang.Integer">
        SELECT bor.object_id FROM t_business_obj_re bor LEFT JOIN object_user_relation our
        ON our.object_id=bor.object_id LEFT JOIN business b
        ON b.id=bor.business_id
        WHERE bor.object_type = #{type,jdbcType=INTEGER} AND b.status = #{status,jdbcType=INTEGER} AND our.object_type=#{type,jdbcType=INTEGER}
        AND b.stateflag = 0 AND bor.stateflag = 0 AND bor.object_id not IN (
        SELECT tct.object_id FROM t_company_team tct LEFT JOIN t_company_team_re tctr
        ON tctr.company_team_id=tct.id LEFT JOIN t_user_tag tut
        ON tut.user_id=tctr.accepter_id
        WHERE tct.object_type=#{type} AND tut.user_type IN (31,32,33)
        AND tctr.`status`=1 AND tct.object_type=#{type} AND tut.user_id=#{userId,jdbcType=INTEGER}
        ) AND (our.user_id=#{userId,jdbcType=INTEGER} OR b.create_id=#{userId,jdbcType=INTEGER})
        GROUP BY bor.object_id
    </select>

    <select id="listIdByTypeIdStatus" resultType="java.lang.Integer">
    SELECT object_id FROM t_business_obj_re WHERE object_type = #{type,jdbcType=INTEGER} AND business_id in (
      SELECT id FROM business WHERE status = #{status,jdbcType=INTEGER} AND stateflag = 0
    ) AND stateflag = 0 AND object_id not IN (
        SELECT tct.object_id FROM t_company_team tct LEFT JOIN t_company_team_re tctr
        ON tctr.company_team_id=tct.id LEFT JOIN t_user_tag tut
        ON tut.user_id=tctr.accepter_id
        WHERE tct.object_type=#{type} AND tut.user_type IN (31,32,33)
        AND tctr.`status`=1 AND tct.object_type=#{type}
        )
  </select>

    <select id="auditObject" resultType="java.lang.Integer">
            SELECT bor.object_id from business b LEFT JOIN t_business_obj_re bor
            ON bor.business_id=b.id
            WHERE bor.object_type=#{objectType} AND b.`status`=1 GROUP BY bor.object_id
    </select>

    <select id="list" resultMap="BaseResultMap" parameterType="com.dqys.business.orm.query.business.BusinessObjReQuery">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_business_obj_re
        WHERE 1=1
        <include refid="select_query_condition"/>
    </select>


</mapper>